<div class="banner-section">
  <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active"> <img src="images/slide1.jpg" alt="First slide"> </div>
      <div class="carousel-item"> <img src="images/slide2.jpg" alt="Second slide"> </div>
      <div class="carousel-item"> <img src="images/slide3.jpg" alt="Third slide"> </div>
    </div>
  </div>
  <div class="search-container">
    <div class="search-container_inner">
      <div class="search-container_inner_in">
        <h1>abroad education</h1>
        <p>Lorem Lpsum is Simply Dummy Text of the Printing</p>
        <form name="form" (ngSubmit)="search()" #f="ngForm" novalidate>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..."  [(ngModel)]="model.keyword" #keyword="ngModel" name="keyword">
            <span class="input-group-btn">
            <button class="btn" type="submit"></button>
            </span> 
          </div>
        </form>
        <div class="advance-search"> <a [routerLink]="['/search']">Advanced Search</a> </div>
      </div>
    </div>
  </div>
</div>