<section class="section-block overflow-hidden latest-news">
	<div class="container">
    	<div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-style readmore header-style-white">
        	<div class="header-style-inner">
            <h2>Latest News</h2>
            </div>
            <div class="next-pre-arrow">
                <a routerLink="latest-news" class="btn btn-read-more btn-sm btn-warning">Read More</a>
            </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngFor="let single of news">
                <article class="news_row">
					<figure class="news-col-img"><a routerLink="/news/{{ single.slug}}"><img src="{{single.image | image:150:150}}" alt="{{single.title}}"></a></figure>          
                    <figcaption class="news-col-content">
                    	<h4><a routerLink="/news/{{ single.slug}}">{{single.title}}</a></h4>
                        <ul class="news_options">
                        	<li><i><img src="images/calendar.png" alt=""></i>{{ single.date | date: 'd MMM, yyyy' }}</li>
                           <!--  <li><a href="#"><i><img src="images/eye.png" alt=""></i> 59</a></li>
                           <li><a href="#"><i><img src="images/chat.png" alt=""></i> 19</a></li> -->
                        </ul>
                        <p>{{single.content | stripTags | trim_text:50 }}</p>
                    </figcaption>
                </article>
            </div>
        </div>
    </div>
</section>