<section class="section-block overflow-hidden recent-blog-block">
	<div class="container">
    	<div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-style readmore">
        	<div class="header-style-inner">
            <h2>recent blog</h2>
            </div>
            <div class="next-pre-arrow">
                <a routerLink="blog" class="btn btn-read-more btn-sm btn-warning">Read More</a>
            </div>
            </div> 
          	<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6 recent-block_col"  *ngFor="let single of blog">
            	<figure class="recent-blog-img"><a routerLink="/blog/{{single.slug}}"><img src="{{single.image | image:770:382}}" alt=""></a></figure>
                <figcaption class="recent-blog-content">
                	<ul class="news_options">
                        	<li><i><img src="images/calendar.png" alt=""></i>{{ single.created_at | date: 'd MMM, yyyy' }}</li>
                            <li><i> <img src="images/chat.png" alt=""/> </i>{{ single.blog_comment.length }} Comments</li>
                            <li><i><img src="images/user-icon.jpg" alt=""></i>{{ single.author}}</li>
                        </ul>
                     <h6><a routerLink="/blog/{{single.slug}}">{{single.title | trim_text:35:"..."}}</a></h6>
                     <p> {{ single.description | stripTags | trim_text:130:"..." }} </p>
                </figcaption>
            </article>
        </div>
    </div>
</section>