<section class="section-block overflow-hidden student-rating">
	<div class="container">
    	<div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-style readmore">
        	<div class="header-style-inner">
            <h2>Student Rating</h2>
            </div>
            <div class="next-pre-arrow">
                <a routerLink="student-rating" class="btn btn-read-more btn-sm btn-warning">Read More</a>
            </div>
            </div>
          
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngFor="let single of studentrating">
            	<article class="student-rating-col">
                	<figure class="student-rating-img"><a routerLink="university/{{single.university.slug}}"><img src="{{single.university.image | image:270:135 }}" alt=""></a></figure>
                    <figcaption class="student-rating-conent">
                    	<h5><a routerLink="university/{{single.university.slug}}">{{single.users.name}}</a></h5>
                      <!--  <ul class="rating_star">
                                            < li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                       <li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                       <li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                       <li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                       <li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                                           </ul> -->
                      <rating  [(ngModel)]="single.rating" [max]="5" [readonly]="true" [titles]="['one','two','three']"></rating>

                    </figcaption>
              </article>
          </div>
        </div>
    </div>
</section>