<section class="section-block overflow-hidden testimonials-block">
	<div class="container">
    	<div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-style readmore header-style-white">
        	<div class="header-style-inner">
            <h2>Testimonials</h2>
            </div>
            <div class="next-pre-arrow">
                <a routerLink="testimonials" class="btn btn-read-more btn-sm btn-warning">Read More</a>
            </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        	<div class="testimonial_text">
            <div class="testimonial_textin">
            	<div class="col-lg-6 testimonial_profile testimonial_profile1" *ngFor="let single of testimonial">  
                	<div class="test_top">
                    	<i> <img src="{{single.author_photo | image:102:102}}" alt=""> </i>

                        <h5> {{single.author_name}} </h5>
                        <small> {{single.title}} </small>
                    </div>
                    <div class="test_quato">
                 	   <p> {{single.statement | trim_text:195:"..."}}</p>
                	</div>
                </div>
               </div>
        	</div>	
        
            </div>
            
        </div>
    </div>
</section>