<section class="section-block overflow-hidden top-university">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-style readmore">
            <div class="header-style-inner">
            <h2>Top Universities</h2>
            </div>
            <div class="next-pre-arrow">
                <a routerLink="top-university" class="btn btn-read-more btn-sm btn-warning">Read More</a>
            </div>
            <!-- <ul class="next-pre-arrow">
                <li><a href="#" class="pre_arrow_btn"></a></li>
                <li><a href="#" class="next_arrow_btn"></a></li>
            </ul> -->
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let single of universities">
                <div class="top_university_col">
                
                  <label for="text" *ngIf="single?.id == 81">Sponsored by</label>
                <a routerLink="university/{{single.slug}}" ><img src="{{single.image | image:270:135 }}" alt=""></a>
                <div class="university_col_inner">

                    <h4>{{single.name | stripTags | trim_text:20:"..." }}</h4>
                    <p>{{single.description | stripTags | trim_text:80:"..." }}</p> 
                     <a  routerLink="university/{{single.slug}}" class="btn-default">Click here</a>
                     
                    
                        <rating  *ngIf="single?.avg_ratings.length == 0"  [(ngModel)]="single?.avg_ratings.average" [max]="5" [readonly]="true" [titles]="['one','two','three']"></rating>
                        <rating  *ngIf="single?.avg_ratings.length > 0" [(ngModel)]="single?.avg_ratings[0].average" [max]="5" [readonly]="true" [titles]="['one','two','three']"></rating>
                </div>
                </div>
          </div>
        </div>
    </div>
</section>