@media (max-width:1199px)
{
.logo{min-height: 64px;padding: 10px 5px 10px 0;}
.logo img{width:120px;}
.container{max-width:1170px !important;width:100% !important;}
.custom_header .navbar-nav .nav-link{padding: 0 10px;}
.custom_header .nav {	margin: 16px 0;}
.custom_header{min-height:inherit;}
.search-container{max-width: 610px;}
h1{font-size: 50px;line-height:normal;}
.search-container p{margin-bottom: 0;}
.header-style:after, .header-style:before{display:none;}
.header-style h2::after{left:0;bottom:0;top:inherit}
.next-pre-arrow{position:absolute;top:0;right:5px;}
.testimonial_textin{width:100%}
.testimonial_textin::before{display:none;}
.testimonial_profile1, .testimonial_profile{position:static;}
.newsletter {	width: 35%;}
.email {	width: 65%;}
.subscribe{right: 15px;}
.footer_edu {	width: 31%;}
.footer_in p{padding-right:0;}
.links{width: 18%;}
.get-in-touch{width:32%;}

.inner_banner{min-height:222px;}
.inner_banner_caption{height:222px;}

/*about inner-page CSS*/
.about_left h3{font-size:28px; line-height:30px; margin-bottom:10px;}
.about_sec_right{padding-top:0;}


/*blog inner-page CSS*/
.blog_text h3{font-size:32px;}

/*contact inner-page CSS*/
.input_contact{width:48.5%;}
.full_input{width:100%;}

/*blog_innner CSS*/
.author figcaption{width:79%;}

/*university CSS*/
.university h3{font-size:32px; padding-bottom:25px;}

.university_info ul li{padding-bottom:16px;}
.university_info ul{padding:15px;}
.university_info{padding:15px;}

.divTableRow .divTableCell:nth-child(2){width:57%;}

/*login CSS*/
.log_in .header-style{margin-bottom:19px;margin-top:30px;}
.log_in{padding:0 0 60px;}

/*profile CSS*/
.profile_social li{padding:0 7px;}
.profile_cell ul{float:left; width:100%; position:static;}
.profile_cell figure{width:30%;}
.profile_cell figcaption{width:70%;}
.profile_cell h5{padding-top:0; line-height:22px; margin-bottom:0; padding-right:0;}

/*compare CSS*/
.compare{padding:30px 0 50px;}
.compare_btn{padding:0 22px; line-height:52px; margin-top:8px;}
}

@media (max-width:1023px)
{
.custom_header .navbar-nav .nav-link{padding: 0 9px;}
.news-col-content{padding-left: 15px;}
.recent-blog-block {padding: 50px 0;}
.rating_outer{width:100%;}
.rating_outer .rating_user {width:20%;}
.links h4{margin-bottom:10px;}
.blog_inner_right h4{ font-size: 18px; }
}
@media (max-width:991px){
/*.custom_header{background:#fff !important;}
.logo:after, .logo:before{display:none;}*/
.testimonials-block{ display: none; }
.logo{margin-left:15px;}
.custom_header .container{padding:0;}
#navbar-header{	width: 100%;	float: left;	clear: both;}	
.navbar-dark .navbar-toggler{float:right;margin:12px 0 0;background:url(images/menu_icon.png) no-repeat center center !important;border:none;cursor:pointer;z-index:999999;}
.custom_header .nav {width: 100%;float:left;padding:20px 0;background:#333;margin:0;}
.custom_header .navbar-nav .nav-item:after, .custom_header .navbar-nav .nav-item:before{display:none;}
.custom_header .navbar-nav .nav-item{border-bottom:1px rgba(255,255,255,0.2) solid;}
.regitration{display:inline-block !important;}
#navbar-header .navbar-nav .nav-item .active::before, .custom_header .navbar-nav .nav-item .nav-link::after{display: none;}

.login_btn, .regitration-btn{border-bottom:none !important;float:left !important;width:auto !important;margin-top:15px}
.search-container {	max-width: 470px;}
h1 {font-size: 36px;line-height: normal;}
.search-container input[type="text"]{height: 53px;}
.search-container .btn{height: 53px;}
h2{font-size: 36px;letter-spacing: 0px;}
h4{font-size: 16px;line-height: 20px}
p{font-size: 13px;line-height: 19px;}
.top_university_col .rating_star {	float: right;	width: 100%;margin: 5px 0;}
.student-rating-col h5 {	margin: 0;	padding-right: 0;}
.student-rating-col .rating_star {	position: static;	right: 0;	top: 0;	float: left;}
.student-rating-conent{padding-bottom:35px}
.testimonial_profile{width:100%;}
.testimonial_profile1{display:none;}
.newsletter {	width: 100%;	text-align: center;	margin: 0 0 20px;}
.email {width: 100%;}
.student-rating-col h5 {font-size:16px;	margin: 0;}
.footer_edu h4{font-size: 20px;margin-bottom: 10px;}
.footer_edu {	width: 40%;	float: left;}
.links {	width: 30%;	float: left;}
.footer_in ul li a{line-height:inherit;}
.get-in-touch{width:100%;float:left;}
.contact li{float: left;width: 50%;min-height: 60px;}

/*about inner-page CSS*/
.inner_banner{min-height:200px;}
.inner_banner_caption{height:200px;}
.inner_banner_text h2{font-size:42px; line-height:42px; margin-bottom:0;}
.about_left_img img{width:100%;}

.about_right_img{max-width:570px; margin:0 auto; float:none; margin-top:20px;}

.about_info{padding:35px 0 50px;}
.about_section{padding:27px 0 50px;}

/*blog inner-page CSS*/
.copyright{ padding-left: 10px; padding-right: 10px; }
.blog_img img{width:100%;}
.popular_cell{border-bottom:none; padding-right:8px;}
.popular_cell h5{margin:5px 0 3px;}

/*testimonials CSS*/
.test_in p{padding-top:0;}

/*contact CSS*/
.input_contact{width:100%;}
.input_email{margin:10px 0 0 0;}
.input_contact{height:53px;}
.contact_img{margin-right:20px;}
.contact_info li{font-size:17px;}
.inner_page_contact{padding:34px 0;}
.contact_left h2, .contact_right h2{font-size:30px;}

/*university CSS*/
.university h3 {font-size: 26px;padding-bottom: 18px;}
.commts{height:160px;}
.university_img img{width:100%;}
.university_info ul li{width:50%;}
.uni_form{padding:20px;}
.divTableCell, .divTableHead{line-height:18px; padding:11px 0;}
.divTableRow .divTableCell:first-child{width:6%;}

/*login CSS*/
.login_icon{height:50px;}
.login_id{height:52px;}
.log_top{margin-top:12px;}
.log_in_sumbit{float:left; margin-top:15px;}
.terms{margin-top:20px;}
.uni_form{width:100%;}
.uni_map{width:100%;}
.uni_map img{height:300px;}

.inner_banner_text ul{width:100%; float:left;}
.inner_banner_text ul li:first-child{padding-left:0;}

/*profile CSS*/
.profile_social li{width:33%; float:left; padding:0 3px;}
.profile_text ul li{width:100%;}
.profile_text ul li:nth-child(2n){float:left;}
.profile_text ul li:nth-child(7){margin-bottom:10px;}

.profile_cell figcaption{width:100%;}
.profile_cell i{text-align:center; float:left; width:100%; margin:0 0 10px 0;}
.profile_cell i img{float:none;}
.profile_cell figure{width:100%;}

/*compare CSS*/
.uni_name{min-height:175px;}
.uni_info h4{font-size:20px;}
.uni_name{padding:20px 15px 25px;}
.uni_info{padding:32px 15px 40px;}
.uni_info_inner h5{font-size:18px;}
.compare_btn{font-size:17px; line-height:48px; padding:0 16px;}
.search_compare{margin:36px auto 0;}

/*faq CSS*/
.faq_cell{padding:26px 0;}
.faq_cell h3{font-size:26px;}
.faq_cell p{padding:5px 0 0 42px;}



/*account_sec CSS*/
.account_sec{padding:60px 0;}
.account_profile{margin-right: 30px; width: 25%;}
.ac_info h2{font-size:24px; margin-bottom:5px;}
.ac_info li{padding-bottom:6px;}
.account_right{padding:25px 20px;}
.account_left ul li{ line-height: normal; padding-top: 10px; padding-bottom: 10px;}
.account_sec{padding: 40px 0;}

.contact li { float: left; min-height: 90px; padding-right: 15px; width: 50%;}
.no-padding{ padding:0px;}

.popular_cell h5 a{ font-size:13px; line-height: normal;}
.popular_cell h5{ margin-top:0px; }

}

@media (max-width:767px){
h1 {	font-size: 26px;}	
.search-container p{display:none;}
.search-container input[type="text"] {	height: 43px;	padding: 0 10px;}
.search-container .btn{height:43px;background-size:20px auto;width:60px;}
.search-container {	max-width: 380px;}
.top-university {padding: 0  0 30px;}
.get-in-touch{margin-top:20px;}
h2 {	font-size: 26px;	letter-spacing: 0px;	line-height: normal;}

/*about inner-page CSS*/
.inner_banner_text ul li{font-size:15px; /* padding-left:16px; */}
.inner_banner_text ul li a:after{right:-7px;}
.inner_banner_text ul li a{font-size:15px;}
.inner_banner_text ul{width:100%; float:left;}
.inner_banner_text ul li:first-child{padding-left:0;}
.inner_banner_text h2{font-size:34px; line-height:34px; margin:0;}
.inner_banner_text ul li{/* padding-left:22px; */}
.inner_banner_text ul li a::after{right:-10px !important; top:1px;}
.about_right_img{margin-top:10px;}
.about_right_img{width:100%;}
.about_right_img img{width:100%;}

/*blog inner-page CSS*/
.blog_text h3{font-size:28px;}
.blog_text{padding:20px;}
.blog_inner{padding:15px 0 22px;}
.pagination_row{padding:30px 0 0;}

/*testimonials CSS*/
.test_in p{padding-top:20px;}
.testimonial{padding:0 0 30px;}
.test_text{padding-top:25px;}

/*contact CSS*/
.contact_right{margin-top:30px;}
.contact_right p {margin-top: 25px; padding-bottom: 23px;}

/*blog_innner CSS*/
.author figcaption{width:75%;}
.author_btn small{padding:0 15px 0 0;}
.author p{padding:0;}
.blog_contact h3{font-size:30px; padding-bottom:15px;}
.leave_input{width:85%;}

/*university CSS*/
.university h3 {font-size: 19px;padding-bottom: 10px;}
.uni_form{width:100%;}
.uni_map{width:100%;}
.university{padding:22px 0 45px;}
.uni_text {padding-bottom: 33px;padding-top: 10px;}
.uni_table{margin-top:30px;}
.divTableRow .divTableCell:nth-child(3){width:21%;}
.table_head .divTableCell{font-size:15px !important;}

.table-outer{overflow-x: scroll; }
.divTable{width:768px !important; padding-right:15px !important;}

/*login CSS*/
.log_inner a{float:left; margin-top:10px;}
.log_top{margin-top:20px;}
.log_in{padding:0 0 40px;}

/*profile CSS*/
.profile{padding:40px 0;}
.profile_social{width:100%; max-width:200px; float:none; padding:20px 10px; display:inline-block;}
.profile_info{text-align:center; margin-bottom:20px;}

.profile_cell figcaption{width:75%;}
.profile_cell i{float:left; width:auto; margin:0 10px 0px 0;}
.profile_cell i img{float:left;}
.profile_cell figure{width:25%;}

/*compare CSS*/
.uni_name{min-height:inherit;}
.uni_info{min-height:inherit;}
.search_compare{margin:2% auto; max-width:100%;}
.compare_col2{border:1px solid #d8d8d8}

.uni_name h4{font-size:20px;}
.uni_name i img{width:100%;}
.compare{padding:18px 0 50px;}

.compare_col3 .uni_info{display:none;}
.compare_col3 .uni_name{border-bottom:none;}
.compare_col3 .uni_name{padding:20px 15px;}

/*faq CSS*/
.faq_cell p{padding:3px 0 0 42px;}
.faq_cell{padding:15px 0 20px;}

/*account_sec CSS*/
.account_left ul li{margin-right:7px; width:32%; float:left;}
.account_right{margin-top:20px;}

.copy_right, .designby{ line-height: normal; width: 100%; text-align: center; }
.copyright p{ line-height: normal; padding:3px 0;}
}




@media (max-width:575px){
.search-container {	max-width: 100%;	width: 100%;	float: left;	background: #094293;	position: static;padding:20px 15px;}
h1 {font-size: 22px;margin-bottom:10px;}
.top_university_col, .student-rating-col, .recent-block_col{margin-bottom:20px;}
.header-style h2{padding-bottom: 8px;padding-top: 8px;}
.next-pre-arrow{margin: 7px 0;}
h2{font-size:20px;}
.news-col-content{padding-top: 0;}
h4 {	font-size: 15px;	line-height: 20px;}
.news_options li a{font-size:12px;}
.news_options li{margin-right: 10px;}
.testimonial_textin, .testimonial_text{height:auto;min-height:inherit;margin:0;}
.testimonial_text{width: 100%;float: left;padding: 5px 0 0;}
.testimonial_textin{padding-bottom:20px;}
.testimonial_textin::before{display:none;}
.test_top i {	float: left;	padding-right: 10px;	width: 90px;}
.test_top h5 {	line-height: 18px;	padding:5px 0 0;	font-size: 15px;}
.test_top small{font-size:13px;}
.test_quato p{padding: 12px 0 0 47px;}
.testimonials-block, .latest-news{min-height:inherit;padding:30px 0;}
.recent-blog-content h6 {	padding-bottom: 0;	font-size: 15px;	line-height: 21px;}
/* .links{display:none;} */
.links{width:100%;margin-top: 20px}
.links h4{margin-bottom:10px;}
.email_text{height:35px;padding:0 113px 0 15px}
.subscribe{width: 103px;height: 34px;font-size: 14px;}
.footer_edu{width:100%;}
.contact li{width:100%;float:left;}
.subcribe h4{line-height: 20px;font-size: 18px;}
.newsletter{margin: 0 0 10px;}
.recent-blog-block {padding: 30px 0 20px;}
.recent-blog-content{padding: 15px 10px 5px 10px;}
.news_options li {	margin-right: 5px;}


/*about inner-page CSS*/
.inner_banner_text h2 {font-size:32px; line-height:32px; margin-bottom:1px;}
.inner_banner{min-height:130px;}
.inner_banner_caption{height:130px;}

.about_left h3{font-size:22px;}
.about_left_img{margin-top:20px;}
.about_right_img::after {border: 3px solid #fff; bottom: 10px; content: ""; left: 10px;right: 10px;top: 10px;}
.about_section .header-style{margin-bottom:10px;}
.inner_banner_text h2{font-size:26px; line-height:28px; margin-bottom:0px; width:100%;}
.inner_banner_text ul{float:left !important;}
.inner_banner_text ul{padding:0;}
.inner_banner_text ul li:first-child{padding-left:0;}
.author .comment_date{ text-align: left !important;;padding-bottom: 0px !important;; }
.author{ padding:30px 5px; }
.inner_blog_text{ padding: 0 10px; }
/*blog inner-page CSS*/
.page-link{padding:2px 8px;}
.popular_cell h5{margin:0 0 5px 0;}
.blog_inner_right h4{font-size:24px;}
.blog_text h3{font-size:20px; line-height:24px; padding:18px 0 14px;}
.blog_read_btn{padding:0 12px; line-height:34px;}
.news_options li{width:100%;}
.blog_little_img{right:15px; width:60px; height:60px; bottom:-30px;}

.popular_cell{border-bottom:1px solid #e2e2e2;}

/*testimonials CSS*/
.test_text h4{font-size:20px;}
.test_in p{padding-top:7px;}

/*contact CSS*/
.contact_left h2, .contact_right h2{font-size:26px; padding-bottom:6px;}
.contact_inner{padding:20px 15px; margin-top:15px;}
.contact_info li {font-size: 13px;line-height: 18px;}
.inner_page_contact{padding:22px 0 10px;}
.input_contact{height:45px;}
.commts{height:130px;}


/*blog_innner CSS*/
.author_head{width:100%;}
.author figcaption h3{font-size:18px; padding-bottom:5px; margin-bottom:0;}
.reply{clear:both;}
.author p{width:100%; float:left;}
.robot{width:100%;}
.leave_btn{float:left; margin-top:10px;}

.author figure{text-align:center; width:100%; margin:0 0 10px 0;}
.author figcaption{width:100%;}
.author_btn small{width:100%; clear:both;}
.author_btn{float:left; padding:10px 0; width:100%;}
.reply{clear:both; display:inline-block;}
.author_in{text-align:center; position:relative; width:100%; float:left;}
.reply{position:absolute; bottom:0; left:0; right:0; margin:auto; display:inline-block; width:75px;}

.author figcaption h3::after{left:0; right:0; margin:auto;}
.author p{text-align:center; padding-bottom:39px;}
.author_btn small{text-align:center;}
.blog_inner .blog_text p{padding:4px 0 15px;}
.leave_input{width:100%; margin-top:5px;}
.leave_reply{margin-top:10px;}
.blog_contact h3{font-size:26px;}

/*university CSS*/
.university h3{font-size:18px; line-height:20px;}
.university_img{margin-top:15px;}
.university_info ul li{width:100%;}
.university_info ul li span{font-size:15px;}
.uni_form .input_contact{height:44px; margin-top:15px;}
.uni_form .commts{height:130px;}
.uni_form .contact_btn{font-size:16px; margin-top:15px; height:36px;}

/*login CSS*/
.login_icon{height:42px; width:42px;}
.login_icon img{width:55%;}
.login_id{height:44px; padding:0 15px 0 55px; font-size:15px;}
.google{width:100%; border-radius:2px 2px 0px 0;}
.fb{border-radius:0 0 2px 2px;}

.log_inner{margin-top:17px;}

/*profile CSS*/
.profile_cell figcaption{width:100%;}
.profile_cell i{text-align:center; float:left; width:100%; margin:0 0 10px 0;}
.profile_cell i img{float:none;}
.profile_cell figure{width:100%;}
.profile_text{padding:15px;}
.profile_text h4{font-size:24px; line-height:26px;}
.profile_text ul li strong{font-size:13px; padding-left:10px;}
.profile_text ul li small{width:85px; font-size:12px;}
.profile_inner{padding:30px 0 10px;}
.profile_info i{padding:10px 0;}

.profile_social{max-width:100%; text-align:center;}
.profile_social li{float:none; display:inline-block; width:auto;}
.profile_social{padding:12px 10px;}

/*compare CSS*/
.compare_col{border:1px solid #d8d8d8 ; margin-top:0;}
.compare_col2,.compare_col3{margin-top:30px;}
.uni_info h4{padding-bottom:8px;}
.uni_info_inner{padding-bottom:14px;}
.enrollment{padding-bottom:25px;}
.uni_info{padding:30px 15px;}

/*faq CSS*/

.faq_cell h3{font-size:20px; line-height:22px;}
.faq_cell p{padding:0 0 0 42px;}

/*account_sec CSS*/
.account_left ul li{width:31%;}
.account_profile{width:100%; text-align:center; margin:0 0 20px 0;}
.rating_university{width:100%; text-align:center; margin:0 0 20px 0;}
.ac_info li a{padding-left:15px;}
}


@media (max-width:400px){
	.test_in p{width:100% !important; float:left; text-align:center;}
	.test_profile img{float:none;}
	.test_profile{width:100%; float:left; text-align:center;}

/*account_sec CSS*/
	.account_left ul li{width:100%;}
	.ac_info li{font-size:13px;}
	.ac_info li a{font-size:13px;}
	.ac_info li u{width:80px !important;}
	.ac_info li{padding-bottom: 3px;}
	.ac_info h2{font-size:18px;}
	.ac_info h2 span{font-size: 18px;}
	.popular_cell{padding-right: 0px;}
	.ac_info li span{ padding-left: 15px; }
	.ac_info { padding: 0px; }

}



