@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800);

:root {
  --yellow-btn: #F8B108;
  --yellow-btn-color: #333;
  --primary-color: #094293;
}




*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
@font-face { 
     font-family: 'Brandon Grotesque'; 
     src: url('fonts/BrandonGrotesque-Black.eot'); 
     src: url('fonts/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'), 
          url('fonts/BrandonGrotesque-Black.woff') format('woff'), 
          url('fonts/BrandonGrotesque-Black.ttf') format('truetype'); 
     font-weight: 900; 
     font-style: normal; 
}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;outline:0;}
header, footer, article, section, hgroup, nav, figure {display:block;margin:0px;padding:0px;}
img {border: 0 none;height: auto;max-width: 100%;vertical-align:middle;transition: all 0.5s ease-in-out 0s;}
ul {list-style-type:none;padding:0px;margin:0px;}
a, button{text-decoration:none;outline:none;transition: all 0.5s ease-in-out 0s;color:#000;}
button, input[type="button"]{border:none;cursor:pointer;}
p, td, input, label, form, h1, h2, h3, h4, h5, h6, a {padding:0px;margin:0px;border:none;text-decoration:none;font-weight:300;}
input[type="text"],input[type="button"],input[type="submit"],input[type="email"],input[type="tel"] ,textarea {  -webkit-appearance: none;  -webkit-border-radius: 0;  -webkit-appearance: none;transition: all 0.5s ease-in-out 0s;outline:none;resize: none; font-family: 'Open Sans', sans-serif; text-transform: none;}
input[type="submit"], input[type="button"], input[type="reset"]{outline:none;cursor:pointer;}
.clear {clear: both; }
.vm{ vertical-align: middle; }
.relative{ position: relative; }
.left{ float: left;}
.right {float:right !important;}
/*placeholder css*/
input::-webkit-input-placeholder {opacity:1 !important;}
input::-moz-placeholder {opacity:1 !important;}
input:-ms-input-placeholder {opacity:1 !important;}
input:-moz-placeholder {opacity:1 !important;}
/*ends css*/
body{margin:0;padding:0;font-size:14px;line-height:24px;font-weight:400; color:#5c5c5c; font-family: 'Open Sans', sans-serif;}


/*======= Common CSS =======*/
p{color:#666666;font-size:14px;line-height:22px;padding-bottom:15px;}
h1{font-size:50px; line-height:normal; text-transform:uppercase; color:#fff; text-align:center; font-weight:700;text-shadow:0 1px 1px rgba(0,0,0,0.5)}
h2{font-size:40px;line-height:40px;color:#094293;margin-bottom: 15px;padding:0;text-transform:uppercase;font-weight:900;font-family: 'Brandon Grotesque';letter-spacing:2px;}
h3{font-size:25px;line-height:28px;color:#363636;margin-bottom:10px;padding:0;font-weight:600;}
h4{font-size:20px;line-height:24px;color:#363636;margin-bottom:5px;padding:0;font-weight:600;}
h5{font-size:18px;line-height:24px;color:#fff;margin-bottom:5px;padding:0;font-weight:600;}
h6{font-size:16px;line-height:22px;color:#333;margin-bottom:10px;padding:0;font-weight:600;}
strong{font-size:16px;line-height:inherit;color:#363636;margin: 0 0 10px;padding:0;font-weight:700;}

.custom_header{background:#094293 !important;padding:0 !important;min-height:107px;border-top:#f8b108 4px solid;border-radius:0;}
.logo{position:relative;width:auto;float:left;background:#fff;padding:21px 15px 29px 0;min-height:107px;}
.logo:after{content:"";background:#fff;position:absolute;right:100%;top:0;height:100%;width:5000px;}
.logo:before{content:"";background:url(images/surve.svg) no-repeat;position:absolute;left:100%;top:0;height:100%;width:35px;background-size:100% 100%;}
.custom_header .nav{float:right;}
.custom_header .navbar-nav .nav-link{padding:0 14px;line-height:32px;opacity:1;color:#fff;font-weight:400;position:relative;}
.custom_header .navbar-nav .nav-item{position:relative;}

.custom_header .navbar-nav .nav-item:last-child{margin-left:0;}
.custom_header .nav{margin:41px 0;}
.custom_header .navbar-nav .nav-link:hover, .custom_header .navbar-nav .nav-item.active a{color:#f8b108 !important;}
.regitration{background:#f8b108;color:#fff;border-radius:2px;}
.custom_header .navbar-nav .nav-link.regitration:hover{color:#094293 !important;}
.custom_header .navbar-nav .nav-item:last-child:after, .custom_header .navbar-nav .nav-item:first-child:after{display:none;}
.search-container input[type="text"]{height:63px;border:none;color:#71809e;font-size:18px;font-weight:400;padding:0 30px}
.banner-section{width:100%;float:left;position:relative;border:9px #fff solid;}
.carousel-inner > .carousel-item img{width:100%;}
.search-container{max-width:770px;width:100%; height:100%; float:none;margin:auto;position:absolute;left:0;bottom:0;right:0;top:0; margin:auto; text-align:center;}
.search-container_inner{height:100%;width:100%;display:table;}
.search-container_inner_in{height:100%;width:100%;display:table-cell;vertical-align:middle;}
.search-container p{font-size:18px;color:#fff;margin-bottom:25px;}
.search-container .btn{width:116px;height:63px;background:#f8b108 url(images/search_button.png) no-repeat center center;border-radius:0;outline:none;}
.search-container .btn:hover{background-color:#094293}
.advance-search{text-align:right;display:block;padding:3px 0 0;}
.advance-search a{color:#fff;text-decoration:underline;}
.advance-search a:hover{text-decoration:none;}
.section-block{width:100%;float:left;clear:both;}
.overflow-hidden{overflow:hidden;}
.top-university{padding:46px 0 66px;}
.header-style{position:relative;margin-bottom:37px;}
.header-style:after{content:"";position:absolute;right:100%;top:0;bottom:0;margin:auto;height:3px;background:#f8b108;width:5000px;}
.header-style:before{content:"";position:absolute;left:100%;top:0;bottom:0;margin:auto;height:3px;background:#f8b108;width:5000px;}
.header-style h2{margin:0;display:inline-block;padding-right:15px;position:relative;padding-bottom:18px;padding-top:18px}
.header-style h2:after{content:"";position:absolute;left:100%;top:0;bottom:0;margin:auto;height:3px;background:#f8b108;width:1170px;}
.header-style h2:before{content:"";position:absolute;left:0;bottom:0;height:2px;background:#c1c1c1;width:70px;}
.header-style-inner{max-width:1080px;float:left;width:100%; overflow:hidden;}
.next-pre-arrow{width:70px;float:right;margin:25px 0;}
.next-pre-arrow li{float:left;margin-left:2px;}
.next-pre-arrow li a{width:29px;height:29px;background-color:#333;display:block;background-repeat:no-repeat;background-position:center center;}
.pre_arrow_btn{background-image:url(images/pre_arrow.png);}
.next_arrow_btn{background-image:url(images/next_arrow.png);}
.next-pre-arrow li a:hover{background-color:#094293;}
.top_university_col{width:100%;float:left;border:1px #e9e9e9 solid; margin-bottom: 20px; position:relative;}
.top_university_col img{width:100%;}
.university_col_inner{width:100%;padding:17px 12px 20px;}
.btn-default{color:#fff;background:#333;line-height:27px;padding:0 14px;display:inline-block;}
.btn-default:hover{text-decoration:none;background:#094293;color:#fff;}
.rating_star{float:left;}
.top_university_col .rating_star{float:right;width:auto;}
.rating_star li{float:left;}
.latest-news{background:url(images/latest_news_bg.jpg) no-repeat center center;background-size:cover;min-height:515px;padding:45px 0 0;}
.header-style-white h2{color:#fff;}
.header-style-white h2:before{background:#f8b108;}
.header-style-white .next-pre-arrow li a{background-color:#fff;}
.header-style-white .next-pre-arrow li a:hover{background-color:#f8b108;}
.header-style-white .pre_arrow_btn{background-image:url(images/pre_arrow_black.png);}
.header-style-white .next_arrow_btn{background-image:url(images/next_arrow_black.png);}
.news_row{width:100%;float:left;margin-bottom:36px;}
.news-col-img{width:23%;float:left;}
.news-col-img img{border-radius:50%;border:3px #fff solid;width:100%}
.news-col-content{width:77%;float:left;padding-left:35px;padding-top:10px;}
.news_options{display:block;width:100%;clear:both;float:left;margin-bottom:10px;}
.news_options li{float:left;margin-right:13px;}
.news_options li a{line-height:20px;display:block;}
.news_options li i{margin-right:5px;display:inline-block;vertical-align:top;position:relative;top:-2px;}
.news_row h4 a{font-weight:600;}
.news_row h4, .news_row p, .news_row a{color:#fff;text-decoration:none !important;}
.news_row p{padding-bottom:10px;}

.student-rating{padding:44px 0 66px;}
.student-rating-col{background:#333333;}
.student-rating-img{overflow:hidden;}
.student-rating-img img{width:100%;}
.student-rating-conent{padding:10px 16px 17px;position:relative;}
.student-rating-col h5{margin:0;padding-right:85px;}
.student-rating-col a{font-weight:600;color:#fff;}
.student-rating-col a:hover{text-decoration:none;}
.student-rating-col .rating_star{position:absolute;right:14px;top:12px;}
.student-rating-col:hover a{color:#f8b108;}
.student-rating-col:hover .student-rating-img img{transform: scale(1.1);}

.testimonials-block{background:url(images/testimonial_bg.jpg) no-repeat center center;background-size:cover;padding:38px 0 0;min-height:496px;}
.testimonial_text{background:#f8b108; min-height:273px;padding-right:15px;}
.testimonial_textin{background:#333333; width:940px; height:256px; float:right; margin:9px -6px 0 0; position:relative;}
.testimonial_textin:before{background:url(images/testimonial-left.jpg); width:208px; height:256px; position:absolute; content:""; right:98%;background-size:cover;}
.testimonial_profile{padding-top:17px; position:relative; left:-46px;}
.testimonial_profile1{left:-115px;}
.test_top i{float:left; padding-right:22px;}
.test_top i img{border-radius:50%;border:4px #333 solid;}
.test_top h5{line-height:22px; padding:35px 0 0 0;}
.test_top small{display:block;color:#fff;font-size:15px;font-weight:600;}
.test_quato p{font-size:14px; font-weight:400; color:#7c7b7b; line-height:24px; display:inline-block; padding:15px 0 0 62px; position:relative;}
.test_quato p:before{background:url(images/quato-left.png) no-repeat; width:22px; height:21px; position:absolute; content:""; left:17px; }
.test_quato p:after{background:url(images/quato-right.png) no-repeat; width:22px; height:21px; position:absolute; content:""; right:38px; bottom:-5px;}

.recent-blog-block{padding:94px 0 70px;}
.recent-block_col .news_options a{color:#094293;}
.recent-block_col .news_options a:hover{text-decoration:none;color:#f8b108;}
.recent-blog-img img{width:100%;}
.recent-blog-content{width:100%;float:left;background:#f6f6f6;padding:25px 20px 5px 20px;}
.recent-blog-content h6{padding-bottom:3px;}
.recent-blog-content h6 a{color:#333;font-weight:600;}
.recent-blog-content h6 a:hover{color:#f8b108;text-decoration:none;}


.logo img {
  width:201px;
}

.subcribe{width:100%; float:left; background:#094293; padding:30px 0 32px;border-bottom:1px #1351a8 solid;}
.subcribe h4{color:#f8b108; font-size:28px; font-weight:700; width:auto;line-height:30px;margin:0;}
.newsletter{width:auto;}
.subcribe h4 span{display:block;}
.email{width:800px; float:right;}
.email_text{width:100%; position:relative; height:58px; background:#2b5ea6; color:#abbad6; float:right; padding:0px 225px 0 24px; border:1px solid #0a397c;}
.subscribe{width:213px; height:58px; background:#f8b108; color:#282828; font-size:24px; font-weight:600; border:none; right:15px; position:absolute; cursor:pointer;}
.subscribe:hover{background:#e9c05f;}

.footer{width:100%; float:left; padding:38px 0 20px; background:#094293;border-top:1px solid #0a3574;}
.footer_in{width:240px;}
.footer_in h4{color:#fff; font-weight:600; font-size:20px; text-transform:uppercase; margin-bottom:30px;}
.footer_in p{color:#a0a0a0; font-size:14px; padding-right:50px;}
.footer_edu h4{font-weight:700; font-size:30px;}
.footer_edu{width:400px; background:url(images/edu-footer.png) no-repeat center 20%;}
.social{margin-top:17px;}
.social li{float:left; padding-right:5px;}
.footer_in ul li a{font-size:14px; color:#a0a0a0; line-height:26px;}
.links ul li{padding-left:19px; position:relative;}
.links ul li:before{background:url(images/footer-menu.png) no-repeat; width:10px; height:10px; position:absolute; content:""; left:0; top:8px;}
.contact li{color:#a0a0a0; padding:0 0 10px 26px;}
.contact li a{display:block; line-height:20px !important;}
.loaction{position:relative;}
.loaction:before{background:url(images/location.png) no-repeat; width:12px; height:16px; position:absolute; content:""; left:0; top:4px;}
.call:before{background:url(images/call.png) no-repeat; width:14px; height:15px;}
.mail:before{background:url(images/mail.png) no-repeat; width:17px;}
.website:before{background:url(images/website.png) no-repeat; width:17px;}

.copyright{background:#f8b108; float:left; width:100%;}
.copyright p{font-weight:600; font-size:13px; color:#282828; text-align:center; line-height:33px;padding-bottom:0;}

.navbar::after{ display: none;}

.navbar-toggleable-md::after{ display: none; }




/*about inner-page CSS*/
.inner_banner{background:url(images/inner-banner.jpg) no-repeat center top; border:9px solid #fff; background-size:cover; width:100%; min-height:292px;}
.inner_banner_text{width:100%; display:table-cell; height:292px; vertical-align:middle;}
.inner_banner_text h2{font-size:60px; font-weight:800; color:#f8b108; letter-spacing:0px;}
.inner_banner_text ul{padding-top:5px;}
.inner_banner_text ul li{float:left; font-size:18px; color:#f8b108; padding-left:8px;}
.inner_banner_text ul li a{font-size:18px; color:#fff; position:relative;}
.inner_banner_text ul li a:hover{text-decoration:none; color:#f8b108;}
.inner_banner_text ul li a:after{content:"/"; /* position:absolute; */ color:#fff; right:-20px;}
.inner_banner_caption{width:100%; display:table; height:292px;}

.about_info{padding:56px 0 76px; background:#fafafa; width:100%; float:left;}
.about_left h3{font-size:35px; color:#363636; line-height:41px; text-transform:uppercase; margin-bottom:17px;}
.about_right_img{float:right;position:relative;}
.about_right_img:after{position:absolute; border:5px solid #fff; top:20px; left:20px; right:20px; bottom:20px; content:""; z-index:999;}

.about_section{width:100%; float:left; background:url(images/about_banner.jpg) no-repeat center top; background-size:cover; padding:38px 0 92px;}
.full_border_style{overflow:hidden;}
.full_border_style .header-style-inner{overflow:inherit;}
.full_border_style .header-style h2:after{width:5000px;}
.full_border_style .header-style:before{display:none;}
.about_left_img img{border:1px solid #fff; padding:6px;}
.about_left_img{margin-top:30px;}
.about_sec_right p{color:#fff;}
.about_sec_right{margin-top:30px; padding-top:6px;}


/*blog inner-page CSS*/
.blog_inner{width:100%; float:left; background:#fafafa; padding:50px 0 42px;}
.blog_cell{border:1px solid #e9e9e9; float:left; /* margin-top:20px; */ width: 100%;}
.blog_img{position:relative; float:left; width:100%;}
.blog_little_img{position:absolute; bottom:-38px; right:30px;}
.blog_little_img img{border:3px solid #fff;}
.blog_text{padding:36px 30px 28px 28px; float:left;}
.blog_text h3{font-size:36px; text-transform: capitalize; padding:18px 0 22px; width:100%; float:left; position:relative;}
.blog_text h3:after{background:#e6e6e6; width:100%; height:1px; position:absolute; content:""; bottom:0; left:0;}
.blog_text p{padding:4px 0 23px;}
.blog_read_btn{font-size:16px; color:#363636; line-height:40px; padding:0 27px; display:block; border:1px solid #f8b108; float:left;}
.blog_read_btn:hover{background:#f8b108; text-decoration:none; color:#fff;}

.blog_inner_right{width:100%; float:left; background:#f6f6f6; padding:26px 16px 30px; border:1px solid #e3e3e3; margin-top:20px;}
.blog_inner_right h4{font-size:28px; text-transform:uppercase; color:#363636; font-weight:700; padding-bottom:20px; position:relative;}
.blog_inner_right h4:after{background:#e3e3e3; width:65px; height:2px; position:absolute; left:0; bottom:0; content:"";}
.search_box{position:relative; width:100%; margin-top:17px;}
.search{height:55px; width:100%; color:#666666; border:1px solid #dfdfdf; padding:0 50px 0 15px;}
.search_btn{background:url(./images/search_button_black.png) center center no-repeat; height:55px; width:50px; border:none; position:absolute; right:0; top:0;}

.popular_cell{padding:22px 0; border-bottom:1px solid #e2e2e2; float:left;}
.popular_cell img{border:1px solid #dfdfdf; float:left; margin-right:9px;}
.popular_cell h5{margin-bottom:0;}
.popular_cell h5 a{color:#363636; font-size:16px; line-height:18px; font-weight:600; display:block; text-transform: capitalize;}
.popular_cell h5 a:hover{text-decoration:none; color:#363636;}
.popular_cell small{font-size:13px; color:#363636;}
.popular_cell:last-child{border:none; padding-bottom:0;}

.pagination_row{width:100%; float:left; text-align:center; padding:50px 0 0 0;}
.pagination{display:inline-block; margin:0;}
.page-item:first-child .page-link, .page-item:last-child .page-link{border-radius:0;}
.page-link{margin-left:5px; padding:6px 13px; color:#777777;}
.page-link:focus, .page-link:hover{background:#f8b108; color:#fff; text-decoration:none;}
.page-item.active .page-link{background:#f8b108 !important; color:#fff; border:1px solid #ddd;}
.page-item.active .page-link:hover{border:1px solid #ddd;}
.page-item .pager_next{background:url(./images/pagination_next.png) no-repeat; display:inline-block; width:7px; height:10px;}
.page-item .pager_prev{background:url(./images/pagination_prev.png) no-repeat; display:inline-block; width:7px; height:10px;}
.page-item:hover.page-item .pager_next{background:url(./images/pagination_next-hover.png) no-repeat;}
.page-item:hover.page-item .pager_prev{background:url(./images/pagination_prev-hover.png) no-repeat;}

.blog_text .news_options li a:hover{text-decoration:none; color:#f8b108;}

/*testimonials CSS*/
.testimonial{width:100%; float:left; background:#fafafa; padding:30px 0 60px 0;}
.test_info{float:left; margin-top:38px;}
.test_in{padding:15px 15px 15px 20px ; background:#eeeeee; position:relative; float:left;}
.test_in:after{position:absolute; background:url(./images/testimonial-effect.jpg) no-repeat; width:22px; height:22px; bottom:-22px; content:""; left:70px;}
.test_in img{border-radius:50%; float:left; margin-right:20px;}
.test_in p{padding-top:20px;}
.test_text{padding-top:33px; float:left; clear: left;}
.test_text h4{font-weight:600; font-size:22px;}
.test_text small{font-size:15px;}

/*contact CSS*/
.inner_page_contact{width:100%; float:left; background:#fafafa; padding:63px 0 66px;}
.contact_left h2, .contact_right h2{font-size:32px; position:relative; padding-bottom:13px;}
.contact_left h2:after, .contact_right h2:after{position:absolute; content:""; background:#bebebe; width:70px; height:2px; bottom:0; left:0;}

.contact_inner{background:#fff; border:1px solid #e9e9e9; float:left; padding:32px 20px; margin-top:25px;}
.input_contact{width:49%; float:left; font-size:14px; color:#666666; height:60px; background:#f4f4f4; padding:0 20px;}
.input_email{margin-left:10px;}
.form{width:100%; float:left;}
.full_input{width:100%; margin-top:10px;}
.commts{border:none; padding-top:20px; height:160px; color:#666666 !important;}
.contact_btn{background:#f8b108; color:#FFF; width:100%; height:50px; font-weight:700; font-size:20px; margin-top:22px;}
.contact_btn:hover{background:#094293;}

.contact_right p{margin-top:35px; padding-bottom:30px;}
.contact_info li{font-size:20px; color:#a0a0a0; margin-bottom:38px;}
.contact_img{float:left; margin-right:22px; padding-top:4px;}
.contact_info li a{display:block; color:#a0a0a0;}
.map{width:100%; float:left;}

/*blog_innner CSS*/
.author{background:#fff; float:left; border:1px solid #e9e9e9; padding:30px 20px; margin-bottom:48px;}
.author figure{float:left; margin-right:20px;}
.author figcaption{float:left; width:100%;}
.author figcaption h3{text-transform:uppercase; font-size:20px; position:relative; padding-bottom:10px;}
.author figcaption h3:after{position:absolute; background:#ededed; height:2px; width:42px; bottom:0; left:0; content:"";}
.reply{font-size:14px; color:#fff; background:#333333; float:right; line-height:28px; padding:0 10px; display:block;}
.reply:hover{color:#fff; background:#f8b108; text-decoration:none;}
.author_in{float:none;}
.author_head{float:left;}
.author_btn small{font-size:12px; color:#8f8f8f; padding:0 15px;}
.author_btn{float:right;}
.author p{clear:both; padding:5px 0 0 0;}

.inner_blog_text{padding:0 25px;}
.blog_inner{padding-bottom:70px;}
.blog_inner .blog_text{padding:36px 30px 14px 28px; width: 100%;}
.blog_contact{float:left; width:100%; padding-bottom:38px;}
.blog_contact h3{font-size:36px; text-transform:uppercase; position:relative; width:100%; padding-bottom:25px;}
.blog_contact h3:after{position:absolute; content:""; background:#e2e2e2; height:1px; width:100%; left:0; bottom:0;}

.leave_reply{width:100%; float:left; margin-top:24px;}
.leave_reply label{font-size:14px; color:#666666; padding:6px 0 0;}
.leave_input{height:37px; float:right; width:69%; border:1px solid #d5d5d5; padding:0 15px; color:#666666;}
.leave_text{height:190px; border:1px solid #d5d5d5; width:100%; font-size:14px; color:#666666; padding:15px;}
.leave_btn{font-size:16px; color:#fff; line-height:50px; padding:0 22px; background:#f06254; float:right; margin-top:10px;}
.leave_btn:hover{background:#363636;}
.leave_robot{margin-top:40px;}

/*university CSS*/
.university{background:#fafafa; float:left; padding:70px 0 67px; width:100%;}
.university h3{font-size:36px; text-transform:uppercase; width:100%; position:relative; padding-bottom:30px;}
.university h3:after{position:absolute; background:#e6e6e6; width:100%; height:2px; content:""; bottom:0; left:0;}

.university_img{margin-top:28px;}
.university_info{margin-top:28px; padding:20px; background:#eeeeee; float:left;}
.university_info ul{padding:25px 20px 14px; border:1px solid #cdcdcd; float:left;}
.university_info ul li{padding-bottom:24px; float:left; width:100%;}
.university_info i{margin-right:12px;}
.university_info ul li span{color:#363636; font-size:16px; font-weight:600;}
.uni_text{padding-top:29px; padding-bottom:46px; float:left;}
.uni_text p{padding:10px 0 0;}
.uni_form{padding:30px 30px 27px; background:#fff; width:50%; float:left;}
.uni_form_map{border:#cccccc 1px solid; background:#fff; float:left;width:100%;}
.uni_map{float:left; width:50%;}
.uni_form h2{font-size:40px; padding-bottom:20px; margin-bottom:8px;}

.uni_form .input_contact{height:52px; border:1px solid #dadada; margin-top:20px; background:#fafafa;}
.uni_form .commts{height:155px;}
.uni_form .contact_btn{width:auto; float:right; padding:0 18px; margin-top:30px; height:42px;}

.uni_table{margin-top:0; float:left;}


/* DivTable.com */
.divTable{display: table;width: 100%;}
.divTableRow {display: table-row;}
.divTableHeading {background-color: #EEE;display: table-header-group;}
.divTableCell, .divTableHead {border:1px solid #e9e9e9; border-bottom:0; border-right:0; border-left:none; display: table-cell; line-height:44px;}
.divTableHeading {background-color: #EEE;display: table-header-group;}
.divTableFoot {background-color: #EEE;display: table-footer-group;}
.divTableBody {display: table-row-group;}
.divTableCell{font-size:14px; color:#666666; font-weight:600;}
.table_head .divTableCell{color:#333333 !important; font-size:16px !important; background:#dddddd;}
.table_head .divTableCell:first-child{background:#f8b108;}
.divTableRow .divTableCell:first-child{width:4%; text-align:center;  border-right:1px solid #d2d2d2; border-left:1px solid #d2d2d2;}
.divTableRow .divTableCell:nth-child(2){width:55%; padding-left:15px; padding-right:12px; border-right:1px solid #d2d2d2;}
.divTableRow .divTableCell:nth-child(3){width:23.4%; padding-left:15px; padding-right:12px; border-right:1px solid #d2d2d2;}
.divTableRow .divTableCell:nth-child(4){padding-left:15px; padding-right:12px; border-right:1px solid #d2d2d2;}
.table_border .divTableCell{border-bottom:1px solid #d2d2d2;}
.table_arrow{float:right;}

/*log_in CSS*/
.log_in{width:100%; float:left; background:#fafafa; padding:48px 0 70px;}
.log_in .header-style-inner h2{color:#094293;}
.log_inner{width:100%; float:left;}
.log_in .register{margin-bottom:19px;margin-top:60px;}

.log_inner{position:relative; margin-top:20px;}
.login_id{width:100%; float:left; height:60px; color:#b2b2b2; font-size:16px; font-weight:300; background:none; border:1px solid #e4e6e6; padding:0 15px 0 78px;}
.login_icon{background:#e1e1e1; width:60px; height:58px; position:absolute; left:1px; top:1px;padding: 14px 6px;
    text-align: center !important;}

.remember{font-weight:300; font-size:14px; color:#666666; margin-top:20px;}
.log_inner a{font-weight:300; font-size:14px; color:#666666; margin-top:26px; display:block; float:right; line-height:14px;}
.log_in_btn{height:48px; background:#094293; color:#fff; font-size:16px; width:100%;}
.log_top{margin-top:40px;}
.google{width:50%; color:#fff; font-weight:300; font-size:16px; float:left; background:#dd4e40; height:48px; border-radius:2px 0 0 2px;}
.google i{margin-right:10px;}
.fb{background:#3b5998; border-radius:0px 2px 2px 0px;}
.register{margin-top:56px;}
.log_in_sumbit{float:right; background:#f06254; color:#fff; display:block; line-height:48px; padding:0 56px; font-size:16px;}
.terms{margin-top:35px;}
.log_in_sumbit:hover{background:#094293;}
.log_in_btn:hover{background:#235c9f;}
.log_btn{margin-top:5px;}

/*profile CSS*/
.profile{width:100%; float:left; background:#fafafa; padding:70px 0;}
.profile_social{width:100%; background:#f8b108; border-top:#cd9206 10px solid; padding:20px 0px; float:left; text-align:center;}
.profile_social li{display:inline-block; padding:0 9px; z-index:999; position:relative;}
.profile_info i{padding:23px 0 19px; float:left; text-align:center; width:100%;}
.profile_info i img{border:6px solid #e1e1e1; border-radius:50%; float:none;}
.profile_info h4{font-family: 'Brandon Grotesque'; font-weight: 500; font-size:28px; color:#094293; text-align:center; text-transform:uppercase; line-height:28px; position:relative; padding-bottom:18px;}
.profile_info h4:after{position:absolute; background:#bebebe; width:70px; height:2px; left:0; right:0; margin:auto; content:""; bottom:0;}

.profile_info h5{font-size:22px; text-transform:uppercase; color:#666666; text-align:center; padding-top:10px;}
.profile_text{background:#fff; float:left; border:1px solid #e9e9e9; padding:30px; margin-bottom:20px;}
.profile_text h4{font-family: 'Brandon Grotesque'; font-weight: 500; font-size:28px; color:#094293; text-transform:uppercase;  letter-spacing:1px; padding-top:4px}
.profile_text h4 span{color:#666666;}
.profile_text p{font-weight:400; padding-top:11px; padding-bottom:0;}

.profile_text ul li{background:#f3f5f6; float:left; width:48%; margin-bottom:10px;}
.profile_text ul li strong{line-height:40px; padding-left:15px; color:#666666; font-size:16px; font-weight:600;}
.profile_text ul li small{line-height:40px; color:#000; font-size:14px; font-weight:600; background:#f8b108; border-radius:2px; float:left;  width:102px; text-align:center;}
.profile_text ul li:nth-child(2n){float:right !important;}
.profile_text ul li:nth-child(7), .profile_text ul li:nth-child(8){margin-bottom:0;}

.profile_inner{background:#fff; float:left; border:1px solid #e9e9e9; margin-top:10px; padding:30px 15px 10px; width:100%;}
.profile_cell{background:#f8f8f8; border:1px solid #e3e3e3; margin-bottom:20px; float:left; padding:16px; width:100%;}
.profile_cell i{float:left; margin-right:16px;}
.profile_cell i img{border-radius:50%; border:1px solid #094293;}
.profile_cell h5{font-family: 'Brandon Grotesque'; font-weight: 500; float:left; font-size:20px; color:#000; text-transform:uppercase; padding-top:8px;}
.profile_cell ul{float:right; padding-top:6px;}
.profile_cell ul li{float:left;}
.profile_cell p{font-weight:400; width:100%; float:left; padding:5px 0 5px 0;}
.profile_cell figure{width:25%; float:left;}
.profile_cell figcaption{width:74%; float:left;}
.profile_cell small{font-size:14px; color:#9f9f9f; float:right; line-height:14px;}

.university_col_inner > p{max-height: 125px; overflow: hidden; padding-bottom:0px; margin-bottom:15px; min-height: 125px;}


/*compare CSS*/
.compare{background:#fafafa; width:100%; float:left; padding:50px 0 70px;}
.compare_col{border:1px solid #f2f2f2 !important; border-right:none; background:#fff; padding:0 !important; margin-top:0; border-width:0px; }
.uni_name{width:100%; float:left; background:#fff; padding:19px 30px 25px; min-height:195px; text-align:center; border:1px solid #f2f2f2;}
.uni_name h4{font-size:22px; color:#094293; padding-bottom:13px;}
.uni_name i img{border:1px solid #929292;}
.uni_info{background:#fff; padding:32px 15px 40px; width:100%; float:left;}
.uni_info h4{font-size:18px; color:#094293; padding-bottom:10px;}

.uni_info_inner p {clear: both; color: #666666; font-size: 14px; font-weight: 400; line-height: 22px; width: 100%;}

.uni_info_inner{float:left; padding-bottom:19px; width:100%;}
.uni_info_inner ul li{float:left; padding-bottom:6px;}
.uni_info_inner ul li:last-child a{font-size:13px; line-height:17px; color:#666666; padding:6px 0 0 10px; font-weight:600; display:block;}
.uni_info_inner h5{color:#666666; margin-bottom:0; line-height:20px;}

.compare_btn{background:#094293; line-height: normal; display:inline-block; padding:5px 37px; font-size:20px; color:#fff; font-weight:600; text-transform:uppercase; margin-top:18px;}
.compare_btn{ text-decoration: none !important; }
.compare_btn:hover{ background: #f8b108 !important; }



.compare_btn_in{text-align:center;}
.enrollment h4{padding-bottom:5px;}
.enrollment{padding-bottom:34px;}
.compare_col3{border:1px solid #d8d8d8;}

.compare_col2 .compare_btn{background:#f8b108;}
.compare_col2 .compare_btn:hover, .compare_col2 .compare_btn:focus{background:#094293 !important; text-decoration:none; color:#fff !important;}
.compare_col .compare_btn:hover, .compare_col .compare_btn:focus{background:#f8b108; text-decoration:none; color:#fff;}

.search_compare{max-width:290px; position:relative; width:100%; margin:50px auto 0;}
.compare_text{height:50px; width:100%; background:#fff; color:#b2b2b2; font-size:14px; font-weight:600; padding:0 50px 0 15px;}
.compare_form_btn{background:url(./images/compare-search.png) no-repeat center; position:absolute; right:0; width:50px; height:50px; top:0;}

/*faq CSS*/
.faq{width:100%; float:left; background:#fafafa; padding:30px 0 40px;}
.faq_cell{width:100%; float:left; padding:15px 0 20px;}
.faq_outer{float:left; position:relative;}
.faq_outer:after{position:absolute; background:url(./images/line.png) repeat-x; width:100%; height:1px; bottom:0; left:0; content:"";}
.faq_outer:last-child:after{display:none;}
.faq .header-style{margin-bottom:18px;}


.form-group {float: left; height: auto; margin-bottom: 1rem; width: 100%;}
.faq_cell h3{color:#094293; display:block;}
.faq_cell i{float:left; width:40px; padding-top:3px;margin-bottom:70px;}
.faq_cell p{padding:10px 0 0px 42px;}

.btn{
	border-radius: 0px;
}


.header-style.readmore{

}
.header-style.readmore .header-style-inner {
    max-width: 1065px;
}
.header-style.readmore .next-pre-arrow {
    float: right;
    margin: 25px 0;
    width: auto;
}
.header-style.readmore .next-pre-arrow a{
	background: var(--yellow-btn);
	color: var(--yellow-btn-color);

}



.ng2-pagination .current{background:#f8b108 !important; text-transform: uppercase;}

.ng2-pagination li {border: 1px solid #ddd; cursor: pointer; text-transform: uppercase;}


.ng2-pagination a:hover, .ng2-pagination button:hover {
  background: #f8b108 !important; color: #fff !important;
}


.faq_cell h3 {color: #094293; display: block; font-size: 25px; font-weight: 600;}

.copy_right{float:left;}
.designby{float: right;}
.designby a{ font-weight:600; }

{ color:#f8b108 !important;} 

#navbar-header .navbar-nav .nav-item .active{ color: #f8b108 !important; }
#navbar-header .navbar-nav .nav-item .active:before{content:"";height:36px;width:20px;background:url(images/student_icon.png) no-repeat;position:absolute;left:-13px;top:-10px;bottom:0;margin:auto; z-index: 999;}


.custom_header .navbar-nav .nav-item .nav-link::after{content:"";height:20px;width:2px;background:#3a68a9;position:absolute;left:-10px;top:0;bottom:0;margin:auto;transform:rotate(25deg)}


#navbar-header .navbar-nav .nav-item .active::after{ display: none; }


.top_university_col label {
  background: #f0ad4e none repeat scroll 0 0;
  font-size: 12px;
  left: 0;
  padding: 0 10px; color:#000;
  position: absolute;
  top: 0;
}

.top_university_col img {
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
}

.clearboth{
  clear: both;  
}
.add-compare-checkbox{
  margin-top: 15px;
}
.university_compare_container {
    background: #fff none repeat scroll 0 0;
    bottom: 30px;
    box-shadow: 3px 3px 10px 0 #000;
    padding: 0px;
    position: fixed;
    right: 30px;
    z-index: 9999;

    padding: 0px;
    -webkit-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    transition: padding 0.3s;
}

.university_compare_container:hover {
    padding: 5px;
}
.university_compare_container .compare-button {
    float: right;
}
.university_compare_container .compare-button .btn-default {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 27px;
    padding: 5px 20px;
}

.university_compare_container .university_compare_list{
  height: auto;
  width: auto;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-width 0.8s, max-height 0.8s;
  -o-transition: max-width 0.8s, max-height 0.8s;
  transition: max-width 0.8s, max-height 0.8s;
}
.university_compare_container:hover .university_compare_list{
  max-width: 1000px;
  max-height: 300px;
}

.university_compare_container .university_compare_list .university_compare_item {
    float: left;
    width: 180px;
    padding: 3px 3px 0;
}
.university_compare_container .university_compare_list .university_compare_item h4 {
  color: #363636;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.university_compare_container .university_compare_list .university_compare_item .top_university_col {
    margin-bottom: 10px;
}
.fixed-alert{
    position: fixed;
    bottom: 15px;
    max-width: 640px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

/*account_sec CSS*/
a:focus{text-decoration:none;}
.account_sec{width:100%; float:left; background:#fafafa; padding:70px 0 90px;}
.account_left{width:100%; float:left; background: #ffffff; border: 1px solid #e9e9e9;}

.account_left ul li{width:100%;  line-height:50px; margin-bottom:5px; position:relative;}
.account_left ul li:last-child{ margin-bottom: 0px;}
.account_left ul li a{color:#094293; font-size:16px;display:block; padding-left:36px; font-weight:400;}
.account_left ul li.active, .account_left ul li:hover{background:#094293;}
.account_left ul li.active a, .account_left ul li:hover a{color:#fff; text-decoration:none;}
.ac_profile.active:after, .ac_profile:hover:after{background:url(images/ac-proflie-white.png) no-repeat;}
.ac_rating:after{background:url(images/ac-rating.png) no-repeat; position:absolute; content:""; width:11px; height:11px; left:12px; top:0; bottom:0; margin:auto;}
.ac_rating.active:after, .ac_rating:hover:after{background:url(images/ac-rating-white.png) no-repeat;}
.ac_password.active:after, .ac_password:hover:after{background:url(images/ac-password-white.png) no-repeat;}
.ac_password:after{background:url(images/ac-password.png) no-repeat; position:absolute; content:""; width:12px; height:12px; left:12px; top:0; bottom:0; margin:auto;}
.ac_profile:after{background:url(images/ac-proflie.png) no-repeat; position:absolute; content:""; width:12px; height:15px; left:12px; top:0; bottom:0; margin:auto;}

.account_right{/* width:100%; float:left; */ background:#fff; border:1px solid #e9e9e9; padding:30px 20px 45px;}
/* .account_profile{float:left; margin-right:38px;} */
.account_profile img{border-radius:50%;}
/* .ac_info{float:left;} */
.ac_info h2{font-size:28px; font-weight:700; letter-spacing:1px;}
.ac_info li{font-size:14px; color:#666666; padding-bottom:9px;}
.ac_info li u{width:94px !important; display:inline-block; text-decoration:none;}
.ac_info li a{padding-left:35px; font-size:14px; color:#666666; font-weight:400;}
.ac_info li a:hover{color:#094293; text-decoration:none !important;}
.ac_info li a span{color:#094293;}
.ac_info li span{ padding-left:35px}

.compare_col i{ width: 100%; padding: 10px; float: left;}
.compare_col i img{ width: 100%;}

.uni_name i img {
  border: 1px solid #f6f6f6;
}


.compare_col{ width: 32%;}

.col-xs-12.col-sm-4.compare_col:nth-child(2) {margin: 0 2%;}


.form-group .login_id{ padding-left: 0px; }


.compare_col {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #ffffff none repeat scroll 0 0;
  border-color: #d8d8d8 -moz-use-text-color #d8d8d8 #d8d8d8;
  border-image: none;
  border-style:solid;
  border-width:0;
  margin-top: 0;
  padding: 0 !important;
}

.add-compare-checkbox label{ position: relative; background:none; padding: 0px;}

.rating_star img{ border:none;}

.remove-btn{ margin-left: 5px; background:#f8b108; color: #fff; padding:2px 5px; line-height: normal!important; height: auto !important;}
.remove-btn:hover{ text-decoration: none; color: #fff; background: #094293;}

.university_compare_list .top_university_col{ padding-bottom:10px;}

.rate_now{ width: 100%; margin-top:20px;}


.cn, .sn{width:20%;}
.cd{width:60%;}

.rate_now h2{margin-bottom: 0px;}

.rating_user{ float: left; width:15%; }
.rating_comment{ width:85%; float: right; padding-left: 15px; }

.rating_user_img{ width:160px;}
.rating_user_img img{ width: 100%;}
.rating_user_name{width: 100%; float: left; padding:0 0 5px 0; text-transform: capitalize; color: #666666; font-weight: bold;}
.star{ width: 100%; float:left; }

.rating_comment p{padding-bottom:10px;}
.rating_outer{width:100%; float: left; padding-bottom: 20px; border-bottom:1px solid #f4f4f4; margin-top: 15px;}




.rating_outer:last-child {border-bottom:none;}

.ngb-dp-day {
    float: left;
}
.ngb-dp-weekday {
    float: left;
}

.ngb-dp-header{
    display: table;
    width: 100%;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.ngb-dp-header .d-block{
    width: 60% !important;
    margin-top: 0;
    display: table !important;
    margin-top: 0 !important;
    /* display: flex !important; */
    padding-top: 0px !important;
    float: left;
}

.ngb-dp-header .btn-link{
    display: table;
    float: left;
    width: 20%;
}

.blog_text .news_options li{ color: #363636; }

.account_profile .float-xs-right {
  display: table;
  float: none !important;
  margin: 10px auto;
  text-align: center;
  width: auto;
}


.form-control{ border-radius:0px; font-size: 14px;}


.account_right .row h3{
  color: #094293;
  font-size: 22px;
  font-weight:600;
  line-height: 28px;
  margin-bottom: 10px;
  padding: 0;
}


.account_profile {padding-left: 0px; padding-right: 0px; }


.rating_outer_border{border-bottom: 1px solid #e9e9e9; margin-bottom: 15px; padding-bottom: 15px; }

.account_right .row h3{ margin-bottom: 0px; }


.star-icon[_ngcontent-qwj-23]::before { color: #f8b108 !important; content: attr(data-icon) " "; left: 0; overflow: hidden; position: absolute; width: 0;}

.single_university_image{width: 21%;}

.single_university_ratiing_info{width:79%;}



.latest-news .news_options li{ color: #fff; }

.news-col-content h4{ text-transform: capitalize;}

.ui-widget-header{ background:none !important; border:none; }

.ui-paginator a.ui-state-disabled {
  border-radius: 0 !important;
  outline: 0 none;
  padding: 5px 10px;
}

.ui-paginator .ui-paginator-page.ui-state-active {
  background: #f8b108 !important;
  border-color: #d6d6d6!important;
  border-radius: 0;
  color: #ffffff;
  padding: 5px 10px;
}

.ui-widget-header .ui-state-default, .ui-widget-content .ui-state-default, .ui-state-default {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #d6d6d6;
  border-radius: 0;
  color: #555555;
   padding: 5px 10px;
}

.ui-paginator a:hover:not(.ui-state-disabled):not(.ui-state-active) {
  background: #f8b108 !important;
  border-color: #c0c0c0;
  color: #fff;
}

.btn-primery{ background:#094293; color: #fff;}
.btn-primery:hover{ background: #f8b108; }

.ui-widget-header .ui-button:enabled:hover, .ui-widget-header .ui-button:focus, .ui-widget-content .ui-button:enabled:hover, .ui-widget-content .ui-button:focus, .ui-button:enabled:hover, .ui-button:focus {
  background:#094293;
  border: 1px solid rgb(31, 137, 206);
  color:#fff;
  outline: 0 none;
}

.ui-fileupload-buttonbar{ padding-left:0px;}

.account_right h3{}
.form-control{border: 1px solid #e5e5e5 !important;}

.account_right.row > hr {
  clear: left !important;
 
}


.inner_blog_text .author{width: 100%;}

.contact-us-page .header-style {
    position: relative;
    margin-bottom: 37px;
    display: table;
    width: 100%;
}

.contact-us-page .header-style:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
     background: transparent; 
    width: 5000px;
}

.contact-us-page .card {
  padding: 15px;
}
.contact-us-page .header-style:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    background: transparent;
    width: 5000px;
}

.min-max-cotnainert {
    display: table;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
}
.ui-slider-horizontal .ui-slider-range {
    background: #094293 !important;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -4px !important;
}
.blog_inner_right.search_sec{
  margin-top: 0;
}


.test_profile.pull-left > img {
  border-radius: 50%;
  margin-right: 15px;
}

.test_text h4{ margin-top:25px;}

.comments_add{padding: 0px;}

.author h6{ text-transform: capitalize; margin-bottom: 0px;}
.comment_date{font-size: 11px; float: left; color: #094293; margin-right: 10px; padding-top: 0px !important; font-weight:700;}
.comment_time{font-size: 11px; float: left; color: #094293; font-weight: 600;}

.comments_outer{ position: relative; padding-bottom:8px; margin-bottom: 8px;}
.comments_outer:last-child:after{ display: none; }
.comments_outer:after{border-bottom: 1px solid #e7e7e7; position: absolute; left: 0px; bottom: 0px; right: 0px; margin: 0 auto; content: ""; height: 1px; width: 96%;}


.dt{ width: 100%; float: left; }



.uni_text .loaction{ padding-left: 20px;}


#inline-editor-button-edit, #inline-editor-button-save, .btn-danger{padding: 3px;width: 30px;}
.inline-editor-button-group{ float: left !important; margin-top: 10px;}
.inline-editor-content, .inline-content{line-height:18px; font-size: 13px;}

.form-control {
  border-radius: 0;
  font-size: 13px;
  width: 100% !important;
}
#inlineEditWrapper {
    display: inline-block;
    width: 100%;
    float: left;
}
.form-inline{
width: 100% !important;
    float: left;

}


.account_left li{
  position: relative;
}
.account_left li .fa{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    display: table;
    margin: auto;
    color: #000;
}
.account_left li.active .fa,
.account_left li:hover .fa{
    color: #fff;
}
.clearfix::after{
  display: none
}

.education_data strong{
  font-size: 14px;
}

.input-group-addon {
    padding: 0 .75rem;
}
.pagination-firstpage,
.pagination-lastpage,
.pagination-nextpage,
.pagination-prevpage {
  padding-top: 3px;
  padding-bottom: 3px;
}
.rating_university img{ border-radius:50%; }