:root {
    --yellow-btn: #F8B108;
    --yellow-btn-color: #333;
    --primary-color: #094293;
    --primary-color-bg: #fff;
}

.mat-elevation-z0 {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z1 {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z2 {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z3 {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z4 {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z5 {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z7 {
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12)
}

.mat-elevation-z8 {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12)
}

.mat-elevation-z9 {
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .2), 0 9px 12px 1px rgba(0, 0, 0, .14), 0 3px 16px 2px rgba(0, 0, 0, .12)
}

.mat-elevation-z10 {
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12)
}

.mat-elevation-z11 {
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, .2), 0 11px 15px 1px rgba(0, 0, 0, .14), 0 4px 20px 3px rgba(0, 0, 0, .12)
}

.mat-elevation-z12 {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12)
}

.mat-elevation-z13 {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12)
}

.mat-elevation-z14 {
    box-shadow: 0 7px 9px -4px rgba(0, 0, 0, .2), 0 14px 21px 2px rgba(0, 0, 0, .14), 0 5px 26px 4px rgba(0, 0, 0, .12)
}

.mat-elevation-z15 {
    box-shadow: 0 8px 9px -5px rgba(0, 0, 0, .2), 0 15px 22px 2px rgba(0, 0, 0, .14), 0 6px 28px 5px rgba(0, 0, 0, .12)
}

.mat-elevation-z16 {
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12)
}

.mat-elevation-z17 {
    box-shadow: 0 8px 11px -5px rgba(0, 0, 0, .2), 0 17px 26px 2px rgba(0, 0, 0, .14), 0 6px 32px 5px rgba(0, 0, 0, .12)
}

.mat-elevation-z18 {
    box-shadow: 0 9px 11px -5px rgba(0, 0, 0, .2), 0 18px 28px 2px rgba(0, 0, 0, .14), 0 7px 34px 6px rgba(0, 0, 0, .12)
}

.mat-elevation-z19 {
    box-shadow: 0 9px 12px -6px rgba(0, 0, 0, .2), 0 19px 29px 2px rgba(0, 0, 0, .14), 0 7px 36px 6px rgba(0, 0, 0, .12)
}

.mat-elevation-z20 {
    box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 20px 31px 3px rgba(0, 0, 0, .14), 0 8px 38px 7px rgba(0, 0, 0, .12)
}

.mat-elevation-z21 {
    box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 21px 33px 3px rgba(0, 0, 0, .14), 0 8px 40px 7px rgba(0, 0, 0, .12)
}

.mat-elevation-z22 {
    box-shadow: 0 10px 14px -6px rgba(0, 0, 0, .2), 0 22px 35px 3px rgba(0, 0, 0, .14), 0 8px 42px 7px rgba(0, 0, 0, .12)
}

.mat-elevation-z23 {
    box-shadow: 0 11px 14px -7px rgba(0, 0, 0, .2), 0 23px 36px 3px rgba(0, 0, 0, .14), 0 9px 44px 8px rgba(0, 0, 0, .12)
}

.mat-elevation-z24 {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12)
}

.mat-ripple {
    overflow: hidden
}

.mat-ripple.mat-ripple-unbounded {
    overflow: visible
}

.mat-ripple-element {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, .1);
    -webkit-transition: opacity, -webkit-transform 0ms cubic-bezier(0, 0, .2, 1);
    transition: opacity, -webkit-transform 0ms cubic-bezier(0, 0, .2, 1);
    transition: opacity, transform 0ms cubic-bezier(0, 0, .2, 1);
    transition: opacity, transform 0ms cubic-bezier(0, 0, .2, 1), -webkit-transform 0ms cubic-bezier(0, 0, .2, 1);
    -webkit-transform: scale(0);
    transform: scale(0)
}

.mat-option {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 48px;
    height: 48px;
    padding: 0 16px;
    font-size: 16px;
    font-family: Roboto, Helvetica Neue, sans-serif;
    text-align: start;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    outline: none
}

.mat-option[disabled] {
    cursor: default
}

.mat-option .mat-icon {
    margin-right: 16px
}

[dir=rtl] .mat-option .mat-icon {
    margin-left: 16px
}

.mat-option[aria-disabled=true] {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.mat-option-ripple {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

@media screen and (-ms-high-contrast:active) {
    .mat-option-ripple {
        opacity: .5
    }
}

.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-transform: none;
    width: 1px
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.cdk-overlay-container {
    position: fixed;
    z-index: 1000
}

.cdk-global-overlay-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 1000
}

.cdk-overlay-pane {
    box-sizing: border-box
}

.cdk-overlay-backdrop,
.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    z-index: 1000
}

.cdk-overlay-backdrop {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
    transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
    opacity: 0
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: .48
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, .6)
}

.cdk-overlay-transparent-backdrop {
    background: none
}

.docs-component-viewer-tabbed-content .docs-component-view-text-content h1,
.docs-guide-content h1 {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    padding: 5px
}

.docs-component-viewer-tabbed-content .docs-component-view-text-content h2,
.docs-component-viewer-tabbed-content .docs-component-view-text-content h3,
.docs-guide-content h2,
.docs-guide-content h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 80px
}

.docs-component-viewer-tabbed-content .docs-component-view-text-content h4,
.docs-guide-content h4 {
    margin-top: 40px
}

.docs-component-viewer-tabbed-content .docs-component-view-text-content h5,
.docs-guide-content h5 {
    font-size: 16px
}

.docs-component-viewer-tabbed-content .docs-component-view-text-content .md-tab-body-wrapper h2,
.docs-guide-content .md-tab-body-wrapper h2 {
    margin-top: 0
}

.docs-component-viewer-tabbed-content .docs-component-view-text-content p,
.docs-guide-content p {
    font-size: 16px;
    line-height: 28px
}

.docs-component-viewer-tabbed-content .docs-component-view-text-content a,
.docs-guide-content a {
    text-decoration: none
}

.docs-component-viewer-tabbed-content .docs-component-view-text-content table,
.docs-guide-content table {
    border-collapse: collapse;
    border-radius: 2px;
    border-spacing: 0;
    margin: 0 0 32px;
    width: 100%
}

.docs-component-viewer-tabbed-content .docs-component-view-text-content table tbody th,
.docs-guide-content table tbody th {
    max-width: 100px;
    padding: 13px 32px;
    text-align: left
}

.docs-component-viewer-tabbed-content .docs-component-view-text-content td,
.docs-guide-content td {
    font-weight: 400;
    padding: 8px 30px
}

.docs-component-viewer-tabbed-content .docs-component-view-text-content td p,
.docs-guide-content td p {
    margin: 0
}

.docs-component-viewer-tabbed-content .docs-component-view-text-content th,
.docs-guide-content th {
    font-size: 16px;
    font-weight: 400;
    padding: 13px 32px;
    text-align: left
}

.mat-option.mat-selected,
.mat-option:focus:not(.mat-option-disabled),
.mat-option:hover:not(.mat-option-disabled) {
    background: rgba(0, 0, 0, .04)
}

.mat-option.mat-selected {
    color: var(--primary-color)
}

.mat-option.mat-active {
    background: rgba(0, 0, 0, .04);
    color: rgba(0, 0, 0, .87)
}

.mat-option.mat-option-disabled {
    color: rgba(0, 0, 0, .38)
}

.mat-pseudo-checkbox:after {
    color: #fafafa
}

.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
    border: none
}

.mat-pseudo-checkbox-checked.mat-primary,
.mat-pseudo-checkbox-indeterminate.mat-primary {
    background: var(--primary-color)
}

.mat-pseudo-checkbox-checked.mat-accent,
.mat-pseudo-checkbox-indeterminate.mat-accent {
    background: #ffc107
}

.mat-pseudo-checkbox-checked.mat-warn,
.mat-pseudo-checkbox-indeterminate.mat-warn {
    background: #f44336
}

.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-disabled,
.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-disabled {
    background: #b0b0b0
}

.mat-app-background {
    background-color: #fafafa
}

.mat-autocomplete-panel,
.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active) {
    background: #fff;
    color: rgba(0, 0, 0, .87)
}

.mat-button.mat-button-focus.mat-primary .mat-button-focus-overlay,
.mat-fab.mat-button-focus.mat-primary .mat-button-focus-overlay,
.mat-icon-button.mat-button-focus.mat-primary .mat-button-focus-overlay,
.mat-mini-fab.mat-button-focus.mat-primary .mat-button-focus-overlay,
.mat-raised-button.mat-button-focus.mat-primary .mat-button-focus-overlay {
    background-color: rgba(0, 188, 212, .12)
}

.mat-button.mat-button-focus.mat-accent .mat-button-focus-overlay,
.mat-fab.mat-button-focus.mat-accent .mat-button-focus-overlay,
.mat-icon-button.mat-button-focus.mat-accent .mat-button-focus-overlay,
.mat-mini-fab.mat-button-focus.mat-accent .mat-button-focus-overlay,
.mat-raised-button.mat-button-focus.mat-accent .mat-button-focus-overlay {
    background-color: rgba(255, 215, 64, .12)
}

.mat-button.mat-button-focus.mat-warn .mat-button-focus-overlay,
.mat-fab.mat-button-focus.mat-warn .mat-button-focus-overlay,
.mat-icon-button.mat-button-focus.mat-warn .mat-button-focus-overlay,
.mat-mini-fab.mat-button-focus.mat-warn .mat-button-focus-overlay,
.mat-raised-button.mat-button-focus.mat-warn .mat-button-focus-overlay {
    background-color: rgba(244, 67, 54, .12)
}

.mat-button,
.mat-icon-button {
    background: transparent
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary {
    color: var(--primary-color)
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent {
    color: #ffd740
}

.mat-button.mat-warn,
.mat-icon-button.mat-warn {
    color: #f44336
}

.mat-button.mat-accent[disabled],
.mat-button.mat-primary[disabled],
.mat-button.mat-warn[disabled],
.mat-button[disabled][disabled],
.mat-icon-button.mat-accent[disabled],
.mat-icon-button.mat-primary[disabled],
.mat-icon-button.mat-warn[disabled],
.mat-icon-button[disabled][disabled] {
    color: rgba(0, 0, 0, .38)
}

.mat-button:hover.mat-primary .mat-button-focus-overlay,
.mat-icon-button:hover.mat-primary .mat-button-focus-overlay {
    background-color: rgba(0, 188, 212, .12)
}

.mat-button:hover.mat-accent .mat-button-focus-overlay,
.mat-icon-button:hover.mat-accent .mat-button-focus-overlay {
    background-color: rgba(255, 215, 64, .12)
}

.mat-button:hover.mat-warn .mat-button-focus-overlay,
.mat-icon-button:hover.mat-warn .mat-button-focus-overlay {
    background-color: rgba(244, 67, 54, .12)
}

.mat-fab,
.mat-mini-fab,
.mat-raised-button {
    color: rgba(0, 0, 0, .87);
    background-color: #fff
}

.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
    color: #fff
}

.mat-fab.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
    color: rgba(0, 0, 0, .87)
}

.mat-fab.mat-warn,
.mat-mini-fab.mat-warn,
.mat-raised-button.mat-warn {
    color: #fff
}

.mat-fab.mat-accent[disabled],
.mat-fab.mat-primary[disabled],
.mat-fab.mat-warn[disabled],
.mat-fab[disabled][disabled],
.mat-mini-fab.mat-accent[disabled],
.mat-mini-fab.mat-primary[disabled],
.mat-mini-fab.mat-warn[disabled],
.mat-mini-fab[disabled][disabled],
.mat-raised-button.mat-accent[disabled],
.mat-raised-button.mat-primary[disabled],
.mat-raised-button.mat-warn[disabled],
.mat-raised-button[disabled][disabled] {
    color: rgba(0, 0, 0, .38)
}

.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
    background-color: var(--primary-color)
}

.mat-fab.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
    background-color: #ffd740
}

.mat-fab.mat-warn,
.mat-mini-fab.mat-warn,
.mat-raised-button.mat-warn {
    background-color: #f44336
}

.mat-fab.mat-accent[disabled],
.mat-fab.mat-primary[disabled],
.mat-fab.mat-warn[disabled],
.mat-fab[disabled][disabled],
.mat-mini-fab.mat-accent[disabled],
.mat-mini-fab.mat-primary[disabled],
.mat-mini-fab.mat-warn[disabled],
.mat-mini-fab[disabled][disabled],
.mat-raised-button.mat-accent[disabled],
.mat-raised-button.mat-primary[disabled],
.mat-raised-button.mat-warn[disabled],
.mat-raised-button[disabled][disabled] {
    background-color: rgba(0, 0, 0, .12)
}

.mat-fab,
.mat-mini-fab {
    background-color: #ffd740;
    color: rgba(0, 0, 0, .87)
}

.mat-button-toggle {
    color: rgba(0, 0, 0, .38)
}

.mat-button-toggle-checked {
    background-color: #e0e0e0;
    color: #000
}

.mat-button-toggle-disabled {
    background-color: #eee;
    color: rgba(0, 0, 0, .38)
}

.mat-button-toggle-disabled.mat-button-toggle-checked {
    background-color: #bdbdbd
}

.mat-card {
    background: #fff;
    color: #000
}

.mat-card-subtitle {
    color: rgba(0, 0, 0, .54)
}

.mat-checkbox-frame {
    border-color: rgba(0, 0, 0, .54)
}

.mat-checkbox-checkmark {
    fill: #fafafa
}

.mat-checkbox-checkmark-path {
    stroke: #fafafa!important
}

.mat-checkbox-mixedmark {
    background-color: #fafafa
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
    background-color: var(--primary-color)
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #ffc107
}

.mat-checkbox-checked.mat-warn .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-warn .mat-checkbox-background {
    background-color: #f44336
}

.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #b0b0b0
}

.mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
    border-color: #b0b0b0
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-primary .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgba(0, 188, 212, .26)
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgba(255, 215, 64, .26)
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-warn .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgba(244, 67, 54, .26)
}

.mat-chip:not(.mat-basic-chip) {
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, .87)
}

.mat-chip.mat-chip-selected:not(.mat-basic-chip) {
    background-color: gray;
    color: hsla(0, 0%, 100%, .87)
}

.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-primary {
    background-color: var(--primary-color);
    color: #fff
}

.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-accent {
    background-color: #ffc107;
    color: rgba(0, 0, 0, .87)
}

.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-warn {
    background-color: #f44336;
    color: #fff
}

.mat-dialog-container {
    background: #fff
}

.mat-icon.mat-primary {
    color: var(--primary-color)
}

.mat-icon.mat-accent {
    color: #ffd740
}

.mat-icon.mat-warn {
    color: #f44336
}

.mat-input-placeholder {
    color: rgba(0, 0, 0, .38)
}

.mat-input-placeholder.mat-focused {
    color: var(--primary-color)
}

.mat-input-placeholder.mat-focused.mat-accent {
    color: #ffd740
}

.mat-input-placeholder.mat-focused.mat-warn {
    color: #f44336
}

.mat-input-element:disabled {
    color: rgba(0, 0, 0, .38)
}

.mat-input-placeholder.mat-float.mat-focused .mat-placeholder-required,
input.mat-input-element:-webkit-autofill+.mat-input-placeholder .mat-placeholder-required {
    color: #ffd740
}

.mat-input-underline {
    border-color: rgba(0, 0, 0, .12)
}

.mat-input-underline .mat-input-ripple {
    background-color: var(--primary-color)
}

.mat-input-underline .mat-input-ripple.mat-accent {
    background-color: #ffd740
}

.mat-input-underline .mat-input-ripple.mat-warn {
    background-color: #f44336
}

.mat-list .mat-list-item,
.mat-nav-list .mat-list-item {
    color: #000
}

.mat-list .mat-subheader,
.mat-nav-list .mat-subheader {
    color: rgba(0, 0, 0, .54)
}

.mat-divider {
    border-top-color: rgba(0, 0, 0, .12)
}

.mat-nav-list .mat-list-item-content.mat-list-item-focus,
.mat-nav-list .mat-list-item-content:hover {
    background: rgba(0, 0, 0, .04)
}

.mat-menu-content {
    background: #fff
}

.mat-menu-item {
    background: transparent;
    color: rgba(0, 0, 0, .87)
}

.mat-menu-item[disabled] {
    color: rgba(0, 0, 0, .38)
}

.mat-menu-item .mat-icon {
    color: rgba(0, 0, 0, .54);
    vertical-align: middle
}

.mat-menu-item:focus:not([disabled]),
.mat-menu-item:hover:not([disabled]) {
    background: rgba(0, 0, 0, .04)
}

.mat-progress-bar-background {
    background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27%23b2ebf2%27%2F%3E%3C%2Fsvg%3E")
}

.mat-progress-bar-buffer {
    background-color: var(--primary-color-bg)
}

.mat-progress-bar-fill:after {
    background-color: var(--primary-color)
}

.mat-progress-bar.mat-accent .mat-progress-bar-background {
    background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27%23ffecb3%27%2F%3E%3C%2Fsvg%3E")
}

.mat-progress-bar.mat-accent .mat-progress-bar-buffer {
    background-color: #ffecb3
}

.mat-progress-bar.mat-accent .mat-progress-bar-fill:after {
    background-color: #ffb300
}

.mat-progress-bar.mat-warn .mat-progress-bar-background {
    background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27%23ffcdd2%27%2F%3E%3C%2Fsvg%3E")
}

.mat-progress-bar.mat-warn .mat-progress-bar-buffer {
    background-color: #ffcdd2
}

.mat-progress-bar.mat-warn .mat-progress-bar-fill:after {
    background-color: #e53935
}

.mat-progress-circle path,
.mat-progress-spinner path,
.mat-spinner path {
    stroke: var(--primary-color)
}

.mat-progress-circle.mat-accent path,
.mat-progress-spinner.mat-accent path,
.mat-spinner.mat-accent path {
    stroke: #ffb300
}

.mat-progress-circle.mat-warn path,
.mat-progress-spinner.mat-warn path,
.mat-spinner.mat-warn path {
    stroke: #e53935
}

.mat-radio-outer-circle {
    border-color: rgba(0, 0, 0, .54)
}

.mat-radio-checked .mat-radio-outer-circle {
    border-color: #ffd740
}

.mat-radio-disabled .mat-radio-outer-circle {
    border-color: rgba(0, 0, 0, .38)
}

.mat-radio-inner-circle {
    background-color: #ffd740
}

.mat-radio-disabled .mat-radio-inner-circle {
    background-color: rgba(0, 0, 0, .38)
}

.mat-radio-ripple .mat-ripple-element {
    background-color: rgba(255, 215, 64, .26)
}

.mat-radio-disabled .mat-radio-ripple .mat-ripple-element {
    background-color: rgba(0, 0, 0, .38)
}

.mat-select-trigger {
    color: rgba(0, 0, 0, .38)
}

.mat-select:focus:not(.mat-select-disabled) .mat-select-trigger {
    color: var(--primary-color)
}

.mat-select.ng-invalid.ng-touched:not(.mat-select-disabled) .mat-select-trigger {
    color: #f44336
}

.mat-select-underline {
    background-color: rgba(0, 0, 0, .12)
}

.mat-select:focus:not(.mat-select-disabled) .mat-select-underline {
    background-color: var(--primary-color)
}

.mat-select.ng-invalid.ng-touched:not(.mat-select-disabled) .mat-select-underline {
    background-color: #f44336
}

.mat-select-arrow {
    color: rgba(0, 0, 0, .38)
}

.mat-select:focus:not(.mat-select-disabled) .mat-select-arrow {
    color: var(--primary-color)
}

.mat-select.ng-invalid.ng-touched:not(.mat-select-disabled) .mat-select-arrow {
    color: #f44336
}

.mat-select-content,
.mat-select-panel-done-animating {
    background: #fff
}

.mat-select-value {
    color: rgba(0, 0, 0, .87)
}

.mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, .38)
}

.mat-sidenav-container {
    background-color: #fafafa;
    color: rgba(0, 0, 0, .87)
}

.mat-sidenav {
    color: rgba(0, 0, 0, .87)
}

.mat-sidenav,
.mat-sidenav.mat-sidenav-push {
    background-color: #fff
}

.mat-sidenav-backdrop.mat-sidenav-shown {
    background-color: rgba(0, 0, 0, .6)
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #ffc107
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(255, 193, 7, .5)
}

.mat-slide-toggle.mat-slide-toggle-focused:not(.mat-checked) .mat-ink-ripple {
    background-color: rgba(0, 0, 0, .12)
}

.mat-slide-toggle.mat-slide-toggle-focused .mat-ink-ripple {
    background-color: rgba(255, 193, 7, .26)
}

.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: var(--primary-color)
}

.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(0, 188, 212, .5)
}

.mat-slide-toggle.mat-primary.mat-slide-toggle-focused:not(.mat-checked) .mat-ink-ripple {
    background-color: rgba(0, 0, 0, .12)
}

.mat-slide-toggle.mat-primary.mat-slide-toggle-focused .mat-ink-ripple {
    background-color: rgba(0, 188, 212, .26)
}

.mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #f44336
}

.mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(244, 67, 54, .5)
}

.mat-slide-toggle.mat-warn.mat-slide-toggle-focused:not(.mat-checked) .mat-ink-ripple {
    background-color: rgba(0, 0, 0, .12)
}

.mat-slide-toggle.mat-warn.mat-slide-toggle-focused .mat-ink-ripple {
    background-color: rgba(244, 67, 54, .26)
}

.mat-disabled .mat-slide-toggle-thumb {
    background-color: #bdbdbd
}

.mat-disabled .mat-slide-toggle-bar {
    background-color: rgba(0, 0, 0, .1)
}

.mat-slide-toggle-thumb {
    background-color: #fafafa
}

.mat-slide-toggle-bar {
    background-color: rgba(0, 0, 0, .38)
}

.mat-slider-track-background {
    background-color: rgba(0, 0, 0, .26)
}

.mat-slider-thumb,
.mat-slider-thumb-label,
.mat-slider-track-fill {
    background-color: #ffd740
}

.mat-slider-thumb-label-text {
    color: rgba(0, 0, 0, .87)
}

.mat-slider-active .mat-slider-track-background,
.mat-slider:hover .mat-slider-track-background {
    background-color: rgba(0, 0, 0, .38)
}

.mat-slider-disabled .mat-slider-thumb,
.mat-slider-disabled .mat-slider-track-background,
.mat-slider-disabled .mat-slider-track-fill,
.mat-slider-disabled:hover .mat-slider-track-background {
    background-color: rgba(0, 0, 0, .26)
}

.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb,
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
    background-color: #000
}

.mat-slider-min-value.mat-slider-thumb-label-showing.mat-slider-active .mat-slider-thumb,
.mat-slider-min-value.mat-slider-thumb-label-showing.mat-slider-active .mat-slider-thumb-label {
    background-color: rgba(0, 0, 0, .26)
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    border-color: rgba(0, 0, 0, .26);
    background-color: transparent
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing).mat-slider-active .mat-slider-thumb,
.mat-slider-min-value:not(.mat-slider-thumb-label-showing):hover .mat-slider-thumb {
    border-color: rgba(0, 0, 0, .38)
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing).mat-slider-active.mat-slider-disabled .mat-slider-thumb,
.mat-slider-min-value:not(.mat-slider-thumb-label-showing):hover.mat-slider-disabled .mat-slider-thumb {
    border-color: rgba(0, 0, 0, .26)
}

.mat-tab-header,
.mat-tab-nav-bar {
    border-bottom: 1px solid #e0e0e0
}

.mat-tab-group-inverted-header .mat-tab-header,
.mat-tab-group-inverted-header .mat-tab-nav-bar {
    border-top: 1px solid #e0e0e0;
    border-bottom: none
}

.mat-tab-label:focus {
    background-color: rgba(178, 235, 242, .3)
}

.mat-ink-bar {
    background-color: var(--primary-color)
}

.mat-toolbar {
    background: #f5f5f5;
    color: rgba(0, 0, 0, .87)
}

.mat-toolbar.mat-primary {
    background: var(--primary-color);
    color: #fff
}

.mat-toolbar.mat-accent {
    background: #ffd740;
    color: rgba(0, 0, 0, .87)
}

.mat-toolbar.mat-warn {
    background: #f44336;
    color: #fff
}

.mat-tooltip {
    background: rgba(97, 97, 97, .9)
}

.docs-app-background {
    background: md-color((status-bar:#e0e0e0, app-bar:#f5f5f5, background:#fafafa, hover:rgba(0, 0, 0, .04), card:#fff, dialog:#fff, disabled-button:rgba(0, 0, 0, .12), raised-button:#fff), background)
}

.docs-primary-header {
    background: md-color((50:#e0f7fa, 100:var(--primary-color-bg), 200:#80deea, 300:#4dd0e1, 400:#26c6da, 500:var(--primary-color), 600:var(--primary-color), 700:#0097a7, 800:#00838f, 900:#006064, A100:#84ffff, A200:#18ffff, A400:#00e5ff, A700:#00b8d4, contrast:(50:rgba(0, 0, 0, .87), 100:rgba(0, 0, 0, .87), 200:rgba(0, 0, 0, .87), 300:rgba(0, 0, 0, .87), 400:rgba(0, 0, 0, .87), 500:#fff, 600:#fff, 700:#fff, 800:#fff, 900:hsla(0, 0%, 100%, .87), A100:rgba(0, 0, 0, .87), A200:rgba(0, 0, 0, .87), A400:rgba(0, 0, 0, .87), A700:rgba(0, 0, 0, .87)), default:var(--primary-color), lighter:var(--primary-color-bg), darker:#0097a7, default-contrast:#fff, lighter-contrast:rgba(0, 0, 0, .87), darker-contrast:#fff, "50-contrast":rgba(0, 0, 0, .87), "100-contrast":rgba(0, 0, 0, .87), "200-contrast":rgba(0, 0, 0, .87), "300-contrast":rgba(0, 0, 0, .87), "400-contrast":rgba(0, 0, 0, .87), "500-contrast":#fff, "600-contrast":#fff, "700-contrast":#fff, "800-contrast":#fff, "900-contrast":hsla(0, 0%, 100%, .87), "A100-contrast":rgba(0, 0, 0, .87), "A200-contrast":rgba(0, 0, 0, .87), "A400-contrast":rgba(0, 0, 0, .87), "A700-contrast":rgba(0, 0, 0, .87), "contrast-contrast":null))
}

.docs-footer,
.docs-primary-header h1 {
    color: md-color((50:#e0f7fa, 100:var(--primary-color-bg), 200:#80deea, 300:#4dd0e1, 400:#26c6da, 500:var(--primary-color), 600:var(--primary-color), 700:#0097a7, 800:#00838f, 900:#006064, A100:#84ffff, A200:#18ffff, A400:#00e5ff, A700:#00b8d4, contrast:(50:rgba(0, 0, 0, .87), 100:rgba(0, 0, 0, .87), 200:rgba(0, 0, 0, .87), 300:rgba(0, 0, 0, .87), 400:rgba(0, 0, 0, .87), 500:#fff, 600:#fff, 700:#fff, 800:#fff, 900:hsla(0, 0%, 100%, .87), A100:rgba(0, 0, 0, .87), A200:rgba(0, 0, 0, .87), A400:rgba(0, 0, 0, .87), A700:rgba(0, 0, 0, .87)), default:var(--primary-color), lighter:var(--primary-color-bg), darker:#0097a7, default-contrast:#fff, lighter-contrast:rgba(0, 0, 0, .87), darker-contrast:#fff, "50-contrast":rgba(0, 0, 0, .87), "100-contrast":rgba(0, 0, 0, .87), "200-contrast":rgba(0, 0, 0, .87), "300-contrast":rgba(0, 0, 0, .87), "400-contrast":rgba(0, 0, 0, .87), "500-contrast":#fff, "600-contrast":#fff, "700-contrast":#fff, "800-contrast":#fff, "900-contrast":hsla(0, 0%, 100%, .87), "A100-contrast":rgba(0, 0, 0, .87), "A200-contrast":rgba(0, 0, 0, .87), "A400-contrast":rgba(0, 0, 0, .87), "A700-contrast":rgba(0, 0, 0, .87), "contrast-contrast":null), default-contrast)
}

.docs-footer {
    background: md-color((50:#e0f7fa, 100:var(--primary-color-bg), 200:#80deea, 300:#4dd0e1, 400:#26c6da, 500:var(--primary-color), 600:var(--primary-color), 700:#0097a7, 800:#00838f, 900:#006064, A100:#84ffff, A200:#18ffff, A400:#00e5ff, A700:#00b8d4, contrast:(50:rgba(0, 0, 0, .87), 100:rgba(0, 0, 0, .87), 200:rgba(0, 0, 0, .87), 300:rgba(0, 0, 0, .87), 400:rgba(0, 0, 0, .87), 500:#fff, 600:#fff, 700:#fff, 800:#fff, 900:hsla(0, 0%, 100%, .87), A100:rgba(0, 0, 0, .87), A200:rgba(0, 0, 0, .87), A400:rgba(0, 0, 0, .87), A700:rgba(0, 0, 0, .87)), default:var(--primary-color), lighter:var(--primary-color-bg), darker:#0097a7, default-contrast:#fff, lighter-contrast:rgba(0, 0, 0, .87), darker-contrast:#fff, "50-contrast":rgba(0, 0, 0, .87), "100-contrast":rgba(0, 0, 0, .87), "200-contrast":rgba(0, 0, 0, .87), "300-contrast":rgba(0, 0, 0, .87), "400-contrast":rgba(0, 0, 0, .87), "500-contrast":#fff, "600-contrast":#fff, "700-contrast":#fff, "800-contrast":#fff, "900-contrast":hsla(0, 0%, 100%, .87), "A100-contrast":rgba(0, 0, 0, .87), "A200-contrast":rgba(0, 0, 0, .87), "A400-contrast":rgba(0, 0, 0, .87), "A700-contrast":rgba(0, 0, 0, .87), "contrast-contrast":null))
}

.docs-component-viewer-tabbed-content h1,
.docs-guide-content h1 {
    color: #00838f;
    background: rgba(0, 0, 0, .03)
}

.docs-component-viewer-tabbed-content h2,
.docs-component-viewer-tabbed-content h3,
.docs-component-viewer-tabbed-content h4,
.docs-component-viewer-tabbed-content h5,
.docs-component-viewer-tabbed-content li,
.docs-component-viewer-tabbed-content ol,
.docs-component-viewer-tabbed-content p,
.docs-guide-content h2,
.docs-guide-content h3,
.docs-guide-content h4,
.docs-guide-content h5,
.docs-guide-content li,
.docs-guide-content ol,
.docs-guide-content p {
    color: rgba(0, 0, 0, .54)
}

.docs-component-viewer-tabbed-content a,
.docs-guide-content a {
    color: var(--primary-color)
}

.docs-component-viewer-tabbed-content table,
.docs-guide-content table {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12)
}

.docs-component-viewer-tabbed-content table tbody th,
.docs-guide-content table tbody th {
    border: 1px solid rgba(0, 0, 0, .03)
}

.docs-component-viewer-tabbed-content td,
.docs-guide-content td {
    color: rgba(0, 0, 0, .54);
    border: 1px solid rgba(0, 0, 0, .03)
}

.docs-component-viewer-tabbed-content th,
.docs-guide-content th {
    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, .03)
}

.docs-component-viewer-sidenav h3 {
    background: rgba(0, 0, 0, .32);
    color: #fff
}

.docs-component-viewer-sidenav li {
    border-color: rgba(0, 0, 0, .06);
    color: rgba(0, 0, 0, .54)
}

.docs-component-viewer-sidenav li>a {
    color: rgba(0, 0, 0, .54)
}

.docs-component-viewer-sidenav li>a.is-selected,
.docs-component-viewer-sidenav li>a:focus,
.docs-component-viewer-sidenav li>a:hover {
    background: #fafafa;
    color: var(--primary-color)
}

app-homepage .docs-header-background {
    background: url(material_splash.f8565f4d4064b6f6c83d.svg) repeat-x 50%, var(--primary-color)
}

app-homepage .docs-header-headline {
    color: #fff
}

app-homepage .docs-header-start {
    color: var(--primary-color)
}

app-component-viewer,
app-component-viewer .mat-tab-label:focus,
app-homepage .docs-homepage-row {
    color: rgba(0, 0, 0, .54)
}

.docs-example-source {
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.docs-component-category-list-card-summary,
.docs-component-list-item {
    color: rgba(0, 0, 0, .54)
}

app-navbar {
    color: #fff
}

app-navbar .docs-navbar {
    background: var(--primary-color)
}

example-viewer .docs-example-viewer-wrapper {
    border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    margin: 4px
}

example-viewer .docs-example-viewer-title {
    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, .03)
}

app-footer .docs-footer-links a {
    color: #fff
}

body {
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    margin: 0
}

[md-button],
[md-raised-button] {
    text-transform: uppercase
}

h1,
h2 {
    weight: 400
}

pre {
    white-space: pre-wrap
}

.docs-primary-header {
    padding-left: 20px
}

.docs-primary-header h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 50px
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #fdf6e3;
    color: #657b83
}

.hljs-comment,
.hljs-quote {
    color: #93a1a1
}

.hljs-addition,
.hljs-keyword,
.hljs-selector-tag {
    color: #859900
}

.hljs-doctag,
.hljs-literal,
.hljs-meta .hljs-meta-string,
.hljs-number,
.hljs-regexp,
.hljs-string {
    color: #2aa198
}

.hljs-name,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-title {
    color: #268bd2
}

.hljs-attr,
.hljs-attribute,
.hljs-class .hljs-title,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
    color: #b58900
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-subst,
.hljs-symbol {
    color: #cb4b16
}

.hljs-built_in,
.hljs-deletion {
    color: #dc322f
}

.hljs-formula {
    background: #eee8d5
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}
