.sidebar-menu li > a > .fa-angle-left, .sidebar-menu li > a > .pull-right-container > .fa-angle-left {
  height: auto;
  margin-right: 10px;
  padding: 0;
  position: absolute;
  right: 5%;
  top: 45%;
  transition: all 0.2s ease 0s;
  width: auto;
}
label.error {
    color: rgb(255, 0, 0);
}
input.error {
    border: 1px solid rgb(255, 0, 0);
}