@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Light.eot');
	src: url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-Light.woff') format('woff'),
		url('Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Black.eot');
	src: url('Montserrat-Black.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-Black.woff') format('woff'),
		url('Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
}
h1, h2, h3, h4, h5, h6 {font-family: "Montserrat",sans-serif; }
ul {list-style-type: none; margin: 0; padding: 0; } 
#newsletter-preloaded-rows{display:none; } 
#newsletter-preloaded-export{display:none; } 
#newsletter-preloaded-download{display:none; } 
#newsletter-builder {position: relative; overflow: hidden; width: 100%; float: left; } 
#newsletter-builder-sidebar{float: left; width: 250px; position: absolute; left: 0px; top: 0px; background-color: #FFFFFF; overflow-y: auto; height: 100%; z-index: 1; }
#newsletter-builder-sidebar-logo{height: 250px; width: 100%; float: left; text-align: center; } 
#newsletter-builder-sidebar-logo img {margin-top: 50px; } 
#newsletter-builder-sidebar-buttons{float: left; width: 100%; margin-top: 20px; } 
#newsletter-builder-sidebar-buttons-abutton{background-color: rgba(63,141,191,1); height: 40px; width: 160px; margin-right: auto; margin-left: auto; text-align: center; line-height: 40px; color: rgba(255,255,255,1); font-weight: 600; font-size: 14px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: background 0.5s; -moz-transition: background 0.5s; -o-transition: background 0.5s; transition: background 0.5s; cursor: pointer; margin-bottom: 25px; } 
#newsletter-builder-sidebar-buttons-abutton:hover {background-color: rgba(51,175,222,1); } 
#newsletter-builder-sidebar-buttons-bbutton{height: 40px; width: 160px; margin-right: auto; margin-left: auto; text-align: center; line-height: 40px; color: rgba(84,101,122,1); font-weight: 600; font-size: 14px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: background 0.5s; -moz-transition: background 0.5s; -o-transition: background 0.5s; transition: background 0.5s; cursor: pointer; margin-bottom: 25px; border: 1px solid #e4e4e5; } 
#newsletter-builder-sidebar-buttons-bbutton:hover {background-color: rgba(153,153,153,0.1); } 
#newsletter-builder-area{float: left; overflow: auto; width: 100%; min-height: 250px; } 
#newsletter-builder-area-center {width: 100%; height: 100%; } 
#newsletter-builder-area-center-frame {float: left; width: 100%; } 
#newsletter-builder-area-center-frame-buttons {width: 100%; float: left; height: 30px; } 
#newsletter-builder-area-center-frame-buttons-add {height: 30px; margin-right: auto; margin-left: auto; text-align: center; line-height: 30px; color: rgba(255,255,255,1); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: background 0.5s; -moz-transition: background 0.5s; -o-transition: background 0.5s; transition: background 0.5s; cursor: pointer; margin-bottom: 25px; font-size: 15px; float: left; padding-right: 15px; padding-left: 15px; background-color: rgba(63,141,191,1); position: relative; } 
#newsletter-builder-area-center-frame-buttons-add i {line-height: 30px; } 
#newsletter-builder-area-center-frame-buttons-add span {font-size: 10px; } 
#newsletter-builder-area-center-frame-buttons-add:hover {background-color: rgba(51,175,222,1); } 
#newsletter-builder-area-center-frame-buttons-dropdown {position: absolute; background-color: rgba(51,51,51,1); z-index: 999; top: 30px; left: 0px; text-align: left; width: 110px; display: none; } 
.newsletter-builder-area-center-frame-buttons-dropdown-tab {float: left; height: 30px; width: 100%; line-height: 30px; -webkit-transition: background 0.5s; -moz-transition: background 0.5s; -o-transition: background 0.5s; transition: background 0.5s; } 
.newsletter-builder-area-center-frame-buttons-dropdown-tab:hover {background-color: rgba(153,153,153,0.2); } 
.newsletter-builder-area-center-frame-buttons-dropdown-tab p {padding: 0px; float: left; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 12px; font-size: 14px; }
.newsletter-builder-area-center-frame-buttons-dropdown-tab i {float: right; margin-right: 10px; } 
.newsletter-builder-area-center-frame-buttons-content {
	height: 200px;
	width: 690px;
	background-color: rgba(70,70,70,1);
	position: absolute;
	left: 110px;
	z-index: 1;
	cursor: default;
	overflow-y: scroll;
	padding-bottom: 50px;
	display: none;
}
.newsletter-builder-area-center-frame-buttons-content-tab {
	float: left;
	width: 590px;
	margin-left: 50px;
	margin-top: 50px;
	position: relative;
}
.newsletter-builder-area-center-frame-buttons-content-tab:hover img{
	opacity: 0.8;
}
.newsletter-builder-area-center-frame-buttons-content-tab:hover .newsletter-builder-area-center-frame-buttons-content-tab-add{
	opacity: 1;
	}
.newsletter-builder-area-center-frame-buttons-content-tab img {
	float: left;
	width: 590px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.newsletter-builder-area-center-frame-buttons-content-tab-add {
	height: 30px;
	width: 100px;
	background-color: rgba(70,70,70,1);
	position: absolute;
	left: 50%;
	top: 50%;
	float: left;
	margin-top: -15px;
	margin-left: -50px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 2;
	opacity: 0;
	text-align: center;
}
.newsletter-builder-area-center-frame-buttons-content-tab-add:hover {
	background-color: rgba(0,0,0,1);
	cursor: pointer;
}
#newsletter-builder-area-center-frame-buttons-reset {
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	line-height: 30px;
	color: rgba(84,101,122,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	margin-bottom: 25px;
	font-size: 15px;
	float: right;
	background-color: rgba(255,255,255,0.8);
}
#newsletter-builder-area-center-frame-buttons-reset a{
	padding-right: 15px;
	padding-left: 15px;
	display: block;
	text-decoration: none;
	color: rgba(84,101,122,1);
	}
#newsletter-builder-area-center-frame-buttons-reset span {
	font-size: 10px;
}
#newsletter-builder-area-center-frame-buttons-reset:hover {
	background-color: rgba(255,255,255,0.3);
}
#newsletter-builder-area-center-frame-content {
	float: left;
	width: 100%;
	margin-top: 40px;
	background-color: rgba(153,153,153,1);
}
.sim-row{
	-webkit-transition: box-shadow 0.5s;
	-moz-transition: box-shadow 0.5s;
	-o-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
	}
.sim-row:hover {
	cursor: move;
	-webkit-box-shadow:  0px 0px 20px 0px rgba(0,0,0,0.2);
	-moz-box-shadow:  0px 0px 20px 0px rgba(0,0,0,0.2);
	box-shadow:  0px 0px 20px 0px rgba(0,0,0,0.2);
	}
.sim-row-delete {
	/*height: 40px;
	width: 40px;*/
	height: 30px;
	width: 30px;
	background-color: rgba(255,255,255,0.5);
	top: 0px;
	right: 0px;
	position: absolute;
    color: rgba(102,102,102,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0;	
	text-align: center;
	font-size: 20px;
}
.sim-row-delete i {
	line-height: 30px;	
}
.sim-row-delete:hover {
	background-color: rgba(255,0,0,1);
	cursor: pointer;
	color: rgba(255,255,255,1);
	}	
.sim-row:hover .sim-row-delete {
    opacity: 1;
	}
.sim-row-edit{
	position: relative;
	}		
.sim-row-edit-hover {
	height: 40px;
	width: 40px;
	background-color: rgba(63,141,191,0.8);
	position: absolute;
	right: 3%;
	bottom:0px;
	cursor: default;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;

}
.sim-row-edit-hover i{
	position: absolute;
	height: 30px;
	width: 30px;
	line-height: 30px;
	left: 50%;
	top: 50%;
	text-align: center;
	margin-top: -15px;
	margin-left: -15px;
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 16px;
}
.sim-row-edit-hover i:hover {
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
}

.sim-edit{
	background-image: url("../_assets/background.png");
    background-repeat: repeat;
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0px;
    left: 0px
}
.sim-edit-box{
	background-color: rgb(255, 255, 255);
    bottom: 5%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    display: none;
    height: 300px;
    left: 26%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 17px; 
    width: 22%;
    min-width: 414px;
    overflow-x: hidden;
}

#sim-edit-text .sim-edit-box{width: 50%; }
#sim-edit-ulLi .sim-edit-box{width: 33%; }

.sim-edit-box-title{
	float: left;
	width: 100%;
	font-size: 25px;
	color: #000;
}
.sim-edit-box-content-text span {
	font-size: 13px;
	color: rgba(153,153,153,1);
}

.sim-edit-box-content{
	float: left;
	width: 100%;
}

#sim-edit-ulLi .sim-edit-box-content{
	overflow: scroll;
	max-height: 325px;
	height: 245px;
}

.sim-edit-box-content-text{
	float: left;
	width: 100%;
	font-size: 16px;
	color: rgba(102,102,102,1);
	font-weight: 600;
	margin-top: 15px;
}
.sim-edit-box-content-field{
	float: left;
	width: 100%;
	margin-top: 15px;
	}
.sim-edit-box-content-field-input {
	float: left;
	height: 33px;
	width: 380px;
	border: 1px solid rgba(204,204,204,1);
	outline: none;
	font-family: inherit;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 15px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	color: rgba(102,102,102,1);
}
.sim-edit-box-content-field-input:focus {
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);	
}
.sim-edit-box-content-field-textarea {
	float: left;
	height: 180px;
	width: 380px;
	border: 1px solid rgba(204,204,204,1);
	outline: none;
	font-family: inherit;
	font-size: 15px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	color: rgba(102,102,102,1);
	resize: none;
	padding: 10px;
}
.sim-edit-box-content-field-textarea:focus {
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);	
	}
.sim-edit-box-content-icons {
	float: left;
	height: 388px;
	width: 388px;
	border: 1px solid rgba(204,204,204,1);
	margin-top: 15px;
	overflow-y: scroll;
}
.sim-edit-box-content-icons i {
	line-height: 50px;
	background-color: rgba(225,225,225,1);
	float: left;
	height: 50px;
	width: 50px;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 28px;
	color: rgba(51,51,51,1);
}
.sim-edit-box-content-icons i:hover {
	cursor: pointer;
	background-color: rgba(153,153,153,1);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: rgba(0,0,0,1);
	}
.sim-edit-box-buttons{
	float: left;
	width: 100%;
	margin-top: 35px;
}
.sim-edit-box-buttons-save, .sim-edit-box-buttons-add{
	background-color: rgba(63,141,191,1);
	height: 35px;
	text-align: center;
	line-height: 35px;
	color: rgba(255,255,255,1);
	font-weight: 600;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	cursor: pointer;
	float: left;
	padding-right: 25px;
	padding-left: 25px;
}
.sim-edit-box-buttons-save:hover {
	background-color: rgba(51,175,222,1);
}
.sim-edit-box-buttons-add {
	margin-left: 4%;
	background: #255625;
}
.sim-edit-box-buttons-add:hover {
	background-color: rgba(51,175,222,1);
}
.sim-edit-box-buttons-cancel{
	height: 33px;
	text-align: center;
	line-height: 33px;
	color: rgba(84,101,122,1);
	font-weight: 600;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	cursor: pointer;
	border: 1px solid #e4e4e5;
	float: left;
	padding-right: 25px;
	padding-left: 25px;
	margin-left: 25px;
}
.sim-edit-box-buttons-cancel:hover {
	background-color: rgba(153,153,153,0.1);
}
 
.fixed-wrapper {height: auto; margin: 0px auto; max-width: 1170px; width: 100%; cursor: initial;}
.common_row > p {color: rgb(102, 102, 102); font-size: 16px; font-weight: 300; line-height: 24px; padding-bottom: 15px; }

h2 span {
    color: rgb(51, 51, 51);
    font-size: 60px;
    font-weight: 900;
    display: inline;
}

h2 p {
    color: rgb(51, 51, 51);
    font-size: 60px;
    font-weight: 900;
    letter-spacing: -3px;
    line-height: normal;
    margin-bottom: 20px;
    display: inline;
}
.common_row{width:100%;float:left;padding:50px 0 40px;background: rgb(255, 255, 255) none repeat scroll 0 0; cursor: initial;}
.txt_center{text-align:center;}
.common_row h2 span{color:#1fb6ff;}
.gray_section h2 span{color:#f49c14;}
.top_div .fixed-wrapper{max-width:770px;}

.gray_section{background:#f9f9f9;padding:0;}
.gray_left{width:58%;float:left;background:#fff;margin:28px 0 18px;}
.gray_left p{padding:15px 20px;}
.gray_left img{width:100%;}
.gray_left h2{padding-left:90px;position:relative;}
.gray_left h2:after{width:70px;height:2px;background:#1fb6ff;content:"";position:absolute;left:5px;bottom:10px;}
.blue_box{width:40%;float:right;min-height:580px;background:#1fb6ff;position:relative;}
/*.blue_box:after{content:"";position:absolute;left:10px;top:10px;bottom:10px;right:10px;margin:auto;border:3px #fff solid;}*/
.blue_box img{width:100%;height:580px;opacity:0.1;}

.blue_box_cont{max-width:386px;width:100%;height:auto;left:0;right:0;bottom:0;top:0;margin:auto;text-align:center;z-index:1;}
.blue_box_cont h4{font-weight:400;color:#fff;font-size:45px;line-height:45px;position:relative;padding-bottom:20px;}
.blue_box_cont h4 a{color:#fff;}
.blue_box_cont p{line-height:33px;font-size:24px;color:#fff;}
.blue_box_cont h4:after{background:#666666;content:"";position:absolute;left:0;right:0;margin:auto;bottom:0;height:2px;width:60%;}

.bottom_section{padding:70px 0;}
.bottom_section_left{width:42%;float:left;padding:0 20px;}
.blue_bottom{width:100%;float:left;position:relative;padding:10px 0 5px;margin-bottom:20px;}
.blue_bottom:after{background:#f49c14;height:100%;width:2px;left:-20px;top:0;position:absolute;content:"";}
.blue_bottom small{color:#333333;font-size:24px;line-height:20px;}
.blue_bottom h4{color:#333333;font-weight:400;font-size:48px;margin:0;}
.blue_bottom h4 span{color:#1fb6ff;}
.bottom_section_img{width:56%;float:right;}


.sim-row > h2 > span {color: rgb(31, 182, 255); font-size: 60px; font-weight: 900; letter-spacing: -3px; line-height: normal; margin-bottom: 20px; }

.sim-row > p{ color: rgb(102, 102, 102); font-size: 20px; font-weight: 300; line-height: 24px; padding-bottom: 15px; }

.sim-row ul li {margin: 30px 0 0; padding-left: 47px; position: relative; }
.sim-row ul li a {color: rgb(51, 51, 51); font-size: 20px; font-weight: 300; line-height: 24px; padding-bottom: 15px; }
.sim-row ul li i {display: inline-block; left: 0; position: absolute; top: 0; vertical-align: middle; }
.sim-row ul li i.fa.fa-pencil{top: 30%; left: 45%;}
.contact_top{width:100%;float:left;padding:30px 0;}
.contact_left{width:500px;float:left;}

.blue_box_cont > p {border: 2px solid;color: #ffffff;font-size: 24px;line-height: 33px;margin: 3%;padding: 8%;text-align: justify;}

.contact_top h2 span{color:#1fb6ff;}
.contact_left p{font-size:20px;}
.contact_left ul li{margin:30px 0 0 0;padding-left:47px;position:relative;}
.contact_left ul li a{color: #333333;    font-size: 20px;    font-weight: 300;    line-height: 24px;    padding-bottom: 15px;}
.contact_left ul li i{display:inline-block;vertical-align:middle;position:absolute;left:0;top:0;}


.contact_block {  background: #2e353f ;float: left;  min-height: 116px;  padding: 10px 30px;  width: 100%;margin:20px 0 0;position:relative;}
.contact_block i.contact_i{position:absolute;right:10px;top:0;bottom:0;margin:auto; width:auto;display:inline-block;height:80px;}
.contact_block h4 { color: #636d7b;  margin: 0 0 8px; font-size: 40px; font-weight: 900; letter-spacing: -2px; line-height: 46px; margin-bottom: 20px; }
.contact_block p {  color: #aaaaaa;  font-size: 14px;  line-height: 20px;  padding: 0;}

.yello_bg{background:#f49c14;}
.yello_bg h4, .yello_bg p { color: #2e353f;}
i.request_icon{height:113px;}
i.check_icon{height:94px;}
.contact_form{width:613px;float:right;padding:35px;background:#2e353f;}
.form_row{width:100%;float:left;margin-bottom:10px;}
.form_col{width:48%;float:left;}
.form_col:nth-child(2n){float:right;}

.contact_form label{color:#fff;font-weight:300;font-size:14px;line-height:normal;padding:15px 0;display:block;}
.txt_box{width:100%;float:left;height:43px;line-height:inherit;background:#3a424d;padding:0 10px;color:#fff;font-size:14px;}

.contact_form textarea{height:183px;padding:10px;border:none;}
.contact_form button{float:right;margin-top:15px;}
.google_map{width:100%;float:left;margin:20px 0 0;}
.google_map img, .google_map iframe{width:100%;vertical-align:middle;}


.block1{padding:0 0 0 129px;min-height:106px;position:relative;}
.block1:after{width:116px;height:48px;position:absolute;top:100%;right:15px;content:"";background:url(../images/down_direction.png) no-repeat;z-index:1;}
.contact_block{margin:0 0 2px;}
.block1 h3{color:#f49c14;font-weight:400;font-size:75px;line-height:normal;min-height:106px;padding-right:32px;padding-left:13px;float:right;margin:0;position:relative;margin-left:30px;}
.contact_block p {	color: #fff;	font-size: 17px;	line-height: 23px;	padding: 22px 0 0 0;	font-weight: 400;}

.block2{padding:0 111px 0 0;min-height: 144px;}
.block2 span{height: 110px;}
.block2 h3{float:left;padding-right:5px;padding-left:10px;min-height: 145px;line-height: 135px;margin-right: 40px;margin-left:0;}
.block2::after {	right: inherit;	left: -3px;}
.block3:after{display:none;}

.procces_design{margin:40px 0 0;}
.contact_block span {bottom: 0; display: inline-block; height: 80px; position: absolute; right: 10px; top: 0; width: 	120px; margin: auto;}
.block1 span{right: inherit;left: -56px;}
.block2 span {left: inherit; right: -20px; }
.block3 span {left: -34px; }

.request_icon.contact_i img{max-width: 130px; max-height: 130px;}
.sim-row-move{
	background: lightblue;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    box-shadow: 3px 3px 3px 3px lightblue;
    padding-left: 10px;
    /*border: 1px solid lightblue;*/
}
.editable ul li {	padding: 0 0 0 15px;	margin: 0 0 10px 0;	font-size: 16px;	line-height: 24px;	position: relative;}
.editable ul li::before {	content: "";	position: absolute;	left: 0;	top: 10px;width: 0;   height: 0;   border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;    border-right:4px solid #222; }

.sim-row.fixed-wrapper ul.liicon li i img{
	max-height: 28px;
	max-width: 33px
}
p.sim-row-edit {
  display: flex;
  float: left;
}

.sim-row-edit.data-image{ display: inline; }
#section_1 span {float: left; margin-right: 25px; }
#section_2 span {color: #f49c14; }
.sim-row-edit.fn{ float:none;}
.sim-row-edit.display_inline{ display: inline; }
.sim-row-edit.wid_100{ width: 100%; }
#section_5 p {float: left;}
#section_8 h4 {width: 89%; }
#section_8 p {width: 87%; }