body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
}
#sim-wrapper{
	background-color: rgba(195,204,213,1);
	float: left;
	height: auto;
	width: 100%;
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}
#sim-wrapper-newsletter{
	margin-right: auto;
	margin-left: auto;
	height: auto;
	width: 100%;
}
.sim-row{
	width: 100%;
	float: left;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	background: #fff;
}
.sim-row-header1{
	width: 100%;
	float: left;
}
.sim-row-header1-nav{
	width: 100%;
	float: left;
	background-color: rgba(255,255,255,1.00);
	height: 80px;
}
.sim-row-header1-nav-logo{
	width: 150px;
	float: left;
	height: 80px;
	text-align: center;
	margin-left: 50px;
	overflow: hidden;
}
.sim-row-header1-nav-logo img {
	height: 80px;
	width: auto;
}
.sim-row-header1-nav-links{
	float: right;
	height: 80px;
	margin-right: 50px;
}
.sim-row-header1-nav-links a{
	color: rgba(63,141,191,1);
	text-decoration: none;
	margin-top: 30px;
	float: left;
	margin-right: 25px;
	font-size: 15px;
}
.sim-row-header1-nav-links a:hover {
	text-decoration: underline;
}

.sim-row-header1-nav-links-contact{
	float: left;
	margin-top: 25px;
	background-color: rgba(63,141,191,1);
	line-height: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.sim-row-header1-nav-links-contact:hover {
	background-color: rgba(150,111,177,1);
}
.sim-row-header1-nav-links-contact a {
	color: rgba(255,255,255,1);
	margin: 0px;
	display: block;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.sim-row-header1-nav-links-contact a:hover {
	text-decoration: none;
}
.sim-row-header1-slider{
	background-color: rgba(130,207,204,1);
	width: 100%;
	float: left;
	height: 450px;
}
.sim-row-header1-slider-left{
	height: 450px;
	float: left;
	width: 400px;
}
.sim-row-header1-slider-left-title{
	width: 300px;
	float: left;
	margin-left: 50px;
	margin-top: 75px;
	font-size: 26px;
	color: rgba(255,255,255,1);

}
.sim-row-header1-slider-left-subtitle{
	float: left;
	width: 300px;
	margin-left: 50px;
	font-size: 20px;
	color: rgba(255,255,255,1);
	font-weight: 300;
}
.sim-row-header1-slider-left-text{
	float: left;
	width: 300px;
	margin-left: 50px;
	margin-top: 25px;
	font-size: 16px;
	color: rgba(255,255,255,1);
	line-height: 24px;
	font-weight: 300;
}
.sim-row-header1-slider-left-link{
	float: left;
	margin-top: 30px;
	margin-left: 50px;
	background-color: rgba(150,111,177,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.sim-row-header1-slider-left-link:hover {
	background-color: rgba(63,141,191,1);
}
.sim-row-header1-slider-left-link a {
	color: rgba(255,255,255,1);
	font-size: 15px;
	line-height: 35px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}
.sim-row-header1-slider-right{
	float: left;
	height: 450px;
	width: 400px;
	overflow: hidden;
}
.sim-row-header1-slider-right img {
	height: 450px;
	width: auto;
}
.sim-row-header2{
	width: 100%;
	float: left;
}
.sim-row-header2-nav{
	width: 100%;
	float: left;
	background-color: rgba(255,255,255,1);
	height: 80px;
}
.sim-row-header2-nav-logo{
	width: 150px;
	float: left;
	height: 80px;
	text-align: center;
	margin-left: 50px;
	overflow: hidden;
}
.sim-row-header2-nav-logo img {
	height: 80px;
	width: auto;
}
.sim-row-header2-nav-links{
	float: right;
	height: 80px;
	margin-right: 50px;
}
.sim-row-header2-nav-links a{
	color: rgba(63,141,191,1);
	text-decoration: none;
	margin-top: 30px;
	float: left;
	margin-right: 25px;
	font-size: 15px;
}
.sim-row-header2-nav-links a:hover {
	text-decoration: underline;
}
.sim-row-header2-nav-links-contact{
	float: left;
	margin-top: 25px;
	background-color: rgba(63,141,191,1);
	line-height: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.sim-row-header2-nav-links-contact:hover {
	background-color: rgba(150,111,177,1);
}
.sim-row-header2-nav-links-contact a {
	color: rgba(255,255,255,1);
	margin: 0px;
	display: block;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.sim-row-header2-nav-links-contact a:hover {
	text-decoration: none;
}
.sim-row-header2-slider{
	background-color: rgba(130,207,204,1);
	width: 100%;
	float: left;
	height: 450px;
}
.sim-row-header2-slider-top{
	height: 225px;
	float: left;
	width: 100%;
	text-align: center;
}
.sim-row-header2-slider-top-title{
	width: 700px;
	float: left;
	margin-left: 50px;
	font-size: 26px;
	color: rgba(255,255,255,1);
	margin-top: 25px;
}
.sim-row-header2-slider-top-text{
	float: left;
	width: 700px;
	margin-left: 50px;
	margin-top: 15px;
	font-size: 16px;
	color: rgba(255,255,255,1);
	line-height: 24px;
	font-weight: 300;
}
.sim-row-header2-slider-top-link{
	float: left;
	width: 700px;
	margin-left: 50px;
	margin-top: 25px;
}
.sim-row-header2-slider-top-link-button{
	background-color: rgba(150,111,177,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	margin-right: auto;
	margin-left: auto;
	width: 100px;
}
.sim-row-header2-slider-top-link-button:hover {
	background-color: rgba(63,141,191,1);
}
.sim-row-header2-slider-top-link-button a {
	color: rgba(255,255,255,1);
	font-size: 15px;
	line-height: 35px;
	text-decoration: none;
	display: block;
	width: 100px;
}
.sim-row-header2-slider-bottom{
	float: left;
	height: 225px;
	width: 100%;
	overflow: hidden;
}
.sim-row-header2-slider-bottom img {
	height: auto;
	width: 100%;
}
.sim-row-content1{
	float: left;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgba(255,255,255,1);
}
.sim-row-content1-tab{
	float: left;
	width: 200px;
	margin-left: 50px;
	text-align: center;
}
.sim-row-content1-tab-icon{
	background-color: rgba(63,141,191,1);
	height: 60px;
	width: 60px;
	margin-right: auto;
	margin-left: auto;
	color: rgba(255,255,255,1);
	line-height: 60px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	font-size: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.sim-row-content1-tab-icon i {
	line-height: 60px;
}

.sim-row-content1-tab:hover .sim-row-content1-tab-icon {
	background-color: rgba(150,111,177,1);
}
.sim-row-content1-tab-title{
	margin-top: 20px;
	font-size: 18px;
	color: #1f4f80;
}
.sim-row-content1-tab-text{
	font-size: 14px;
	color: #666666;
	margin-top: 5px;
}
.sim-row-content2{
	background-color: rgba(242,244,250,1);
	float: left;
	width: 100%;
}
.sim-row-content2-left {
	float: left;
	width: 400px;
	height: 400px;
	text-align: right;
	overflow: hidden;
}
.sim-row-content2-left img {
	height: 400px;
	width: auto;
}


.sim-row-content2-right{
	float: left;
	width: 400px;
	height: 400px;
}
.sim-row-content2-right-title{
	float: left;
	width: 300px;
	margin-top: 75px;
	font-size: 26px;
	color: #1f4f69;
	margin-left: 50px;
}
.sim-row-content2-right-text{
	color: #656565;
	float: left;
	width: 300px;
	margin-left: 50px;
	margin-top: 25px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}
.sim-row-content2-right-button{
	float: left;
	margin-top: 25px;
	width: 300px;
	margin-left: 50px;
}
.sim-row-content2-right-button a {
	float: left;
	background-color: rgba(150,111,177,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	color: rgba(255,255,255,1);
	font-size: 15px;
	line-height: 35px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}
.sim-row-content2-right-button a:hover {
	background-color: rgba(63,141,191,1);
}
.sim-row-content3{
	background-color: rgba(255,255,255,1);
	float: left;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content3-title{
	float: left;
	width: 700px;
	margin-left: 50px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content3-center{
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 40px;
	height: 240px;
}
.sim-row-content3-center-tab{
	float: left;
	height: 240px;
	width: 180px;
	background-color: rgba(242,244,250,1);
	margin-right: 30px;
}
.sim-row-content3-center-tab:last-child {
	margin-right: 0px;
}

.sim-row-content3-center-tab-image{
	float: left;
	height: 180px;
	width: 180px;
	text-align: center;
	background-color: rgba(130,207,204,1);
	overflow: hidden;
}
.sim-row-content3-center-tab-image img {
	height: 180px;
	width: auto;
}

.sim-row-content3-center-tab-text{
	float: left;
	width: 180px;
	height: 60px;
	background-color: rgba(242,244,250,1);
	color: #656565;
	line-height: 60px;
	text-align: center;
		-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.sim-row-content4{
	float: left;
	width: 100%;
	background-color: rgba(242,244,250,1);
}
.sim-row-content4-title{
	float: left;
	width: 650px;
	margin-left: 75px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
	margin-top: 50px;
	}
.sim-row-content4-content{
	float: left;
	width: 650px;
	margin-left: 75px;
	margin-top: 25px;
	color: #656565;
	float: left;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	text-align: center;
	}
.sim-row-content4-images{
	float: left;
	width: 100%;
	margin-top: 50px;
	height: 225px;
	overflow: hidden;
}
.sim-row-content4-images img {
	height: auto;
	width: 100%;
}
.sim-row-content5{
	background-color: rgba(255,255,255,1);
	float: left;
	width: 100%;
}
.sim-row-content5-left{
	float: left;
	width: 400px;
	height: 400px;
}
.sim-row-content5-left-title{
	float: left;
	width: 300px;
	margin-top: 75px;
	font-size: 26px;
	color: #1f4f69;
	margin-left: 50px;
}
.sim-row-content5-left-text{
	color: #656565;
	float: left;
	width: 300px;
	margin-left: 50px;
	margin-top: 25px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}
.sim-row-content5-left-button{
	float: left;
	margin-top: 25px;
	width: 300px;
	margin-left: 50px;
}
.sim-row-content5-left-button a {
	float: left;
	background-color: rgba(150,111,177,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	color: rgba(255,255,255,1);
	font-size: 15px;
	line-height: 35px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}
.sim-row-content5-left-button a:hover {
	background-color: rgba(63,141,191,1);
}
.sim-row-content5-right {
	float: left;
	width: 400px;
	height: 400px;
	text-align: left;
	overflow: hidden;
}
.sim-row-content5-right img {
	height: 400px;
	width: auto;
}
.sim-row-content6{
	background-color: rgba(130,207,204,1);
	float: left;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.sim-row-content6-center{
	float: left;
	width: 700px;
	margin-left: 50px;
}
.sim-row-content6-center-tab{
	float: left;
	width: 150px;
	margin-right: 33px;
	text-align: center;
}
.sim-row-content6-center-tab:last-child {
	margin-right: 0px;
}

.sim-row-content6-center-tab-image{
	width: 60px;
	font-size: 30px;
	color: rgba(130,207,204,1);
	line-height: 60px;
	height: 60px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(255,255,255,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.sim-row-content6-center-tab-image i {
	line-height: 60px;
}

.sim-row-content6-center-tab-text{
	color: rgba(255,255,255,1);
	font-size: 18px;
	margin-top: 15px;
	width: 150px;
}
.sim-row-content7{
	background-color: rgba(255,255,255,1);
	float: left;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content7-title{
	float: left;
	width: 700px;
	margin-left: 50px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content7-center{
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 40px;
}
.sim-row-content7-center-tab{
	float: left;
	width: 180px;
	background-color: rgba(242,244,250,1);
	margin-right: 30px;
	padding-bottom: 15px;
}
.sim-row-content7-center-tab:last-child {
	margin-right: 0px;
}

.sim-row-content7-center-tab-image{
	float: left;
	height: 180px;
	width: 180px;
	text-align: center;
	background-color: rgba(130,207,204,1);
	overflow: hidden;
}
.sim-row-content7-center-tab-image img {
	height: 180px;
	width: auto;
}
.sim-row-content7-center-tab-title{
	float: left;
	width: 150px;
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 15px;
	margin-left: 15px;
}
.sim-row-content7-center-tab-text {
	float: left;
	width: 150px;
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 24px;
	margin-top: 5px;
	margin-left: 15px;
}
.sim-row-content8{
	background-color: rgba(242,244,250,1);
	float: left;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content8-title{
	float: left;
	width: 700px;
	margin-left: 50px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content8-center{
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 40px;
}
.sim-row-content8-center-tab{
	float: left;
	width: 285px;
	background-color: rgba(255,255,255,1);
	margin-right: 30px;
	padding-bottom: 15px;
}
.sim-row-content8-center-tab:last-child {
	margin-right: 0px;
}

.sim-row-content8-center-tab-image{
	float: left;
	height: 180px;
	width: 285px;
	text-align: center;
	background-color: rgba(130,207,204,1);
	overflow: hidden;
}
.sim-row-content8-center-tab-image img {
	height: auto;
	width: 285px;
}
.sim-row-content8-center-tab-title{
	float: left;
	width: 255px;
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 15px;
	margin-left: 15px;
}
.sim-row-content8-center-tab-text {
	float: left;
	width: 255px;
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 24px;
	margin-top: 5px;
	margin-left: 15px;
}
.sim-row-content9{
	float: left;
	width: 100%;
	background-color: rgba(255,255,255,1);
}
.sim-row-content9-title{
	float: left;
	width: 650px;
	margin-left: 75px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
	margin-top: 50px;
	}
.sim-row-content9-content{
	float: left;
	width: 650px;
	margin-left: 75px;
	margin-top: 25px;
	color: #656565;
	float: left;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	text-align: center;
	}
.sim-row-content9-images{
	float: left;
	width: 100%;
	margin-top: 50px;
	height: 225px;
	overflow: hidden;
}
.sim-row-content9-images img {
	height: auto;
	width: 100%;
}
.sim-row-content10{
	background-color: rgba(130,207,204,1);
	float: left;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content10-title{
	float: left;
	width: 700px;
	margin-left: 50px;
	font-size: 26px;
	text-align: center;
	color: #FFFFFF;
}
.sim-row-content10-center{
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 40px;
}
.sim-row-content10-center-tab{
	float: left;
	width: 180px;
	background-color: rgba(255,255,255,1);
	margin-right: 30px;
	padding-bottom: 15px;
}
.sim-row-content10-center-tab:last-child {
	margin-right: 0px;
}
.sim-row-content10-center-tab-image{
	float: left;
	height: 180px;
	width: 180px;
	text-align: center;
	background-color: rgba(242,244,250,1);
	overflow: hidden;
}
.sim-row-content10-center-tab-image img {
	height: 180px;
	width: auto;
}
.sim-row-content10-center-tab-title{
	float: left;
	width: 150px;
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 15px;
	margin-left: 15px;
}
.sim-row-content10-center-tab-text {
	float: left;
	width: 150px;
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 24px;
	margin-top: 5px;
	margin-left: 15px;
}
.sim-row-content11{
	background-color: rgba(255,255,255,1);
	float: left;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content11-title{
	float: left;
	width: 700px;
	margin-left: 50px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content11-center{
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 40px;
}
.sim-row-content11-center-tab{
	float: left;
	width: 285px;
	background-color: rgba(255,255,255,1);
	margin-right: 30px;
	padding-bottom: 20px;
}
.sim-row-content11-center-tab:last-child {
	margin-right: 0px;
}
.sim-row-content11-center-tab-image{
	float: left;
	height: 180px;
	width: 285px;
	text-align: center;
	background-color: rgba(242,244,250,1);
	overflow: hidden;
}
.sim-row-content11-center-tab-image img {
	height: auto;
	width: 285px;
}
.sim-row-content11-center-tab-title{
	float: left;
	width: 245px;
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 15px;
	margin-left: 20px;
}
.sim-row-content11-center-tab-text {
	float: left;
	width: 245px;
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 24px;
	margin-top: 5px;
	margin-left: 20px;
}
.sim-row-content11-center-tab-text-link {
	float: left;
	width: 245px;
	margin-left: 20px;
	margin-top: 15px;
}
.sim-row-content11-center-tab-text-link a {
	float: left;
	background-color: rgba(150,111,177,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	color: rgba(255,255,255,1);
	font-size: 14px;
	line-height: 25px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}
.sim-row-content11-center-tab-text-link a:hover {
	background-color: rgba(63,141,191,1);
}
.sim-row-content12{
	background-color: rgba(242,244,250,1);
	float: left;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sim-row-content12-title{
	float: left;
	width: 700px;
	margin-left: 50px;
	font-size: 26px;
	text-align: center;
	color: #1f4f69;
}
.sim-row-content12-center{
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 10px;
}

.sim-row-content12-center-tab{
	float: left;
	width: 285px;
	margin-right: 30px;
	padding-bottom: 20px;
	margin-top: 30px;
}
.sim-row-content12-center-tab:nth-child(even) {
	margin-right: 0px;
}

.sim-row-content12-center-tab-icon {
	float: left;
	height: 40px;
	width: 40px;
	color: rgba(128,147,161,1);
	font-size: 24px;
	line-height: 40px;
	text-align: center;
}
.sim-row-content12-center-tab-icon i {
	line-height: 40px;
}

.sim-row-content12-center-tab-title{
	float: right;
	width: 235px;
	color: #00ACCC;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	height: 40px;
	line-height: 40px;
}
.sim-row-content12-center-tab-text {
	float: left;
	width: 235px;
	font-size: 14px;
	color: rgba(102,102,102,1);
	line-height: 24px;
	margin-left: 50px;
}
.sim-row-content13{
	float: left;
	width: 100%;
	background-color: rgba(130,207,204,1);
	padding-top: 50px;
	padding-bottom: 50px;
}
.sim-row-content13-center {
	float: left;
	width: 600px;
	margin-left: 100px;
	margin-top: 10px;
}

.sim-row-content13-center-left{
	float: left;
}
.sim-row-content13-center-left-title{
	font-size: 20px;
	color: rgba(255,255,255,1);
	line-height: 30px;
}
.sim-row-content13-center-left-subtitle{
	font-size: 16px;
	color: rgba(255,255,255,0.5);
	line-height: 20px;
}
.sim-row-content13-center-right{
	float: right;
}
.sim-row-content13-center-right a {
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	color: rgba(255,255,255,1);
	font-size: 15px;
	line-height: 40px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
	background-color: rgba(255,255,255,0);
	border: 1px solid rgba(255,255,255,1);
}
.sim-row-content13-center-right a:hover {
	background-color: rgba(255,255,255,0.2);
}
.sim-row-content14{
	float: left;
	width: 100%;
	background-color: rgba(53,57,70,1);
	padding-top: 25px;
	padding-bottom: 25px;
}
.sim-row-content14-center{
	float: left;
	width: 600px;
	margin-left: 100px;
}
.sim-row-content14-center-left{
	float: left;
	width: 290px;
}
.sim-row-content14-center-left-title{
	color: #747885;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}
.sim-row-content14-center-left-text{
	color: #b9bcc5;
	font-size: 14px;
	line-height: 24px;
}
.sim-row-content14-center-right{
	float: right;
	width: 290px;
}
.sim-row-content14-center-right-title{
	color: #747885;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}
.sim-row-content14-center-right-row{
	color: #b9bcc5;
	font-size: 14px;
	line-height: 24px;
	float: left;
	width: 100%;
}
.sim-row-content14-center-right-type{
	float: left;
	width: 80px;
	font-weight: 600;
}
.sim-row-content14-center-right-content{
	float: right;
	width: 210px;
}
.sim-row-content15{
	background-color: rgba(53,57,70,1);
	float: left;
	width: 100%;
	height: 80px;
}
.sim-row-content15-center{
	float: left;
	width: 600px;
	margin-left: 100px;
}
.sim-row-content15-center-left{
	float: left;
	width: 200px;
	overflow: hidden;
	}
.sim-row-content15-center-left img {
	height: 80px;
	width: auto;
}
.sim-row-content15-center-right{
	float: right;
	color: #b9bcc5;
	font-size: 14px;
	line-height: 80px;
	width: 300px;
	text-align: right;
	}
