<innerbanner-app [title]="'Activity'"  [bc]="'Activity'"></innerbanner-app>


<div class="log_in full_border_style">
<div class="container">

<div class="row">


<div class="container">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="account_left">
    	<my-account-sidebar [active_menu]="'activity'"></my-account-sidebar>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="account_right rating_b_outer row" *ngIf="studentactivitypage?.total > 0">
        	
            <div class=" rating_outer_border" *ngFor="let single of studentactivitypage?.data "> 
                <div class="row">
                	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="single?.type =='apply_now'">
                		You have applied into university <b><a routerLink="/university/{{single?.university.slug}}">{{single?.university.name}}</a></b>.<br/>
                		{{ single?.created_at | date: 'd MMM, y' }}
                	</div>
                	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="single?.type =='university_rating'">
                		You have submitted review into university <b><a routerLink="/university/{{single?.university.slug}}">{{single?.university.name}}</a></b>.
                		<br/>
                		{{ single?.created_at | date: 'd MMM, y' }}
                	</div>
                	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="single?.type =='add_blog_comment'">
                		You have submitted comment into blog <b><a routerLink="/blog/{{single?.post.slug}}">{{single?.post.title}}</a></b>.
                		<br/>
                		{{ single?.created_at | date: 'd MMM, y' }}
                	</div>
                	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="single?.type =='edit_blog_comment'">
                		You have submitted comment into blog <b><a routerLink="/blog/{{single?.post.slug}}">{{single?.post.title}}</a></b>.
                		<br/>
                		{{ single?.created_at | date: 'd MMM, y' }}
                	</div>
                	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="single?.type =='search'">
                		You have search  <b><a  (onClick)="get_searchdata(single?.data)">{{single?.description}}</a></b>.
                		<br/>
                		{{ single?.created_at | date: 'd MMM, y' }}
                	</div>
                </div>
            </div> 

            <div class="col-lg-12 pagination_row">
                <p-paginator rows="{{studentactivitypage?.per_page}}" (onPageChange)="paginate($event)" totalRecords="{{studentactivitypage?.total}}" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="studentactivitypage?.total == 0">No activity found.</div>
    </div>
</div>
</div>
</div>
</div>
</div>
