
<innerbanner-app [title]="'Change Password'"  [bc]="'Change Password'"></innerbanner-app>

<div class="log_in full_border_style">
    <div class="container">

        <div class="row">

            <div class="container">
                <div class="row">
                	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="account_left">
                        	<my-account-sidebar [active_menu]="'change-password'"></my-account-sidebar>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="account_right row">
                            <h3>Change Password</h3>
                            <hr>
                            <form [formGroup]="changePasswordFrom" (ngSubmit)="chnage_password(changePasswordFrom.value)" novalidate>
                                <div class="form-group">
                                  <label>Old Password</label>
                                  <input type="password" class="form-control" formControlName="old_password">
                                </div>

                                <div class="form-group">
                                  <label>New Password</label>
                                  <input type="password" class="form-control" formControlName="new_password">
                                </div>


                                <div class="form-group">
                                  <label>Confirm Password</label>
                                  <input type="password" class="form-control" formControlName="confirm_password">
                                </div>

                                <div class="form-group">
                                  <button class="btn btn-primery" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>