
<innerbanner-app [title]="'Edit Profile'"  [bc]="'Edit Profile'"></innerbanner-app>


<div class="log_in full_border_style">
<div class="container">

<div class="row">


<div class="container">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="account_left">
    	<my-account-sidebar [active_menu]="'profile'"></my-account-sidebar>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="account_right row">
          <div class="col-xs-12 col-sm-12">
            <h3 style="float: left;">Upload Profile Image</h3>
            <span class="float-xs-right"><a routerLink="/my-account" class="btn btn-success btn-sm">Back</a></span>
            <div class="clear"></div>
            <hr>
          </div>
          <div class="col-xs-12 col-sm-12">
              <!-- <p-fileUpload name="profile_image" url="{{cons?.image_upload}}" (onUpload)="onUpload($event)" (onBeforeUpload)="onBeforeUpload($event)" 
                      multiple="false" accept="image/*" maxFileSize="1000000">
                  <template pTemplate type="content">
                      <ul *ngIf="uploadedFiles.length">
                          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                      </ul>
                  </template>        
              </p-fileUpload> -->
              
              <p-fileUpload name="profile_image" url="{{image_upload_url}}" (onUpload)="onUpload($event)" (onBeforeSend)="onBeforeSend($event)"  (onError)="onError($event)" 
                      mode="simple" skinSimple="true" accept="image/*" maxFileSize="1000000">  

                  <template pTemplate type="content">
                      <ul *ngIf="uploadedFiles.length">
                          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                      </ul>
                  </template>    
              </p-fileUpload>
          </div>
      </div>
    </div>
</div>
</div>
</div>
</div>
</div>
