
<innerbanner-app [title]="'Edit Profile'"  [bc]="'Edit Profile'"></innerbanner-app>


<div class="log_in full_border_style">
<div class="container">

<div class="row">


<div class="container">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="account_left">
    	<my-account-sidebar [active_menu]="'profile'"></my-account-sidebar>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="account_right row">
            <h3>Edit Profile </h3><span class="float-xs-right"><a routerLink="/my-account" class="btn btn-success btn-sm">Back</a></span>
            <div class="clear"></div>
            <hr>
            <form [formGroup]="editProfile" (ngSubmit)="update_profile(editProfile.value)" novalidate>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" formControlName="name">
                </div>

                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" formControlName="email">
                </div>

                <div class="form-group">
                    <label>Gender</label>
                      <div id="input-type">
                          <label class="radio-inline">
                              <input type="radio" [checked]="editProfile.value.gender == 'male'" formControlName="gender" name="gender" value="male"/> Male
                          </label>
                          <label class="radio-inline">
                                <input type="radio" [checked]="editProfile.value.gender == 'female'" formControlName="gender" name="gender" value="female"/> Female
                          </label>
                      </div>
                </div>


                <div class="form-group">
                  <label>Date of Birth</label>
                  <input type="date" class="form-control" formControlName="dob" placeholder="YYYY-MM-DD" #d="ngbDatepicker" ngbDatepicker [maxDate]="currentDate" value="{{this.user?.dob}}" (click)="d.toggle()">
                </div>


                <div class="form-group">
                  <label>Contact Number</label>
                  <input type="text" class="form-control" formControlName="contact_number">
                </div>

                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="address">
                </div>

                <div class="form-group">
                  <label>State</label>
                  <input type="text" class="form-control" formControlName="state">
                </div>

                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" formControlName="country">
                </div>

                <div class="form-group">
                  <label>Zip Code</label>
                  <input type="text" class="form-control" formControlName="zip_code">
                </div>

                <div class="form-group">
                  <label>Qualification</label>
                  <input type="text" class="form-control" formControlName="qualification">
                </div>

                <div class="form-group">
                  <button class="btn btn-primery" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
