
<innerbanner-app [title]="'Education'"  [bc]="'Education'"></innerbanner-app>

<div class="log_in full_border_style">
    <div class="container">

        <div class="row">

            <div class="container">
                <div class="row">
                	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="account_left">
                        	<my-account-sidebar [active_menu]="'education'"></my-account-sidebar>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="account_right row">
                            
                            <form *ngIf="!is_set" [formGroup]="educationFrom" (ngSubmit)="update(educationFrom.value)" novalidate>
                                <h4>Education</h4>
                                <hr>
                                <div class="form-group">
                                  <label>Last Education</label>
                                  <input type="text" class="form-control" formControlName="last_education">
                                </div>

                                <div class="form-group">
                                  <label>Last Education percentage</label>
                                  <input type="text" class="form-control" formControlName="last_education_percentage">
                                </div>
                                
                                <br class="clearfix">
                                <h4>Interested Degree, Course and Country</h4>
                                <hr>
                                <div class="form-group">
                                  <label>Interested Degree</label>
                                  <!-- <input type="text" class="form-control" formControlName="interested_degree"> -->
                                  <select  class="form-control" formControlName="interested_degree">
                                    <option selected value="">Select Degree</option>
                                    <option *ngFor="let course of courses" value="{{course.id}}">{{course.name}}</option>
                                  </select>
                                </div>

                                <div class="form-group">
                                  <label>Interested Course</label>
                                  <!-- <input type="text" class="form-control" formControlName="interested_course"> -->

                                  <select  class="form-control" formControlName="interested_course">
                                    <option selected value="">Select Course</option>
                                    <option *ngFor="let stream of streams" value="{{stream.id}}">{{stream.name}}</option>
                                  </select>
                                </div>


                                <div class="form-group">
                                  <label>Interested Country</label>
                                  <input type="text" class="form-control" formControlName="interested_country">
                                </div>
                                
                                
                                <br class="clearfix">
                                <h4>Markes</h4>
                                <hr>

                                <div class="form-group">
                                  <label>IETLS</label>
                                  <input type="text" class="form-control" formControlName="markes_ietls">
                                </div>
                                <div class="form-group">
                                  <label>TOEFL</label>
                                  <input type="text" class="form-control" formControlName="markes_toefl">
                                </div>
                                <div class="form-group">
                                  <label>PTE</label>
                                  <input type="text" class="form-control" formControlName="markes_pte">
                                </div>
                                <div class="form-group">
                                  <label>SAT</label>
                                  <input type="text" class="form-control" formControlName="markes_sat">
                                </div>
                                <div class="form-group">
                                  <label>GRE</label>
                                  <input type="text" class="form-control" formControlName="markes_gre">
                                </div>

                                <div class="form-group">
                                  <button class="btn btn-primery" type="submit">Submit</button>
                                  <button class="btn btn-primery" (click)="cancel_edit(true)" type="button">Cancel</button>
                                </div>
                            </form>

                            <div class="education_data" *ngIf="is_set">
                                <p class="alert alert-info"><strong>Note :</strong>You can view  university listing according to your education in <b>Interactive Assessment</b>.</p>

                                <h4>Education <span class="float-xs-right"><a (click)="cancel_edit(false)" class="btn btn-success btn-sm">Edit</a></span> </h4>
                
                                <hr>
                                <div class="form-group">
                                  <strong>Last Education : </strong>
                                  <span>{{user?.user_education?.last_education || '&nbsp; &nbsp; - &nbsp; &nbsp;'}}</span>
                                </div>

                                <div class="form-group">
                                  <strong>Last Education percentage : </strong>
                                  <span>{{user?.user_education?.last_education_percentage || '&nbsp; &nbsp; - &nbsp; &nbsp;'}}</span>
                                </div>
                                
                                <div class="clear"></div>
                                <br>
                                <h4>Interested Degree, Course and Country</h4>
                                <hr>
                                <div class="form-group">
                                  <strong>Interested Degree : </strong>
                                  <span>{{user?.user_education?.interested_degree_data?.name || '&nbsp; &nbsp; - &nbsp; &nbsp;'}}</span>
                                </div>

                                <div class="form-group">
                                  <strong>Interested Course : </strong>
                                  <span>{{user?.user_education?.interested_course_data?.name || '&nbsp; &nbsp; - &nbsp; &nbsp;'}}</span>
                                </div>


                                <div class="form-group">
                                  <strong>Interested Country : </strong>
                                  <span>{{user?.user_education?.interested_country || '&nbsp; &nbsp; - &nbsp; &nbsp;'}}</span>
                                </div>
                                
                                <div class="clear"></div>
                                <br>
                                <h4>Marks</h4>
                                <hr>

                                <div class="form-group">
                                  <strong>IETLS : </strong>
                                  <span>{{user?.user_education?.markes_ietls || '&nbsp; &nbsp; - &nbsp; &nbsp;'}}</span>
                                </div>
                                <div class="form-group">
                                  <strong>TOEFL : </strong>
                                  <span>{{user?.user_education?.markes_toefl || '&nbsp; &nbsp; - &nbsp; &nbsp;'}}</span>
                                </div>
                                <div class="form-group">
                                  <strong>PTE : </strong>
                                  <span>{{user?.user_education?.markes_pte || '&nbsp; &nbsp; - &nbsp; &nbsp;'}}</span>
                                </div>
                                <div class="form-group">
                                  <strong>SAT : </strong>
                                  <span>{{user?.user_education?.markes_sat || '&nbsp; &nbsp; - &nbsp; &nbsp;'}}</span>
                                </div>
                                <div class="form-group">
                                  <strong>GRE : </strong>
                                  <span>{{user?.user_education?.markes_gre || '&nbsp; &nbsp; - &nbsp; &nbsp;'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>