
<innerbanner-app [title]="'My Account'"  [bc]="'My Account'"></innerbanner-app>


<div class="log_in full_border_style">
<div class="container">

<div class="row">

<div class="container">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="account_left">
    	<my-account-sidebar [active_menu]="'profile'"></my-account-sidebar>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="account_right row">
        	<div class="col-sm-3 account_profile"><img src="{{ user?.image | image:225:225}}" alt=""/>
                <span class="float-xs-right"><a routerLink="/my-account/upload-profile-image" class="btn btn-success btn-sm">Edit Profile Image</a></span> 
            </div> 
            <div class="col-sm-9 ac_info">  

            	<h2>{{user?.name}} <span class="float-xs-right"><a routerLink="/my-account/edit" class="btn btn-success btn-sm">Edit</a></span> </h2>
                <ul> 
                <li> <u>Email</u>: <a href="mailto:{{user?.email}}"> {{user?.email}}</a></li>
                <li> <u>Phone</u>: <a href="tel:{{user?.contact_number}}"> {{user?.contact_number}} </a></li>
                <li> <u>Address</u>:  <span>{{user?.address}}</span> </li>
                <li> <u>Gender</u>:  <span>{{user?.gender | gender}} </span> </li>
                <li> <u>Date Born</u>: <span> {{user?.dob | date}} </span> </li>
                <li> <u>Qualification</u>: <span> {{user?.qualification}}</span>  </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
