
<innerbanner-app [title]="'Interactive Assessment'"  [bc]="'Interactive Assessment'"></innerbanner-app>


<div class="log_in full_border_style">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="account_left">
                    	<my-account-sidebar [active_menu]="'interactive-assessment'"></my-account-sidebar>
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="row">
                            <div class="col-sm-12" *ngIf="university?.data?.length > 0">
                              <div class="row">
                                  <div class="col-sm-6 col-md-4" *ngFor="let single of university?.data | paginate : { itemsPerPage:university?.per_page, currentPage:university?.current_page, id : 1, totalItems:university?.total } ">
                                      <div class="top_university_col">
                                        <label for="text" *ngIf="single?.id == 81">Sponsored by</label>
                                        <a  routerLink="/university/{{single.slug}}"><img src="{{ single.image | image:270:135 }}" alt=""></a>
                                        <div class="university_col_inner">
                                          <h4>{{single.name | stripTags | trim_text:20:"..."}}</h4>
                                          <p>{{single.description | stripTags | trim_text:100:"..."}}</p>
                                           <a routerLink="/university/{{single.slug}}" class="btn-default">Click here</a>
                                           <ul class="rating_star">
                                              <li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                                              <li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                                              <li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                                              <li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                                              <li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                                           </ul>
                                          <div class="clearboth"></div>
                                          <div class="add-compare-checkbox">
                                            <label  (click)="showLimitMessage(single)"><input type="checkbox" [disabled]="isLimit() && !isFound(single)" [checked]="isFound(single)" (change)="onChange(single, $event)"/> Add to compare</label>
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                 <div class="col-lg-12 pagination_row">
                                    <p-paginator rows="{{university?.per_page}}" (onPageChange)="paginate($event)" totalRecords="{{university?.total}}" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
                                </div>
                              </div>

                            </div>

                            <div class="col-sm-12" *ngIf="university?.data?.length == 0">
                              <div class="alert alert-danger">No result found.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
