
<innerbanner-app [title]="'Rating'"  [bc]="'Rating'"></innerbanner-app>


<div class="log_in full_border_style">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="account_left">
                    	<my-account-sidebar [active_menu]="'rating'"></my-account-sidebar>
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="account_right rating_b_outer row" *ngIf="studentratingpage?.data?.length > 0">
                        	
                            <div class="rating_university rating_outer_border col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let single of studentratingpage?.data "> 
                                <div class="row">
                                    <div class="col-sm-3"><img src="{{single.university.image | image:150:150}}"></div>
                                   
                                    
                                    <div class="col-sm-9">
                                        <h3>{{single.university.name}}</h3>
                                        <div class="star">
                                            <rating name="rating" [(ngModel)]="single.rating" [max]="5" [readonly]="true" [titles]="['one','two','three']"></rating>
                                        </div>
                                        <p>{{single.comment}}</p>
                                    </div>
                                </div>

                            </div> 

                            <div class="col-lg-12 pagination_row">
                                <p-paginator rows="{{studentratingpage?.per_page}}" (onPageChange)="paginate($event)" totalRecords="{{studentratingpage?.total}}" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
                            </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="studentratingpage?.data?.length == 0">No ratings found.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
