<innerbanner-app [title]="'About Us'"  [bc]="'About Us'"></innerbanner-app>


<!---about_info start-->
<div class="about_info">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 about_left">
                <h3> We are group of People who have been carring 15 years of education of the Abroad education Industry. </h3>
                <p>We have counseled more than 20000 students and researched the problems faced by the international student. When the point comes for going abroad the leading country will remain same such as USA, Australia, New Zeland, UK, Canada, Germany, France, United Kingdom, Switzerland, Poland, Netherlands, Cyprus, Lithuania, Fiji, Singapore, Itlay, Malasiya, Dubai, Latvia and Fiji. There are 196 countries in the world today. Many do not consider Taiwan an official country, which would bring the count down to 195 countries. From all over the globe student are going to the above-specified countries for their Higher education. With a view to solve the problem of all the student wanting to go abroad we have come up with solution with this venture.  </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 about_right">
                <figure class="about_right_img"><img src="images/about-img.jpg" alt=""/></figure>
            </div>
        </div>
    </div>
</div>
<!---about_info end-->

<!---about_section start-->
<div class="about_section full_border_style">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-style header-style-white">
                <div class="header-style-inner">
                    <h2>Vision :</h2>
                </div>
            </div>
            
            
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 about_sec_left">
                <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-6 about_left_img">
                            <img src="images/about_sec_img1.png" alt=""/>
                        </div>
                        
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-6 about_left_img">
                            <img src="images/about_sec_img2.png" alt=""/>
                        </div>
                        
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-6 about_left_img">
                            <img src="images/about_sec_img3.png" alt=""/>
                        </div>
                        
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-6 about_left_img">
                            <img src="images/about_sec_img4.png" alt=""/>
                        </div>
                </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 about_sec_right">
                    <p>  We want to provide genuine and transparent information to all international students who wish to study abroad. With this portal student will have excess to all required information of the University at aboard in seconds. Student will no longer need to waste their time in researching each website of the all University of each country. We see this step as revolution of the Industry as till date there is no such information is available in the form of portal. We will address to multiple questions and problems of the abroad aspirants in seconds through portal. We want that student should be able to find the University, Bachelors or Masters or any other course details, country wise, area wise, see photograph, communicate, check eligibility requirement of the University from the portal itself within a click.  </p>
                </div>
            
        </div>
    </div>
</div>
<!---about_section end-->

<!---about_info start-->
<div class="about_info">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 about_left right">
                <h3> Mission :</h3>
                <p> We aim to reach all 196 countries to cater the service of genuine guidance for abroad education. We want to establish live connection between the University and Student being the bridge between both of them. We want non of the student is mis leaded by any of family member, friend relative or guider. We want the student to recognize the crooks of the abroad industry by themselves, using this portal. We want to come with the torch along with student on their path to reach abroad. We also aim that choice of student and investment to be worth in this tough time and tough world. </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 about_right left">
                <figure class="about_right_img"><img src="images/about-img.jpg" alt="" class="about_img"/></figure>
            </div>
        </div>
    </div>
</div>
<!---about_info end-->