
<innerbanner-app [title]="'Answer Questions'" [bc]="'Answer Questions'"> </innerbanner-app>

<div class="faq">
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 faq_outer">
	<h3> When you decision to study Abroad   </h3>
			<p>Till this time student does not know which Country is good, which course is good, which intake, How much IETLS/TOEFL/SAT/GRE scores are required to meet the requirement of the University, and if known then not more than two or three Universities. Apart from that if they have five options of Universities student will not able to compare on one page. At last they leave the option to be selected by the Guider.  </p>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 faq_outer">
			<h3>Decision of Abroad Education :</h3>
			<p>Normally any student when decides that he wish to study at Abroad. Soon after he does not know what to do. From where to get the right information is obtained. So student has three options one is to decide by himself after doing research on google second He has to follow advise of his parents, family relative those who are sponsoring the education trip and third option is he has to approach to guider who has given advertisement in the newspaper or any of his friend has gone through that agency. Now lets take the three option on discussion table. </p>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 faq_outer">
			<h3>First option:</h3>
			<p>None of the student will dream at 5 am in the morning and any angle will come to his dream and advise student that take this course, this university, fees is affordable, your relative is staying in the next street so it will be easy for you to survive for next two or three year. No this type of dream will never come. Or any angle is not doing any research for your abroad education trip. So student will go on Google. If students wants to study in USA he will type list of college and universities in USA and will get around 500 Universities. Out of all which is best for him is not know again. So if the student will do the research then it will take at least six months. That is for one country if he wants to check his eligibility in three country such as Australia, new Zeeland, Canada etc. then one has to spare around 1 year of time just logging into the website of the each university and find out whether student is eligible or not ? So practically it is not feasible. None of the student born with the intelligence for the abroad education. It means that it is a subject of research and at most care is required which nobody haven taken so far. Even when you arrive at the decision it is not certain that your own decision is right. As where you will compare your decision. The decision goes on toss. </p>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 faq_outer">
			<h3>Second Option :</h3>
			<p>Student has to follow advise of his parents, family relative those who are sponsoring the education trip. At times it happens from your relative or nears and dears circle any body who has already reached to out of country not matter where he is and no matter where you want to go but you will still believe that person. You do not accept his words, you actually live his words whether it is true or not. Now that person is study in the xyz stream, went before three years, that time the rules where different for the visa, he may not have that sound knowledge which is required to answer your million Dollar Question. At times it happens in the temptation to go abroad student are being fooled by the guiders lot of time in terms of money, course, fees etc. In India going abroad is not a individual decision it is family decision. So that everybody will have their own opinion. But people who are throwing their decision even they do not have that idea whether will their advise will work or not as they also do not have research. MotaPappa’sson is at USA and let’s do what he says. But at the end if you want to compare that the information you received is how much authentic is to be checked. But there is no source or ready research available where it can be verified. So the decision goes on Toss. </p>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 faq_outer">
			<h3>Third Option :</h3>
			<p>Going to the guider’s office. Let us take an example,Yogesh decides to go to usa in New Jearsy in Bride Port University. Because his friend is studying in that university and make part time job available, accommodation and food also makes available for him. And the fees of that University is affordable for him. 
When he approaches to the Guider and he does not have the commission tie up he will leaded to another university somewhere in Cicago at University of Illinois at Chicago. You will mess up with all your plans and find yourself in Cicago with lot of hurdles. You will have find that the fees are hurting your pockets and disappointment starts. What will be your next move. To change the college and let your paid fees enjoyed by the University. Sometimes you will need to hire the attorney for the change of University pay fees. At times University cancel your visa and terminate your admission thereby you will need to remain to leave the country at the notice period of 30 days. Here do you have any source where you can check the option given by the guider is really worth or not for your. You will never be able to compare fees structure or eligibility requirement in the absence of genuine source. How ill do that, The question goes on toss. 
</p>
</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 faq_outer"  *ngFor="let single of answerquestions">

        <div class="faq_cell">
        <i> <img src="images/question.png" alt=""/> </i>
        	<h3> {{ single?.question }} </h3>
            <p>{{ single?.answer }}</p>
        </div>
        </div>
</div>
</div>
</div>