<!-- <div class="loading-overlay" *ngIf="loading">
    <md-progress-bar  [mode]="'indeterminate'"></md-progress-bar>
</div> -->
<loading-custom-app></loading-custom-app>
<header-app></header-app>
<router-outlet (activate)="onActivate($event, outlet)" #outlet></router-outlet>
<footer-app></footer-app>

