
<innerbanner-app [title]="'Ask Question'"  [bc]="'Ask Question'"></innerbanner-app>


<div class="log_in full_border_style">
  <div class="container">
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-style" id="login">
      	<div class="header-style-inner">
      	   <h2>Ask Question</h2>
      	</div>
    	</div>

      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu mollis dolor, ut pretium diam. Suspendisse fermentum in est sollicitudin dignissim. Nam vulputate lectus non elementum gravida. Praesent sem justo, rutrum in sodales id, tincidunt nec sem. Aenean commodo quam quis sem consequat, vehicula condimentum nulla euismod. Integer et aliquam nibh, ac aliquam turpis. Suspendisse potenti. Fusce commodo dolor vestibulum, sollicitudin augue sed, varius urna. Phasellus ante metus, sodales ac nunc nec, semper porttitor dolor. Fusce sodales nibh odio. Aliquam erat volutpat. Integer rutrum porttitor sapien, non tempus dolor ultrices at. Morbi tellus neque, consectetur eu tincidunt ut, ullamcorper blandit quam.
              </p>
              <p>
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam rhoncus, lorem vitae varius volutpat, nisi metus fermentum elit, id vehicula erat lacus luctus metus. Proin quis egestas dui. Nunc non tempus dui, id mollis nunc. Nunc sit amet posuere lorem, euismod mattis justo. Vivamus sodales turpis vel massa egestas suscipit. Etiam eget dictum enim, nec lacinia arcu. Donec mattis risus enim, sollicitudin consequat urna iaculis at. In quis dui vitae sem mattis tempor.
              </p>
            </div>
            <div class="account_right row">
              <h3>Ask Question</h3>
              <div class="clear"></div>
              <hr>
              <form [formGroup]="askquestion" (ngSubmit)="questionSubmit(askquestion)" novalidate>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" formControlName="name">
                </div>

                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" formControlName="email">
                </div>

                
                <div class="form-group">
                  <label>Question</label>
                  <textarea class="form-control" formControlName="question"></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-primery" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>