<innerbanner-app [title]="'blog'"  [bc]="'Blog'"></innerbanner-app> 

<div class="blog_inner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="blog_cell">
                    <div class="blog_img">
                        <img src="{{ blogdetail?.image | image:768:381 }}" alt=""/>
                    </div>
                    <div class="blog_text">
                        <ul class="news_options">
                            <li *ngIf="blogdetail?.created_at">
                                <i>
                                    <img src="images/calendar.png" alt=""/>
                                </i>
                                {{ blogdetail?.created_at | date: 'd MMM, y' }}
                            </li>
                            <li>
                                <i>
                                    <img src="images/chat.png" alt=""/>
                                </i>
                                {{ blogdetail?.blog_comment.length }}  Comments
                            </li>
                            <li *ngIf="blogdetail?.author">
                                <i>
                                    <img src="images/user-icon.png" alt=""/>
                                </i>
                                {{ blogdetail?.author }}
                            </li>
                        </ul>
                        <h3>
                            {{ blogdetail?.title }}
                        </h3>
                        <div class="blog-content" [innerHtml]="blogdetail?.description | nl2br"></div>
                    </div>
                    <div class="inner_blog_text">

                        <div class="blog_contact">
                            <h3>
                                Leave a Reply
                            </h3>
                            <form name="form" (ngSubmit)="postComment(f)" #f="ngForm" novalidate>
                                <div class="leave_reply">
                                    <textarea class="leave_text" name="comment" placeholder="Comments" [(ngModel)]="model.comment" #comment="ngModel">
                                    </textarea>
                                </div>
                                <div class="leave_reply ">
                                    <div class="robot left">
                                        <ng2-google-recaptcha [siteKey]="recaptchaSiteKey" (onCaptchaComplete)="onCaptchaComplete($event)" name='captcha'>
                                        </ng2-google-recaptcha>
                                    </div>
                                    <button class="leave_btn">
                                        Submit comment
                                    </button>
                                </div>
                            </form>
                        </div>


                        <h3 *ngIf="blogcomment?.length> 0">Comments</h3>
                        <div class="author" *ngIf="blogcomment?.length> 0">
                            <div class='row'>
                                <div class="col-sm-12 comments_outer col-xs-12" *ngFor = " let blog of blogcomment">
                                    <div class='col-sm-2 comments_add col-xs-3'>
                                        <img src="{{ blog?.users.image | image:100:100 }}" alt=""/>
                                     
                                    </div>
                                    <div class="col-sm-10 col-xs-9">
                                        <h6>
                                            {{ blog?.users.name }}
                                        </h6>

                                        <div class="dt">
                                             <p class="comment_date">
                                            {{ blog?.created_at | date: 'd MMM, y' }}
                                           </p>

                                           <span class="comment_time">{{ blog?.created_at | date: 'hh:mm a' }}</span> 
                                            
                                        </div>
                                        <div *ngIf="blog != undefined">
                                            <div *ngIf="userCanEdit(blog)">
                                                <inline-editor type="textarea" [(ngModel)]="blog.comment" (onSave)="saveEditable($event,blog?.id)">
                                                </inline-editor>
                                            </div>
                                            <div *ngIf="!userCanEdit(blog)">
                                                <div class="inline-content" [innerHtml]="blog?.comment | nl2br">
                                                </div>
                                            </div>
                                        </div>
                                          

                                        <!--   <a href="#" class="reply"> Reply </a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4">
                <div class="search_sec blog_inner_right">
                    <h4>
                        Search
                    </h4>
                    <div class="search_box">
                      <form [formGroup]="searchForm" (ngSubmit)="update_search(searchForm.value)" novalidate>
                        <input type="text" placeholder="Search Here" class="search"  formControlName="search"/>
                        <button type="submit" class="search_btn">
                        </button>
                      </form>
                    </div>
                </div>
                <div class="blog_inner_right">
                    <h4>
                        Recent Posts
                    </h4>
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12  popular_cell" *ngFor = " let single of recentblog">
                        <div class='row'>
                            <figure class="col-sm-6 col-lg-4">
                                <a routerLink="/blog/{{ single?.slug }}">
                                    <img src="{{ single?.image | image:100:80 }}" alt=""/>
                                </a>
                            </figure>
                            <figcaption class="col-sm-6 no-padding col-lg-8">
                                <h5>
                                    <a routerLink="/blog/{{ single?.slug }}">
                                        {{ single?.title | stripTags | trim_text:30:"..." }}
                                    </a>
                                </h5>
                                <small>
                                    {{ single?.created_at | date: 'd MMM, y' }}
                                </small>
                            </figcaption>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
