<innerbanner-app [title]="'Blog'" [bc]="'Blog'">
</innerbanner-app>
<div class="blog_inner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8"  *ngIf="blogdata?.data?.length> 0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog_cell" *ngFor = 'let blog of blogdata?.data'>
                            <div class="blog_img">
                                <img src="{{ blog?.image | image:768:381 }}" alt=""/>
                            </div>
                            <div class="blog_text">
                                <ul class="news_options">
                                    <li>
                                        <i>
                                            <img src="images/calendar.png" alt=""/>
                                        </i>
                                        {{ blog?.created_at | date: 'd MMM, y' }}
                                    </li>
                                    <li>
                                        <i>
                                            <img src="images/chat.png" alt=""/>
                                        </i>
                                        {{ blog?.blog_comment.length }} Comments
                                    </li>
                                    <li>
                                        <i>
                                            <img src="images/user-icon.png" alt=""/>
                                        </i>
                                        {{ blog?.author }}
                                    </li>
                                </ul>
                                <h3>
                                    <a routerLink="/blog/{{ blog?.slug }}">
                                        {{ blog?.title }}
                                    </a>
                                </h3>
                                <p>
                                    {{ blog?.description | stripTags | trim_text:300:"..." }}
                                </p>
                                <a routerLink="/blog/{{ blog?.slug }}" class="blog_read_btn">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 pagination_row">
                    <p-paginator rows="{{ blogdata?.per_page }}" (onPageChange)="paginate($event)" totalRecords="{{ blogdata?.total }}" [rowsPerPageOptions]="[10,20,30]">
                    </p-paginator>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8" *ngIf="blogdata?.data?.length == 0">
                <div class="alert alert-danger">
                    No result found.
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="search_sec blog_inner_right">
                    <h4>
                        Search
                    </h4>
                    <form [formGroup]="searchForm" (ngSubmit)="update_search(searchForm.value)" novalidate>
                        <div class="search_box">
                            <input type="text" placeholder="Search Here" class="search" formControlName="search"/>
                            <button type="submit" class="search_btn">
                            </button>
                        </div>
                    </form>
                </div>
                <div class="blog_inner_right"  *ngIf="recentblog?.length> 0">
                    <h4>
                        Recent Posts
                    </h4>
                    

                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12  popular_cell" *ngFor = " let single of recentblog">
                        <div class='row'>
                            <figure class="col-sm-6 col-lg-4">
                                <a routerLink="/blog/{{ single?.slug }}">
                                    <img src="{{ single?.image | image:100:80 }}" alt=""/>
                                </a>
                            </figure>
                            <figcaption class="col-sm-6 no-padding col-lg-8">
                                <h5>
                                    <a routerLink="/blog/{{ single?.slug }}">
                                        {{ single?.title | stripTags | trim_text:30:"..." }}
                                    </a>
                                </h5>
                                <small>
                                    {{ single?.created_at | date: 'd MMM, y' }}
                                </small>
                            </figcaption>
                        </div>
                    </article>


                </div>
            </div>
        </div>
    </div>
</div>
