<div *ngIf="university.length > 0" class="university_compare_container">
	
	<div class="university_compare_list">
		<div class="university_compare_item" *ngFor="let single of university">
		    <div class="top_university_col">
			    <a routerLink="/university/{{single?.slug}}">
			    	<img src="{{ single?.image | image:270:135 }}" alt="">
					<h4>{{single?.name | stripTags | trim_text:20:"..."}}</h4>
			    </a>
			    <a href="javascript:" (click)="onChange(single, $event)" class="remove-btn">
			      <!-- <input type="checkbox" [checked]="true"
			               (change)="onChange(single, $event)"/> -->
			       Remove
			    </a>
		    </div>
		</div>
	</div>

	<div class="compare-button"><a [routerLink]="['/compare']" class="btn-default">Compare ({{university.length}})</a></div>
</div>