<innerbanner-app [title]="'Compare Universities'"  [bc]="'Compare Universities'"></innerbanner-app>
<div class="compare full_border_style">
<div class="container">
<div class="row">
		<div class="col-xs-12 col-sm-12 header-style">
        	<div class="header-style-inner">
            	<h2>compare Universities</h2>
        	</div>
    	</div>
        
        <div class="uni_name">
            <div class="row">
                <div class="col-xs-12 col-sm-4 compare_col" *ngFor="let university of compare?.university">
                    <i> <img src="{{ university?.image | image:270:135 }}" alt=""> </i>
                    <h4> {{university?.name | stripTags }}</h4>
                </div>
            </div> 
        </div> 
        <div class="uni_info">
            <div class="row"> 
                <div class="col-xs-12 col-sm-4 university-highlights " *ngFor="let university of compare?.university">
                    <div class="uni_info_inner">
                        <h4> Highlights </h4>
                        <p> {{university?.description | stripTags | trim_text:180:"..."}} </p>
                    </div>
                </div>    
            </div> 
            <div class="row"> 
                <div class="col-xs-12 col-sm-4 university-ratings-reviews " *ngFor="let university of compare?.university">
                    <div class="uni_info_inner">
                        <h4> Ratings &amp; Reviews </h4>
                        <!-- <ul>
                            <li><a href="#"> <img src="./images/rating-star.png" alt=""> </a></li>
                            <li><a href="#"> <img src="./images/rating-star.png" alt=""> </a></li>
                            <li><a href="#"> <img src="./images/rating-star.png" alt=""> </a></li>
                            <li><a href="#"> <img src="./images/rating-star.png" alt=""> </a></li>
                            <li><a href="#"> <img src="./images/rating-star.png" alt=""> </a></li>
                            <li><a href="#"> 4 </a></li>
                        </ul> -->
                        <!-- <div class="star">
                            <rating name="rating" [(ngModel)]="{{university?.rating}}" [max]="5" [readonly]="true" [titles]="['one','two','three']"></rating>
                        </div> -->
                         <rating  *ngIf="university?.avg_ratings.length == 0"  [(ngModel)]="university?.avg_ratings.average" [max]="5" [readonly]="true" [titles]="['one','two','three']"></rating>
                        <rating  *ngIf="university?.avg_ratings.length > 0" [(ngModel)]="university?.avg_ratings[0].average" [max]="5" [readonly]="true" [titles]="['one','two','three']"></rating>
                       <p *ngIf="university?.avg_ratings.length > 0"> All {{university?.avg_ratings[0].total}} reviews </p>
                      <p *ngIf="university?.avg_ratings.length == 0"> All 0 reviews </p>
                    </div>
                </div>    
            </div>  


            <div class="row">
                <div class="col-xs-12 col-sm-4 university-course-stream-dropdown " *ngFor="let university of compare?.university"> 
                    <div class="form-group">
                        <label>Courses</label>
                        <select class="form-control login_id" (change)="change_course(university.id, $event)">
                            <option value=''>Select Courses</option>
                            <option *ngFor="let course of compare?.courses" [selected]="university?.selected_course == course.id" value="{{course.id}}">{{course.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Streams</label>
                        <select class="form-control login_id" (change)="change_stream(university.id, $event)">
                            <option value=''>Select Streams</option>
                            <option *ngFor="let stream of compare?.stream" [selected]="university?.selected_stream == stream.id" value="{{stream.id}}">{{stream.name}}</option>
                        </select>
                    </div>
                </div>  
            </div>  
            
            <div class="row" *ngFor="let component of compare?.components">
                <div class="col-xs-12 col-sm-4 university-component " *ngFor="let university of compare?.university">
                    <div class="uni_info_inner">
                        <h4> {{component.name}} </h4>
                        <p *ngIf="hasComponent(university, component)">{{ valueComponent(university, component) }}</p>
                        <p *ngIf="!hasComponent(university, component)"> - </p>
                    </div>  
                </div>  
            </div>  

            
            <div class="row">
                <div class="col-xs-12 col-sm-4 university-component " *ngFor="let university of compare?.university">
                    <div class="uni_info_inner">
                        <h4> Other </h4>
                        <div *ngIf="valueOtherMeta(university).length > 0">
                            <p *ngFor="let meta of valueOtherMeta(university)"><strong>
                                {{meta.meta_key}}  </strong><span>{{meta.meta_value}}</span></p>
                        </div>
                        <div *ngIf="valueOtherMeta(university).length == 0"><p> - </p></div>
                    </div>  
                </div>  
            </div> 

        </div>     
        <div class="row">
        	<div class="col-xs-12 col-sm-4 " *ngFor="let university of compare?.university">
                <div class="uni_info">
                     <div class="compare_btn_in">
                        <a routerLink="/university/{{university.slug}}" class="compare_btn"> Contact University </a>
                    </div>
                </div>
            </div>  
        </div>
        
</div>
</div>
</div>