<innerbanner-app [title]="'Contact Us'"  [bc]="'Contact Us'"></innerbanner-app>

<div class="container contact-us-page">
    <div class="row">
        <div class="col-md-6">
            <div class="header-style" id="login">
                <div class="header-style-inner">
                    <h2>Contact us</h2>
                </div>
            </div>
            <div class="well well-sm">
                <form [formGroup]="ContactForm" (ngSubmit)="send_mail(ContactForm.value, ContactForm)" novalidate>
                    <!-- <fieldset> -->

                        <!-- <legend class="text-xs-center header">Contact us</legend> -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <input id="fname" formControlName="first_name" type="text" placeholder="First Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input id="lname" formControlName="last_name" type="text" placeholder="Last Name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input id="email" formControlName="email" type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input id="phone" formControlName="phone" type="text" placeholder="Phone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" id="message" formControlName="message" placeholder="Enter your massage for us here. We will get back to you within some time." rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 ">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    <!-- </fieldset> -->
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="header-style" id="login">
                <div class="header-style-inner">
                    <h2>Our Office</h2>
                </div>
            </div>
            <div>
                <div class="card">
                    <!-- <div class="text-xs-center header">Our Office</div> -->
                    <div class="">
                        <h4>Address</h4>

                        <ul class="contact">
                          <li class="loaction">{{data?.footer_column_forth.address}}</li>
                        </ul>
                        <h4>Phone: </h4>
                        <ul class="contact">
                          <li class="call loaction"> <a href="tel:{{data?.footer_column_forth.phone}}"> {{data?.footer_column_forth.phone}} </a></li>
                        </ul>
                        <h4>Email: </h4>
                        <ul class="contact">
                          <li class="mail loaction"> <a href="mailto:{{data?.footer_column_forth.email}}"> {{data?.footer_column_forth.email}}</a></li>
                        </ul>
                        <h4>Website:</h4>
                        <ul class="contact">
                          <li class="website loaction">  <a href="{{data?.footer_column_forth.website}}" target="_blank">{{data?.footer_column_forth.website}} </a></li>
                        </ul>

                       <!--  <div>
                       2217 Washington Blvd<br />
                       Washington DC<br />
                       #(703) 1234 1234<br />
                       service@company.com<br />
                       </div> -->
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <hr>
        </div>

        <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3537.1052098073405!2d153.0798276150589!3d-27.55924508285353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915b3451470303%3A0x6d62888939aae440!2s3%2F18+Mount+Gravatt+Capalaba+Rd%2C+Upper+Mount+Gravatt+QLD+4122%2C+Australia!5e0!3m2!1sen!2s!4v1486103429826" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>