<innerbanner-app [title]="'Event'"  [bc]="'Event'">
</innerbanner-app>
<div class="blog_inner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="blog_cell">
                    <div class="blog_img">
                        <img src="{{ eventsdetail?.image | image:768:381 }}" alt=""/>
                    </div>
                    <div class="blog_text">
                        <ul class="news_options"  *ngIf="eventsdetail?.date">
                            <li>
                                <i>
                                    <img src="images/calendar.png" alt=""/>
                                </i>
                                {{ eventsdetail?.date | date: 'd MMM, y' }}
                            </li>
                        </ul>
                        <h3>
                            {{ eventsdetail?.title }}
                        </h3>
                        <div class="news-content" [innerHtml]="eventsdetail?.description | nl2br">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="search_sec blog_inner_right">
                    <h4>
                        Search
                    </h4>
                    <div class="search_box">
                        <form [formGroup]="searchForm" (ngSubmit)="update_search(searchForm.value)" novalidate>
                            <input type="text" placeholder="Search Here" class="search" formControlName="search"/>
                            <button type="submit" class="search_btn">
                            </button>
                        </form>
                    </div>
                </div>
                <div class="blog_inner_right" *ngIf="recentevents?.length> 0">
                    <h4>
                        Upcomming Events
                    </h4>
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 popular_cell" *ngFor = " let singlenews of recentevents ">
                        <div class='row'>
                            <figure class="col-sm-6 col-lg-4">
                                <a routerLink="/events/{{ singlenews?.slug }}">
                                    <img src="{{ singlenews?.image | image:100:80 }}" alt=""/>
                                </a>
                            </figure>
                            <figcaption class="col-sm-6 no-padding col-lg-8">
                                <h5>
                                    <a routerLink="/events/{{ singlenews?.slug }}">
                                        {{ singlenews?.title  | stripTags | trim_text:30:"..." }}
                                    </a>
                                </h5>
                                <small>
                                    {{ singlenews?.date | date: 'd MMM, y' }}
                                </small>
                            </figcaption>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
