<compare-universities></compare-universities> 

<!--subcribe start-->
<div class="subcribe">
  <div class="container">
    <!-- <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 newsletter">
        <h4> SUBSCRIBE <span>TO OUR NEWSLETTER </span></h4>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 email">
        <input type="text" class="email_text" placeholder="Enter your email address..."/>
        <button type="button" class="subscribe"> SUBSCRIBE </button>
      </div>
    </div> -->
    <mail-chimp [label]="'SUBSCRIBE <span>TO OUR NEWSLETTER</span>'" (onError)="onError($event)" (onSuccess)="onSuccess($event)" (onBeforeSend)="newsletterSubmit($event)"></mail-chimp>
  </div>
</div>
<!--subcribe end--> 

<!--footer start-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 footer_in footer_edu">
        <h4> {{ data?.footer_column_first.title }} </h4>
        <p> {{ data?.footer_column_first.description }} </p>
        <ul class="social">
          <li *ngFor="let socialicon of data?.footer_column_first.links">
          <a href="{{socialicon.url}}" target="_blank"> <img src="{{socialicon.image | image:33:33 }}" alt=""/> </a>
          </li>
         
        </ul>
      </div>
      <div class="col-lg-3 footer_in links">
        <h4> {{data?.footer_column_second.title}} </h4>
        <ul>
          <li *ngFor="let single of data?.footer_column_second.menu_item">

            <a *ngIf="single.type == 'external_link'" routerLink="{{single.link}}">{{single.name}}</a>
            <a *ngIf="single.type == 'internal_link'" routerLink="/{{single.link}}">{{single.name}}</a>
            <a *ngIf="single.type == 'page_link'" routerLink="/page/{{(single.page != null) ? single.page.slug.toLowerCase() : single.name.toLowerCase() }}">{{single.name}}</a>

          </li>
        </ul>
      </div>
      <div class="col-lg-3 footer_in links">
        <h4> {{data?.footer_column_third.title}}</h4>
        <ul>
          <li *ngFor="let student_help of data?.footer_column_third.menu_item">
           
            <a *ngIf="student_help.type == 'external_link'" routerLink="{{student_help.link}}">{{student_help.name}}</a>
            <a *ngIf="student_help.type == 'internal_link'" routerLink="/{{student_help.link}}">{{student_help.name}}</a>
            <a *ngIf="student_help.type == 'page_link'" routerLink="/page/{{(student_help.page != null) ? student_help.page.slug.toLowerCase() : student_help.name.toLowerCase() }}">{{student_help.name}}</a>

          </li>
        </ul>
      </div>
      <div class="col-lg-3 footer_in get-in-touch">
        <h4> {{data?.footer_column_forth.title}}</h4>
        <ul class="contact">
          <li class="loaction">{{data?.footer_column_forth.address}}</li>
          <li class="call loaction"> Phone: <a href="tel:{{data?.footer_column_forth.phone}}"> {{data?.footer_column_forth.phone}} </a></li>
          <li class="mail loaction"> Email: <a href="mailto:{{data?.footer_column_forth.email}}"> {{data?.footer_column_forth.email}}</a></li>
          <li class="website loaction"> Website: <a href="{{data?.footer_column_forth.website}}" target="_blank">{{data?.footer_column_forth.website}} </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer end--> 
<div class="copyright">
  <div class="container">
    <div class="row">
      <p class="copy_right"> {{data?.footer_column_fifth.copyright}} </p>
      <p class="designby">Designed & Developed By <a href="https://www.techtic.com/" target="_blank">Techtic Solutions</a></p>
    </div>
  </div>
</div>

<simple-notifications [options]="options"></simple-notifications>

