<innerbanner-app [title]="' forgot password '"  [bc]="' forgot password '"></innerbanner-app>


<div class="log_in full_border_style">
<div class="container">
<div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-style" id="login">
            <div class="header-style-inner">
                <h2>Forgot Password</h2>
            </div>
        </div>
        <form name="form"  (ngSubmit)="submitNow(f)" #f="ngForm"  novalidate>
        
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="log_inner">
                    <button type="button" class="login_icon"> <img src="images/login-icon1.png" alt=""/> </button>
                    <input type="text" class="login_id"  name="email" placeholder="Email"  [(ngModel)]="model.email" #email="ngModel"  />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="log_inner log_top">
                    <button class="log_in_btn"> Submit </button>
                </div>
            </div>
        </form>
</div>
</div>
</div>