  <div class="navbar navbar-dark bg-primary custom_header">
  <div class="container">
    <div class="navbar-brand logo"><a href="#"><img src="images/logo.svg" alt=""></a></div>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-toggleable-md" id="navbar-header">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a routerLink="/" routerLinkActive="" class="nav-link">Home</a></li>
       
        <li class="nav-item" *ngFor="let single of menu">
          <!-- <a *ngIf="pageFound(single.name).length > 0" routerLink="{{pageFound(single.name)[0].slug}}" routerLinkActive="active" class="nav-link">{{single.name}}</a>
          <a *ngIf="pageFound(single.name).length == 0" routerLink="/page/{{(single.page != null) ? single.page.slug.toLowerCase() : single.name.toLowerCase() }}" routerLinkActive="active" class="nav-link">{{single.name}}</a> -->
     
          <a *ngIf="single.type == 'external_link'" routerLink="{{single.link}}" routerLinkActive="active" class="nav-link">{{single.name}}</a>
          <a *ngIf="single.type == 'internal_link'" routerLink="/{{single.link}}" routerLinkActive="active" class="nav-link">{{single.name}}</a>
          <a *ngIf="single.type == 'page_link'" routerLink="/page/{{(single.page != null) ? single.page.slug.toLowerCase() : single.name.toLowerCase() }}" routerLinkActive="active" class="nav-link">{{single.name}}</a>

        </li>

        <li class="nav-item login_btn">
          <a *ngIf="is_login == false" class="nav-link" [routerLink]="['/login']" [pageScrollDuration]="500" pageScroll href="#login">Login</a> 
          <a *ngIf="is_login == true" class="nav-link" routerLink="/my-account">My Account</a> 
        </li>

        <li class="nav-item login_btn">
          <a *ngIf="is_login == false" class="nav-link regitration" [routerLink]="['/registration']" [pageScrollDuration]="500" pageScroll href="#registration" >Register</a> 

          <a *ngIf="is_login == true" class="nav-link regitration" routerLink="/logout" >Logout</a> 
        </li>


      </ul>
    </div>
  </div>
  </div> 