
<banner-app></banner-app>


<!--Top university-->
<topuniversities-app></topuniversities-app>
<!--Top university End-->

<!--Latest News-->
<latestnews-app></latestnews-app>
<!--Latest News End-->


<!--Student Rating-->
<!-- <studentrating-app></studentrating-app> -->
<!--Student Rating End-->

<!--Recent Blog-->
<recentblog-app></recentblog-app>
<!--Recent Blog End-->

<!--Testimonials-->
<testimonials-app></testimonials-app>
<!--Testimonials End-->

