
<innerbanner-app [title]="' My Account '"  [bc]="' My Account '"></innerbanner-app>

<div class="log_in full_border_style">
<div class="container">
<div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-style" id="login">
            <div class="header-style-inner">
                <h2>login</h2>
            </div>
        </div>
        <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
        
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="log_inner">
                    <button type="button" class="login_icon"> <img src="images/login-icon1.png" alt=""/> </button>
                    <input type="text" class="login_id"  [(ngModel)]="model.email" #email="ngModel" name="email" placeholder="Email" />
                    <label><input type="checkbox" class="remember"  [(ngModel)]="model.remember" #remember="ngModel" name="remember"> <span> Remember me </span></label>
                </div>
            </div>
            
             <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="log_inner">
                    <button type="button" class="login_icon"> <img src="images/login-icon3.png" alt=""/> </button>
                    <input type="text" class="login_id"  [(ngModel)]="model.password" #password="ngModel" name="password" placeholder="Password" />
                    <a href="#"> Forgot Password? </a>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="log_inner log_top">
                    <button class="log_in_btn"> Login </button>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="log_inner log_top">
                    <button class="google"><i> <img src="images/google+.png" alt=""/> </i> Google Account</button>
                    <button class="fb google"><i> <img src="images/fb2.png" alt=""/> </i> Facebook Account</button>
                </div>
            </div>
        </form>
        
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-style" id="registration">
            <div class="header-style-inner">
                <h2>register</h2>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 " id="register-alert">
            <alert></alert>
        </div>

        <form name="form" (ngSubmit)="register()" #f="ngForm" novalidate>

            <div class="col-sm-12 col-md-6">
            	<div class="log_inner">
                	<button type="button" class="login_icon"> <img src="images/login-icon1.png" alt=""/> </button>
                    <input type="text" class="login_id" [(ngModel)]="model.name" #name="ngModel" name="name" placeholder="Your Name" />
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
            	<div class="log_inner">
                	<button type="button" class="login_icon"> <img src="images/login-icon2.png" alt=""/> </button>
                    <input type="email" class="login_id" [(ngModel)]="model.email" #email="ngModel" name="email" placeholder="Your Email" />
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
            	<div class="log_inner">
                	<button type="button" class="login_icon"> <img src="images/login-icon3.png" alt=""/> </button>
                    <input type="password" class="login_id" [(ngModel)]="model.password" #password="ngModel" name="password" placeholder="Password" />
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
            	<div class="log_inner">
                	<button type="button" class="login_icon"> <img src="images/login-icon3.png" alt=""/> </button>
                    <input type="password" class="login_id" [(ngModel)]="model.confirm_password" #confirm_password="ngModel" name="confirm_password" placeholder="Confirm Password" />
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
            	<div class="log_inner">
                	<button type="button" class="login_icon"> <img src="images/login-icon4.png" alt=""/> </button>
                    <input type="text" class="login_id" [(ngModel)]="model.contact_number" #contact_number="ngModel" name="contact_number" placeholder="Contact Number" />
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
            	<div class="log_inner">
                	<button type="button" class="login_icon"> <img src="images/login-icon5.png" alt=""/> </button>
                    <input type="text" class="login_id" [(ngModel)]="model.address" #address="ngModel" name="address" placeholder="Address" />
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
            	<div class="log_inner">
                	<button type="button" class="login_icon"> <img src="images/login-icon6.png" alt=""/> </button>
                    
                    <input type="text" class="login_id" name="state" [(ngModel)]="model.state" #state="ngModel" placeholder="State" />
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="log_inner">
                    <button type="button" class="login_icon"> <img src="images/login-icon6.png" alt=""/> </button>
                    
                    <input type="text" class="login_id" name="country" [(ngModel)]="model.country" #country="ngModel" placeholder="Country" />
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
            	<div class="log_inner">
                	<button type="button" class="login_icon"> <img src="images/login-icon8.png" alt=""/> </button>
                    <input type="text" class="login_id" name="zip_code" [(ngModel)]="model.zip_code" #zip_code="ngModel" placeholder="Zip Code" />
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
            	<div class="log_inner">
                	<button type="button" class="login_icon"> <img src="images/login-icon9.png" alt=""/> </button>
                    <input type="text" class="login_id" name="qualification" [(ngModel)]="model.qualification" #qualification="ngModel" placeholder="Qualification" />
                </div>
            </div>
            
            <div class="col-lg-12">
            	<div class="log_inner terms">
                	<label><input type="checkbox"/> I accept Terms & conditions </label>
                </div>
            </div>
           
           <div class="col-lg-12">
            	<div class="log_inner log_btn">
                	<button class="log_in_sumbit" type="submit"> Sumbit </button>
                </div>
           </div>
        </form>
</div>
</div>
</div>
