<div class="inner_banner about_banner">
<div class="container">
<div class="row">
	<div class="col-lg-12">	
		<div class="inner_banner_caption">
			<div class="inner_banner_text">
			    	<h2 class="left"> {{ title }}</h2>
			        <ul class="right">
			        	<li><a routerLink="/">  Home </a></li>
			            <li> {{bc}} </li>
			        </ul> 
			</div>
		</div>
	</div>
</div>