<innerbanner-app [title]="'Latest News'" [bc]="'Latest News'">
</innerbanner-app>
<div class="blog_inner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8"  *ngIf="newslist?.data?.length> 0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog_cell" *ngFor='let single of newslist?.data'>
                            <div class="blog_img">
                                <img src="{{ single.image | image:768:381 }}" alt=""/>
                            </div>
                            <div class="blog_text">
                                <ul class="news_options">
                                    <li>
                                        <i>
                                            <img src="images/calendar.png" alt=""/>
                                        </i>
                                        {{ single.date  |date: 'd MMM, y' }}
                                    </li>
                                </ul>
                                <h3>
                                    <a routerLink="/news/{{ single.slug }}">
                                        {{ single.title }}
                                    </a>
                                </h3>
                                <p>
                                    {{ single.content  | stripTags | trim_text:300:"..." }}
                                </p>
                                <a routerLink="/news/{{ single.slug }}" class="blog_read_btn">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 pagination_row">
                        <p-paginator rows="{{ newslist?.per_page }}" (onPageChange)="paginate($event)" totalRecords="{{ newslist?.total }}" [rowsPerPageOptions]="[10,20,30]">
                        </p-paginator>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-xs-12" *ngIf="newslist?.data?.length == 0">
                <div class="alert alert-danger">
                    No result found.
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="search_sec blog_inner_right">
                    <h4>
                        Search
                    </h4>
                    <form [formGroup]="searchForm" (ngSubmit)="update_search(searchForm.value)" novalidate>
                        <div class="search_box">
                            <input type="text" placeholder="Search Here" class="search" formControlName="search"/>
                            <button type="submit" class="search_btn">
                            </button>
                        </div>
                    </form>
                </div>
                <div class="blog_inner_right" *ngIf="recentnews?.length> 0">
                    <h4>
                        Recent News
                    </h4>
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 popular_cell" *ngFor = " let singlenews of recentnews ">
                        <div class='row'>
                            <figure class="col-sm-6 col-lg-4">
                                <a routerLink="/news/{{ singlenews?.slug }}">
                                    <img src="{{ singlenews?.image | image:100:80 }}" alt=""/>
                                </a>
                            </figure>
                            <figcaption class="col-sm-6 no-padding col-lg-8">
                                <h5>
                                    <a routerLink="/news/{{ singlenews?.slug }}">
                                        {{ singlenews?.title | stripTags | trim_text:30:"..."  }}
                                    </a>
                                </h5>
                                <small>
                                    {{ singlenews?.date | date: 'd MMM, y' }}
                                </small>
                            </figcaption>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
