<ul>
	<li *ngIf="active_menu == 'profile'" class="ac_profile active"> <a routerLink="/my-account" >Profile</a> </li>
	<li  *ngIf="active_menu != 'profile'" class="ac_profile"> <a routerLink="/my-account" >Profile</a> </li>


    <li *ngIf="active_menu == 'education'" class="ac_education active"><i class="fa fa-graduation-cap" aria-hidden="true"></i> <a routerLink="/my-account/education">Education</a> </li>
    <li *ngIf="active_menu != 'education'" class="ac_education"><i class="fa fa-graduation-cap" aria-hidden="true"></i> <a routerLink="/my-account/education">Education</a> </li>


    <li *ngIf="active_menu == 'interactive-assessment'" class="ac_interactive_assessment active"><i class="fa fa-university" aria-hidden="true"></i> <a routerLink="/my-account/interactive-assessment">Interactive Assessment</a> </li>
    <li *ngIf="active_menu != 'interactive-assessment'" class="ac_interactive_assessment"><i class="fa fa-university" aria-hidden="true"></i> <a routerLink="/my-account/interactive-assessment">Interactive Assessment</a> </li>

    <li *ngIf="active_menu == 'change-password'" class="ac_password active"> <a routerLink="/my-account/change-password">Password</a> </li>
    <li *ngIf="active_menu != 'change-password'" class="ac_password"> <a routerLink="/my-account/change-password">Password</a> </li>


    <li *ngIf="active_menu == 'rating'" class="ac_rating active"> <a routerLink="/my-account/rating">Rating</a> </li>
    <li *ngIf="active_menu != 'rating'" class="ac_rating"> <a routerLink="/my-account/rating">Rating</a> </li>

    <li *ngIf="active_menu == 'activity'" class="ac_activity active"><i class="fa fa-history" aria-hidden="true"></i> <a routerLink="/my-account/activity">Activity</a> </li>
    <li *ngIf="active_menu != 'activity'" class="ac_activity"><i class="fa fa-history" aria-hidden="true"></i> <a routerLink="/my-account/activity">Activity</a> </li>
</ul>