<innerbanner-app [title]="page?.title"  [bc]="page?.title"></innerbanner-app>

<div class="about_info">
<div class="container">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <div class="page-content" [innerHtml]="page?.content"></div>
    </div>
    
</div>
</div>
</div>
