<innerbanner-app [title]="'Forgot Password'"  [bc]="'Forgot Password'"></innerbanner-app>


<div class="log_in full_border_style">
<div class="container">
<div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-style" id="login">
            <div class="header-style-inner">
                <h2>Reset Password</h2>
            </div>
        </div>
        <form [formGroup]="resetPasswordFrom" (ngSubmit)="reset_password(resetPasswordFrom.value)" novalidate>
           
            <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" formControlName="new_password">
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirm_password">
            </div>
            <div class="form-group">
                <button class="btn btn-primery" type="submit">Submit</button>
            </div>
        </form>
</div>
</div>
</div>