<innerbanner-app [title]="'Search University'"  [bc]="'Search University'"></innerbanner-app>

<section class="section-block overflow-hidden top-university">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="search_sec blog_inner_right">
            <h4> Search </h4>
              <div class="search_box">
                <div *ngIf="formComponent">
                  <form [formGroup]="formComponent" (ngSubmit)="updateSearch(formComponent.value)" novalidate>
                    <div class="form-group">
                      <label>Keyword</label>
                      <input type="text" class="form-control" formControlName="keyword">
                    </div>

                    <div class="form-group" *ngIf="courses">
                      <label>Courses</label>
                      <select  class="form-control" formControlName="course">
                        <option value="">All Courses</option>
                        <option *ngFor="let course of courses" value="{{course.id}}">{{course.name}}</option>
                      </select>
                    </div>  

                    <div class="form-group" *ngIf="streams">
                      <label>Stream</label>
                      <select  class="form-control" formControlName="stream">
                        <option value="">All Streams</option>
                        <option *ngFor="let stream of streams" value="{{stream.id}}">{{stream.name}}</option>
                      </select>
                    </div>  


                    <div class="form-group">
                      <label>Campus</label>
                      <input type="text" class="form-control" formControlName="campus">
                    </div>


                    <div class="form-group">
                      <label>Duration</label>
                      <input type="text"  class="form-control" formControlName="duration">
                    </div>
                    <div class="form-group">
                      <label>Intakes</label>
                      <input type="text"  class="form-control" formControlName="intakes">
                    </div>
                    <div class="form-group">
                      <label>Fees  <span >{{search_slider_value?.fees}}</span></label>
                      <div>
                        <div class="min-max-cotnainert">
                          <span class="min pull-left">${{components?.fees?.min}}</span>
                          <span class="max pull-right">${{components?.fees?.max}}</span>
                        </div>
                        <p-slider [step]="40" [min]="components?.fees?.min" [max]="components?.fees?.max" formControlName="fees" [style]="{'width':'100%', 'margin-top':'10px;'}" (onChange)="change_slider($event.values, 'fees')" [range]="true" [animate]="false" [styleClass]="'ui-slider'"></p-slider>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Last education</label>
                      <input type="text"  class="form-control" formControlName="last_education">
                    </div>
                    <div class="form-group">
                      <label>Last education percentage</label>
                      <input type="text"  class="form-control" formControlName="last_education_percentage">
                    </div>
                    <div class="form-group">
                      <label>Duration</label>
                      <input type="text"  class="form-control" formControlName="entry_criteria">
                    </div>
                    <div class="form-group">
                      <label>IETLS Marks</label>
                      <input type="text"  class="form-control" formControlName="marks_ietls">
                    </div>
                    <div class="form-group">
                      <label>TOEFL Marks</label>
                      <input type="text"  class="form-control" formControlName="marks_toefl">
                    </div>
                    <div class="form-group">
                      <label>PTE Marks</label>
                      <input type="text"  class="form-control" formControlName="marks_pte">
                    </div>
                    <div class="form-group">
                      <label>SAT Marks</label>
                      <input type="text"  class="form-control" formControlName="marks_sat">
                    </div>
                    <div class="form-group">
                      <label>GRE Marks</label>
                      <input type="text"  class="form-control" formControlName="marks_gre">
                    </div>




                    <!-- <div class="form-group" formArrayName="component" *ngFor="let comp of components">
                                      <label>{{comp.name}}  <span *ngIf="search_slider_value != undefined && search_slider_value['com_'+comp?.id] != undefined && search_slider_value['com_'+comp?.id] != null && search_slider_value['com_'+comp?.id] != ''">{{search_slider_value['com_'+comp?.id]}}</span></label>
                                    
                                      <input *ngIf="comp?.field_type != 'range_slider'" type="text" class="form-control" formControlName="comp_{{comp?.id}}">
                                    
                                    
                                      <input *ngIf="comp.field_type == 'range_slider'" type="text" class="form-control" formControlName="comp_{{comp.id}}">
                                      <div *ngIf="comp?.field_type == 'range_slider'">
                                        <div class="min-max-cotnainert">
                                          <span class="min pull-left">${{comp?.min}}</span>
                                          <span class="max pull-right">${{comp?.max}}</span>
                                        </div>
                                        <p-slider [step]="10" [min]="comp?.min" [max]="comp?.max" formControlName="comp_{{comp.id}}" [style]="{'width':'100%', 'margin-top':'10px;'}" (onChange)="change_slider($event.values, comp?.id)" [range]="true" [animate]="false" [styleClass]="'ui-slider'"></p-slider>
                                      </div>
                                    </div>  -->                
                    <div class="form-group">
                      <button class="btn btn-primery" type="submit">Submit</button>
                    </div>
                  </form>
                </div>

              </div>
          </div>
        </div>

        <div class="col-sm-8" *ngIf="university?.data?.length > 0">
          <div class="row">
              <div class="col-sm-6 col-md-4" *ngFor="let single of university?.data | paginate : { itemsPerPage:university?.per_page, currentPage:university?.current_page, id : 1, totalItems:university?.total } ">
                  <div class="top_university_col">
                    <label for="text" *ngIf="single?.id == 81">Sponsored by</label>
                    <a  routerLink="/university/{{single.slug}}"><img src="{{ single.image | image:270:135 }}" alt=""></a>
                    <div class="university_col_inner">
                      <h4>{{single.name | stripTags | trim_text:15:"..."}}</h4>
                      <p>{{single.description | stripTags | trim_text:80:"..."}}</p>
                       <a routerLink="/university/{{single.slug}}" class="btn-default">Click here</a>
                       <ul class="rating_star">
                          <li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                          <li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                          <li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                          <li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                          <li><a href="#"><img src="images/rating-star.png" alt=""></a></li>
                       </ul>
                      <div class="clearboth"></div>
                      <div class="add-compare-checkbox">
                        <label  (click)="showLimitMessage(single)"><input type="checkbox" [disabled]="isLimit() && !isFound(single)" [checked]="isFound(single)" (change)="onChange(single, $event)"/> Add to compare</label>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row">
             <div class="col-lg-12 pagination_row">
                <p-paginator rows="{{university?.per_page}}" (onPageChange)="paginate($event)" totalRecords="{{university?.total}}" [rowsPerPageOptions]="[12,24,36]"></p-paginator>
            </div>
          </div>

        </div>

        <div class="col-sm-8" *ngIf="university?.data?.length == 0">
          <div class="alert alert-danger">No result found.</div>
        </div>
      </div>

    </div>
</section>
