<innerbanner-app [title]="'Student Rating'"  [bc]="'Student Rating'"></innerbanner-app>
<section class="section-block overflow-hidden student-rating">
	<div class="container">
    	<div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngFor="let single of studentratingpage?.data | paginate : { itemsPerPage:studentratingpage?.per_page, currentPage:page, id : 1, totalItems:studentratingpage?.total } ">
            	<article class="student-rating-col">
                	<figure class="student-rating-img"><a routerLink="university/{{single.university.slug}}"><img src="{{single.university.image | image:270:135 }}" alt=""></a></figure>
                    <figcaption class="student-rating-conent">
                    	<h5><a routerLink="university/{{single.university.slug}}">{{single.users.name}}</a></h5>
                      <rating  [(ngModel)]="single.rating" [max]="5" [readonly]="true" [titles]="['one','two','three']"></rating>
                    </figcaption>
              </article>
          </div>

         <!--  <div class="col-lg-12 pagination_row">
         <pagination-controls   *ngIf="studentratingpage" (pageChange) = "page = getServerData($event)" id="1" maxSize = "3" directionLinks = "true" autohide = "true" > </pagination-controls>
         </div>
          -->
        </div>
    </div>
</section>