<innerbanner-app [title]="'Testimonial'"  [bc]="'Testimonial'"></innerbanner-app>
<div class="testimonial">
<div class="container">
<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="testimonials?.data">
        	<blockquote class="col-xs-12 col-sm-12 test_info" *ngFor="let single of testimonials?.data">
            	<div class="test_in">
	            	
    	            <figcaption class="col-sm-12">
        	        	<!-- <p>{{single.statement | trim_text:130:"..."}}</p> -->
                        <p [innerHtml]="single.statement | nl2br"></p>
            	    </figcaption>
                 </div>

                <div class=" col-sm-12 test_text">  
                <figure class="test_profile pull-left" > <img src="{{single.author_photo | image:102:102}}" alt=""/></figure> 
                	<h4> {{single.author_name}} </h4>
                    <small> {{single.title}} </small>
                </div>
            </blockquote>
        </div>
</div>

<div class="col-lg-12 pagination_row">
    <p-paginator rows="{{testimonials?.per_page}}" (onPageChange)="paginate($event)" totalRecords="{{testimonials?.total}}" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
</div>

</div>
</div>