<innerbanner-app [title]="'Top University'"  [bc]="'Top University'"></innerbanner-app>

<section class="section-block overflow-hidden top-university">
    <div class="container">
        <div class="row search-page" *ngIf="university?.data?.length > 0">
          <div class="col-sm-12">
            <form name="form" (ngSubmit)="search()" #f="ngForm" novalidate>
              <div class="search_box">
                <input type="text" class="search"  placeholder="Search Here"  [(ngModel)]="model.keyword" #keyword="ngModel" name="keyword">
                <button  class="search_btn" type="submit"></button>
              </div>
            </form>
            <br>
            <br>
          </div>
        </div>

        <div class="row" *ngIf="university?.data?.length > 0">
            
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let single of university?.data">
                <div class="top_university_col">
                <label for="text" *ngIf="single?.id == 81">Sponsored by</label>
                <a  routerLink="/university/{{single.slug}}"><img src="{{ single.image | image:270:135 }}" alt=""></a>
                 <div class="university_col_inner">
                    <h4>{{single.name | stripTags | trim_text:20:"..."}}</h4>
                    <p>{{single.description | stripTags | trim_text:80:"..."}}</p>
                     <a  routerLink="/university/{{single.slug}}" class="btn-default">Click here</a>
                     <rating  *ngIf="single?.avg_ratings.length == 0"  [(ngModel)]="single?.avg_ratings.average" [max]="5" [readonly]="true" [titles]="['one','two','three']"></rating>
                      <rating  *ngIf="single?.avg_ratings.length > 0" [(ngModel)]="single?.avg_ratings[0].average" [max]="5" [readonly]="true" [titles]="['one','two','three']"></rating>
                    <div class="clearboth"></div>
                    <div class="add-compare-checkbox">
                      <label  (click)="showLimitMessage(single)"><input type="checkbox" [disabled]="isLimit() && !isFound(single)" [checked]="isFound(single)" (change)="onChange(single, $event)"/> Add to compare</label>
                    </div>
                </div>


                </div>
          </div>

          <div class="col-lg-12 pagination_row">
              <p-paginator rows="{{university?.per_page}}" (onPageChange)="paginate($event)" totalRecords="{{university?.total}}" [rowsPerPageOptions]="[12,24,36]"></p-paginator>
          </div>
        </div>

        <div class="alert alert-danger" *ngIf="university?.data?.length == 0">No ratings found.</div>

    </div>
</section>
