
<innerbanner-app [title]="'University'"  [bc]="'University'"></innerbanner-app>

<div class="university">
<div class="container">
<div class="row">
  <div class="col-lg-12"> 
    <h3>{{ university?.name | stripTags }}</h3>

    <div class="add-compare-checkbox" *ngIf="university">
      <label  (click)="showLimitMessage(university)"><input type="checkbox" [disabled]="isLimit() && !isFound(university)" [checked]="isFound(university)" (change)="onChange(university, $event)"/> Add to compare</label>
    </div>
    </div>    
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 university_img">

     <!--  <img src="https://www.aibt.qld.edu.au/wp-content/uploads/2017/01/feb-march-orientation.jpg" alt="" *ngIf="university?.id == 81"/>
     <img src="{{university?.image | image:1170:375}}" alt="" *ngIf="university?.id != 81"/> -->
      <img src="{{university?.cover_image | image:1170:375}}" alt="" *ngIf="university?.cover_image != null"/>
      <img src="{{university?.image | image:1170:375}}" alt="" *ngIf="university?.cover_image == null"/>
    </div>  
   
    <div class="col-lg-12 uni_text">
      {{ university?.description }}
    </div>
    <div class="col-lg-12 uni_text">
      <ul>
        <li class='website loaction' *ngIf="university?.web_links"><a href='{{ university?.web_links }}'>{{ university?.web_links }}</a></li>
        <li class='loaction' *ngIf="university?.campus">{{ university?.campus }}</li>
      </ul>
    </div>
      
  

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 uni_table">
 <div class="table-outer">
  <!-- <table class="table course-datatable">
      <thead>
        <tr>
          <th> Course Name </th>
          <th> Stream Name </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of university?.courses">
          <td class="cn">{{ course?.course.name }}</td>
          <td class="sn">{{ course?.stream.name }}</td>
          <td class="cd">
            <div *ngFor="let meta of course?.meta">
              <div *ngIf="meta.meta_value != null && meta.meta_value != '' ">
                <span class="lable" *ngIf="meta.type == 'custom'"><strong>{{ meta.meta_key}} : </strong></span>
                <span class="lable" *ngIf="meta.type != 'custom'"><strong>{{ meta.component.name}} : </strong></span>
                <span class="value"> {{ meta.meta_value }}</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
  </table> -->

  <div *ngIf="university">
  <data-table id="films-grid"
        headerTitle="Course"
        [items]="corses_table"
        [itemCount]="corses_count"
        (reload)="reloadFilms($event)"

        [showFilter]="true"
        [limit]="10"
        [sortBy]="'course_name'"
        [sortAsc]="false"

        [selectColumn]="false"
        [multiSelect]="false"
        [substituteRows]="false"
        [expandableRows]="true"
        [translations]="translations"
        [indexColumnHeader]="'#'"
        [selectOnRowClick]="false"
        >
        <template #dataTableExpand let-item="item">
            <!-- <div style="padding: 5px; color: gray"> -->
              <div *ngFor="let meta of item.meta">
                <div *ngIf="meta.meta_value != null && meta.meta_value != '' ">
                  <span class="lable"><strong>{{ meta.meta_key | meta_name}} : </strong></span>
                  <span class="value"> {{ meta.meta_value }}</span>
                </div>
              </div>
            <!-- </div> -->
        </template>
        <data-table-column
            [property]="'course_name'"
            [header]="'Course name'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'stream_name'"
            [header]="'Stream name'"
            [sortable]="true">
        </data-table-column>
    </data-table>
    </div>

    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="uni_form_map">
      <div class="uni_form contact_left">
          <h2>Email To University</h2>
           <form name="form" (ngSubmit)="applyNow()" #f="ngForm" novalidate> 
         <!--  <form name="form"> -->

             <div class="form">
              <input class="input_contact full_input" placeholder="NAME" type="text" name="name" [(ngModel)]="model.name" #name="ngModel" >
             </div>
             <div class="form">
              <input class="input_contact full_input" placeholder="YOUR EMAIL" type="text" name="email" [(ngModel)]="model.email" #email="ngModel" >
             </div>
             <div class="form">
              <input class="input_contact full_input" placeholder="MOBILE NO" type="text" name='mobile' [(ngModel)]="model.mobile" #mobile="ngModel" >
             </div>
             <div class="form">
                <textarea type="text" class="input_contact full_input commts" name='comment' [(ngModel)]="model.comment" #comment="ngModel" ></textarea>
             </div>
             <div class="form">
                <button class="contact_btn"> Submit </button>
             </div>

          </form>
          <div class="compare_btn_in" *ngIf="university?.apply_now_link">
                <a class='compare_btn' href="{{university?.apply_now_link}}" target='_blank'>Apply To University</a>
               </div>
        </div>
        
        <div class="uni_map" >
        	<iframe [src]="university?.map_embed_link | safeurl " width="569" height="650" frameborder="0" style="border:0" allowfullscreen *ngIf="university?.map_embed_link" ></iframe>
        </div>
  </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="uni_form_map uni_form rate_now">
        <div *ngFor="let single of universityrating?.data | paginate : { itemsPerPage:universityrating?.per_page, currentPage:universityrating?.current_page, id : 1, totalItems:universityrating?.total } " class="rating_outer">
         
         <div class="rating_user">
         <div class="rating_user_img">
         <img src="{{single?.users?.image | image:150:150 }}" alt=""/>
         </div>

    
          </div>

          <div class="rating_comment">
            <div class="rating_user_name">{{single?.users?.name}}</div>
          <p>{{single?.comment}}</p>
          <div class="star">
              <rating name="rating" [(ngModel)]="single.rating" [max]="5" [readonly]="true"
                                      [titles]="['one','two','three']"></rating>
          </div>
          </div>
        </div> 
        <div *ngIf="isComment()==true">
          <h2> Rate now </h2>
             <form name="form" (ngSubmit)="ratingNow()" #f="ngForm" novalidate> 
           <!--  <form name="form"> -->
              <div class="container">
                <rating name="rating" [(ngModel)]="model.rating" [max]="5" [readonly]="isRatingReadonly" 
                                        (onHover)="overStarDoSomething($event)" (onLeave)="resetRatingStar($event)"
                                        [titles]="['one','two','three']" [required]="true" ></rating>
              </div>
              <div class="form">
                <textarea type="text" class="input_contact full_input commts" name='rate_comment' [(ngModel)]="model.rate_comment" #comment="ngModel" ></textarea>
              </div>
               <div class="form">
                  <button class="contact_btn"> Submit </button>
               </div>
               
      
            </form>
        </div>
      </div>
    </div>
      
</div>
</div>
</div>
